&lt;section class=&quot;section from-partners&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title heading&quot;&gt;From Our Partners&lt;/h3&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  &lt;ul class=&quot;headline-list&quot;&gt;
    {{# from-partners }}
  	  &lt;li class=&quot;li&quot;&gt;
        &lt;h4 class=&quot;t-serif recirc-headline&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;&lt;span&gt;{{ title }}&lt;/span&gt;&lt;/a&gt;&lt;/h4&gt;
        &lt;span class=&quot;text--s&quot;&gt;From {{ partner }}&lt;/span&gt;
      &lt;/li&gt; &lt;!-- /.li --&gt;
    {{/ from-partners }}
  &lt;/ul&gt; &lt;!-- /.ul --&gt;
&lt;/section&gt; &lt;!-- /.from-partners --&gt;
