&lt;p&gt;It seems like a quintessential autumn ingredient&mdash;those bottles scream fall foliage and cozy sweaters&mdash;but did you know maple syrup is actually harvested in late winter and early spring? The cold nights and milder days of February and March create pressure in the trees, causing the sap to flow. It's tapped and boiled down into the sweet, golden liquid you pour onto pancakes. Or, even better, onto a French toast souffl&eacute;.&lt;/p&gt;
  {{&gt; atoms-brightcove-video }}
&lt;p&gt;Raid your craft closet and the store for fun, seasonal add-ons that will make your door the envy of the neighborhood. If you can&rsquo;t find every item that this blogger uses in her wreath, customize it based on your taste, and your supplies. The feathers, though, are easy to make&mdash;they&rsquo;re just paper.&lt;/p&gt;
