&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form newsletter-form input-form&quot;&gt;
  &lt;fieldset&gt;
    &lt;legend&gt;Sign up and be the first to know about what matters most to you.&lt;/legend&gt;
    &lt;label for=&quot;newsletter-scope&quot; class=&quot;is-vishidden&quot;&gt;Sign up for our newsletter&lt;/label&gt;
    &lt;div class=&quot;inline-container&quot;&gt;
   		&lt;input type=&quot;newsletter&quot; placeholder=&quot;E-mail address&quot; id=&quot;newsletter-field&quot; class=&quot;input-field newsletter-field&quot; /&gt;
    	&lt;button class=&quot;submit t-bkg rounded&quot;&gt;
      {{&gt; atoms-arrow }}
    	&lt;span class=&quot;is-vishidden&quot;&gt;Sign Me Up&lt;/span&gt;
    &lt;/button&gt; &lt;!-- /.search-submit --&gt;
    &lt;/div&gt; &lt;!-- /.inline-container --&gt;
  &lt;/fieldset&gt;
&lt;/form&gt; &lt;!-- /.newsletter-form --&gt;