<form action="{{ url }}" method="post" class="inline-form search-form">
  <fieldset>
    <legend class="is-vishidden">Search</legend>
    <label for="search-field" class="is-vishidden">Search</label>
    <div class="field-wrap search-field-wrap">
      <input type="search" placeholder="Search" id="search-field" class="search-field" />
    </div> <!-- /.search-field-wrap -->
    <button class="submit t-bkg">
      {{> atoms-magnifying-glass }}
    	<span class="is-vishidden">Search</span>
    </button> <!-- /.search-submit -->
  </fieldset>
</form> <!-- /.search-form -->
