<form action="{{ url }}" method="post" class="inline-form newsletter-form {{ nl-class }}">
  <fieldset>
    <legend class="alt-heading">{{ nl-title }}</legend>
    <p class="dek">{{ nl-dek }}</p>
    {{# nl-options }}
      <div class="field-container field-options cf">
        <ul class="check-list cl-left">
          <li class="cl-item"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"><label for="checkbox1"><span>{{> atoms-check }}</span> Weekly Tips</label></li>
          <li class="cl-item"><input id="checkbox2" name="checkbox" type="checkbox"><label for="checkbox2"><span>{{> atoms-check }}</span> Daily Finds</label></li>
          <li class="cl-item"><input id="checkbox3" name="checkbox" type="checkbox"><label for="checkbox3"><span>{{> atoms-check }}</span> Daily Recipe</label></li>
        </ul> <!-- /.cl-left -->
        <ul class="check-list cl-right">
          <li class="cl-item"><input id="checkbox4" name="checkbox" type="checkbox"><label for="checkbox4"><span>{{> atoms-check }}</span> Beauty &amp; Fashion Solutions</label></li>
          <li class="cl-item"><input id="checkbox5" name="checkbox" type="checkbox"><label for="checkbox5"><span>{{> atoms-check }}</span> Real Simple Weddings</label></li>
          <li class="cl-item"><input id="checkbox6" name="checkbox" type="checkbox"><label for="checkbox6"><span>{{> atoms-check }}</span> Kick-Start Your Wedding Planning</label></li>
        </ul> <!-- /.cl-right -->
      </div> <!-- /.field-options -->
    {{/ nl-options }}
    <div class="inline-container">
      <input type="newsletter" placeholder="Enter your email" id="newsletter-field" class="roomy input-field newsletter-field" />
      <div class="btn-wrap">
       <button class="submit roomy">Sign Up</button>
       <a href="{{ url }}" class="text--s center light t-sans">privacy policy</a>
      </div> <!-- /.btn-wrap -->
    </div> <!-- /.inline-container -->
  </fieldset>
</form> <!-- /.newsletter-form -->
