<form action="{{ url }}" method="post" class="inline-form newsletter-form input-form">
  <fieldset>
    <legend>Sign up and be the first to know about what matters most to you.</legend>
    <label for="newsletter-scope" class="is-vishidden">Sign up for our newsletter</label>
    <div class="inline-container">
   		<input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="input-field newsletter-field" />
    	<button class="submit t-bkg rounded">
      {{> atoms-arrow }}
    	<span class="is-vishidden">Sign Me Up</span>
    </button> <!-- /.search-submit -->
    </div> <!-- /.inline-container -->
  </fieldset>
</form> <!-- /.newsletter-form -->