<form action="{{ url }}" method="post" class="inline-form newsletter-form">
  <fieldset>
    <legend class="alt-heading">Daily Finds Newsletter</legend>
    <p class="dek">Get new daily finds delivered to your inbox!</p>
    <div class="inline-container">
      <input type="newsletter" placeholder="Enter your email" id="newsletter-field" class="roomy input-field newsletter-field" />
      <div class="btn-wrap">
       <button class="submit roomy">Sign Up</button>
       <a href="{{ url }}" class="text--s center light t-sans">privacy policy</a>
      </div> <!-- /.btn-wrap -->
    </div> <!-- /.inline-container -->
  </fieldset>
</form> <!-- /.newsletter-form -->
