<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="email-friend">
	<div class="email-friend-inner">
		<a href="#close" class="icon icon-x icon--med no-bg js-toggle-parent">{{> atoms-x }}</a>
		<form method="post" action="{{ url }}" class="email-friend-form">
			<fieldset>
				<header class="form-head">
					<legend class="form-title gamma upper">Email a Friend</legend>
					<p class="text--m">Email "10 Delicious Recipes for Leftover Wine | Real Simple" will be e-mailed to the address(es) below.</p>
				</header> <!-- /.form-head -->
				<div class="field-container field-recipients-email">
					<label class="is-vishidden" for="recipients-email">Recipient's Email</label>
					<input id="recipients-email" type="text" placeholder="Recipient's Email (required)" />
					<span class="field-desc">You can enter multiple e-mail(s), separated by a comma (maximum of 5)</span>
				</div> <!-- /.field-recipients-email -->
				<div class="field-container field-your-email">
					<label class="is-vishidden" for="your-email">Your Email</label>
					<input id="your-email" type="text" placeholder="Your Email (required)" />
				</div> <!-- /.field-your-email -->
				<div class="field-container field-first-name">
					<label class="is-vishidden" for="your-first-name">Your first name</label>
					<input id="your-first-name" type="text" placeholder="Your first name (required)" />
				</div> <!-- /.field-first-name -->
				<div class="field-container field-message">
					<label for="message-field">Add a message <span>(500 character limit)</span></label>
					<textarea id="message-field" rows="5" placeholder="Write your message here"></textarea>
				</div> <!-- /.field-message -->
				<div class="field-container field-recaptcha">
					<label for="message-field">Are you human? <span>(required)</span></label>
					<div class="g-recaptcha" data-sitekey="6LcxdwITAAAAADonTKwaAqfeJcTZ0uwE8Jhcl4YH"></div>
				</div> <!-- /.field-recaptcha -->
				<footer class="form-foot text">
					<button class="btn">Send</button>
					<a href="" class="lower text--m">Privacy Policy</a>
				</footer> <!-- /.form-foot -->
			</fieldset>
		</form>
	</div> <!-- /.email-friend-inner -->
</div> <!-- /.email-friend -->
