<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }} | Real Simple</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="../../js/modernizr.js" type="text/javascript"></script>
		<script src="//use.typekit.net/fgx3tqo.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<script>
			/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
			window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var a=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];a.rel="stylesheet",a.href=e[o&&n?0:o?1:2],a.media="only x",r.parentNode.insertBefore(a,r),setTimeout(function(){a.media="all"})},a=new t.Image;a.onerror=function(){o(!1)},a.onload=function(){o(1===a.width&&1===a.height)},a.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
				var iconpath = '../../../source/images/svg/output/';
			grunticon([iconpath+"icons.data.svg.css", iconpath+"icons.data.png.css", iconpath+"icons.fallback.css"]);
		</script>

		<noscript><link href="../../../source/images/svg/output/icons.fallback.css" rel="stylesheet"></noscript>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../../../source/css/style.css?{{ cacheBuster }}" media="all" />

		<link rel="stylesheet" href="http://img5.timeinc.net/hat/css/style.css">
		<script src="http://img5.timeinc.net/hat/js/time-hat.js"></script>

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->

	</head>
	<body class="body body-{{ bodyClass }}">
