
  <!-- <script src="../../js/source/global.js" type="text/javascript"></script> -->
  <script src="../../js/jquery-2.0.0b2.js" type="text/javascript"></script>
  <script src="../../js/plugins.js" type="text/javascript"></script>
  <script src="../../js/main.js" type="text/javascript"></script>
  <script src="../../js/js-tests.js" type="text/javascript"></script>

  <div class="load"></div>
  <div class="overlay"></div>
  <!-- <a href="#close" class="icon no-bg rounded icon-x icon--standard icon--medium icon--fixed">{{> atoms-x }}</a> -->

  <!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
</html>
