&lt;div class=&quot;img-wrap&quot;&gt;
  {{&gt; atoms-image }}
  {{# credit }}
    &lt;span class=&quot;credit&quot;&gt;Photo by {{ credit }}&lt;/span&gt;
  {{/ credit }}
&lt;/div&gt; &lt;!-- /.img-wrap --&gt;
