&lt;div class=&quot;img-wrap&quot;&gt;
  {{# large-image }}
    &lt;a href=&quot;{{ large-image }}&quot; class=&quot;enlarge&quot;&gt;
  {{/ large-image }}
    {{&gt; atoms-image }}
  {{# large-image }}
    &lt;/a&gt;
  {{/ large-image }}
  {{# credit }}
    &lt;span class=&quot;credit&quot;&gt;Photo by {{ credit }}&lt;/span&gt;
  {{/ credit }}
&lt;/div&gt; &lt;!-- /.img-wrap --&gt;
