&lt;div class=&quot;block block-inset&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot; class=&quot;inner&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			{{&gt; atoms-landscape-4x3 }}
		&lt;/div&gt; &lt;!-- /.b-thumb --&gt;
		&lt;div class=&quot;b-text&quot;&gt;
      &lt;div class=&quot;unify&quot;&gt;
        {{&gt; molecules-kicker }}
  			&lt;h3 class=&quot;headline&quot;&gt;{{ headline.short }}&lt;/h3&gt;
        {{&gt; molecules-byline }}
      &lt;/div&gt; &lt;!-- /.unify --&gt;
		&lt;/div&gt; &lt;!-- /.b-text --&gt;
	&lt;/a&gt; &lt;!-- /.inner --&gt;
&lt;/div&gt; &lt;!-- /.block-inset --&gt;
