&lt;div class=&quot;page&quot;&gt;
  {{&gt; organisms-header }}

  &lt;div class=&quot;main cf&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;

    &lt;div class=&quot;page-header bg--teal&quot;&gt;
      &lt;div class=&quot;lc rel&quot;&gt;
        &lt;span class=&quot;path--white logo--small center-block logo-eyebrow&quot;&gt;{{&gt; atoms-logo }}&lt;/span&gt;
        &lt;h1 class=&quot;page-title center upper white&quot;&gt;Pin the Perfect Pad&lt;/h1&gt;
        {{&gt; molecules-presented-by }}
      &lt;/div&gt; &lt;!-- /.lc --&gt;
    &lt;/div&gt; &lt;!-- /.page-header --&gt;

    &lt;div class=&quot;lc cf&quot;&gt;
      &lt;div class=&quot;pin-head&quot;&gt;
        &lt;h2 class=&quot;lead-subtitle&quot;&gt;Find inspiration for your home project. Everything you need to know, from stoves to floors, in one simple chart.&lt;/h2&gt;
        &lt;div class=&quot;article-tools&quot;&gt;
          {{&gt; molecules-social-share }}
          {{&gt; molecules-content-utility }}
        &lt;/div&gt; &lt;!-- /.article-tools --&gt;
      &lt;/div&gt; &lt;!-- /.pin-head --&gt;

      &lt;div class=&quot;pin-content rel&quot;&gt;

        &lt;div class=&quot;shift-left--slim&quot;&gt;
          &lt;div class=&quot;search-filters&quot;&gt;
            &lt;nav class=&quot;nav-check-list nav-check-list--room check-group&quot; data-filter-group=&quot;rooms&quot;&gt;
              &lt;h4 class=&quot;upper nav-check-list-title js-toggle-parent text--l&quot;&gt;Room &lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/h4&gt;
              &lt;ul class=&quot;check-list&quot;&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox1&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.bedroom&quot;&gt;&lt;label for=&quot;checkbox1&quot;&gt;&lt;span&gt;{{&gt; atoms-check }}&lt;/span&gt; Bedroom&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox2&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.dining-room&quot;&gt;&lt;label for=&quot;checkbox2&quot;&gt;&lt;span&gt;{{&gt; atoms-check }}&lt;/span&gt; Dining Room&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.living-room&quot;&gt;&lt;label for=&quot;checkbox3&quot;&gt;&lt;span&gt;{{&gt; atoms-check }}&lt;/span&gt; Living Room&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox4&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.den&quot;&gt;&lt;label for=&quot;checkbox4&quot;&gt;&lt;span&gt;{{&gt; atoms-check }}&lt;/span&gt; Den&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox5&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.office&quot;&gt;&lt;label for=&quot;checkbox5&quot;&gt;&lt;span&gt;{{&gt; atoms-check }}&lt;/span&gt; Office&lt;/label&gt;&lt;/li&gt;
              &lt;/ul&gt; &lt;!-- /.check-list --&gt;
            &lt;/nav&gt; &lt;!-- /.nav-check-list --&gt;
            &lt;nav class=&quot;nav-check-list nav-check-list--color check-group&quot; data-filter-group=&quot;colors&quot;&gt;
              &lt;h4 class=&quot;upper nav-check-list-title js-toggle-parent text--l&quot;&gt;Color &lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/h4&gt;
              &lt;ul class=&quot;check-list&quot;&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox6&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.brown&quot;&gt;&lt;label for=&quot;checkbox6&quot;&gt;&lt;span class=&quot;path--white rounded pin-brown&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; Brown&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox7&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.beige&quot;&gt;&lt;label for=&quot;checkbox7&quot;&gt;&lt;span class=&quot;path--white rounded pin-beige&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; Beige&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox8&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.orange&quot;&gt;&lt;label for=&quot;checkbox8&quot;&gt;&lt;span class=&quot;path--white rounded pin-orange&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; Orange&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox9&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.blue&quot;&gt;&lt;label for=&quot;checkbox9&quot;&gt;&lt;span class=&quot;path--white rounded pin-blue&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; Blue&lt;/label&gt;&lt;/li&gt;
                &lt;li class=&quot;cl-item&quot;&gt;&lt;input id=&quot;checkbox10&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; value=&quot;.green&quot;&gt;&lt;label for=&quot;checkbox10&quot;&gt;&lt;span class=&quot;path--white rounded pin-green&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; Green&lt;/label&gt;&lt;/li&gt;
              &lt;/ul&gt; &lt;!-- /.check-list --&gt;
            &lt;/nav&gt; &lt;!-- /.nav-check-list --&gt;
          &lt;/div&gt; &lt;!-- /.search-filters --&gt;
        &lt;/div&gt; &lt;!-- /.search-left--slim --&gt;

        &lt;div class=&quot;shift-right--slim&quot;&gt;
          &lt;div class=&quot;shift-right--slim-inner&quot;&gt;
            &lt;div class=&quot;grid cf&quot;&gt;
              &lt;div class=&quot;stamp&quot;&gt;{{&gt; atoms-ad-300x250 }}&lt;/div&gt;
              &lt;div class=&quot;grid-item dining-room brown beige&quot;&gt;&lt;img src=&quot;http://placehold.it/300x450&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item den beige orange&quot;&gt;&lt;img src=&quot;http://placehold.it/300x300&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item office blue&quot;&gt;&lt;img src=&quot;http://placehold.it/300x400&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item dining-room orange&quot;&gt;&lt;img src=&quot;http://placehold.it/300x450&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item bedroom green beige&quot;&gt;&lt;img src=&quot;http://placehold.it/300x350&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item office orange blue&quot;&gt;&lt;img src=&quot;http://placehold.it/300x250&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item living-room brown&quot;&gt;&lt;img src=&quot;http://placehold.it/300x450&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item den blue&quot;&gt;&lt;img src=&quot;http://placehold.it/300x400&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item living-room orange green&quot;&gt;&lt;img src=&quot;http://placehold.it/300x450&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item den blue&quot;&gt;&lt;img src=&quot;http://placehold.it/300x450&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item office beige&quot;&gt;&lt;img src=&quot;http://placehold.it/300x350&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item dining-room green&quot;&gt;&lt;img src=&quot;http://placehold.it/300x500&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item bedroom brown beige green&quot;&gt;&lt;img src=&quot;http://placehold.it/300x400&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;grid-item den blue brown&quot;&gt;&lt;img src=&quot;http://placehold.it/300x450&quot;&gt;&lt;/div&gt;
            &lt;/div&gt; &lt;!-- /.grid --&gt;
          &lt;/div&gt; &lt;!-- /.shift-right--slim-inner --&gt;
        &lt;/div&gt; &lt;!-- /.shift-right--slim --&gt;

        &lt;div class=&quot;powered-by&quot;&gt;
          &lt;a href=&quot;http://pinterest.com&quot;&gt;
            &lt;span class=&quot;black text--s upper&quot;&gt;Powered By&lt;/span&gt;&lt;br&gt;
            &lt;img src=&quot;../../images/svg/compressed/logo-pinterest.svg&quot; alt=&quot;Pinterest logo&quot;&gt;
          &lt;/a&gt;
        &lt;/div&gt; &lt;!-- /.powered-by --&gt;

      &lt;/div&gt; &lt;!-- .pin-content --&gt;

    &lt;/div&gt; &lt;!-- /.lc --&gt;
  &lt;/div&gt; &lt;!-- /role=main --&gt;

  &lt;!-- &lt;div class=&quot;pager center pad-double-btm pad-top space-double-btm&quot;&gt;
    &lt;a href=&quot;&quot; class=&quot;btn load-more&quot;&gt;Load More&lt;/a&gt;
  &lt;/div&gt; --&gt; &lt;!-- /.pager --&gt;

  {{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
