&lt;div class=&quot;block block-thumb block-option {{ block-class }}&quot;&gt;
  &lt;div class=&quot;b-inner&quot;&gt;
    &lt;div class=&quot;b-thumb&quot;&gt;
      &lt;div class=&quot;img-wrap&quot;&gt;
        {{&gt; atoms-image }}
      &lt;/div&gt; &lt;!-- /.img-wrap --&gt;
    &lt;/div&gt; &lt;!-- /.b-thumb --&gt;
    &lt;div class=&quot;b-text&quot;&gt;
      &lt;input id=&quot;NEWSLETTER_ID-{{ nl-id }}&quot; class=&quot;b-checkbox&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt;
      &lt;label for=&quot;NEWSLETTER_ID-{{ nl-id }}&quot; class=&quot;btn js-option-select&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Select&lt;/span&gt;&lt;/label&gt;
      &lt;h3 class=&quot;b-title&quot;&gt;&lt;strong&gt;{{{ title }}}&lt;/strong&gt;&lt;/h3&gt;
      {{# frequency }}
        &lt;div class=&quot;frequency upper&quot;&gt;{{ frequency }}&lt;/div&gt;
      {{/ frequency }}
      &lt;div class=&quot;dek font--secondary text--r gray--dark&quot;&gt;
        {{{ dek }}}
      &lt;/div&gt; &lt;!-- /.dek --&gt;
    &lt;/div&gt; &lt;!-- /.b-text --&gt;
  &lt;/div&gt; &lt;!-- /.b-inner --&gt;
&lt;/div&gt; &lt;!-- /.block-option --&gt;
