&lt;section class=&quot;section featured-stories cf b-btm&quot;&gt;
	&lt;div class=&quot;g-4up lc&quot;&gt;
    {{# story-blocks }}
		  &lt;div class=&quot;gi&quot;&gt;{{&gt; molecules-block-thumb-headline }}&lt;/div&gt;
    {{/ story-blocks }}
	&lt;/div&gt; &lt;!-- /.g-4up --&gt;
&lt;/section&gt; &lt;!-- /.featured-stories --&gt;
