&lt;aside class=&quot;sidebar&quot; role=&quot;complementary&quot;&gt;
  &lt;div class=&quot;ad-block ad-300x250 block&quot;&gt;
    &lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://placehold.it/300x250&quot;&gt;&lt;/a&gt;
  &lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;
  {{&gt; organisms-daily-finds }}
  {{&gt; organisms-most-shared }}
  &lt;div class=&quot;ad-block ad-sub-offer block&quot;&gt;
    &lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://placehold.it/300x150&quot;&gt;&lt;/a&gt;
  &lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;
  {{&gt; organisms-from-partners }}
  &lt;div class=&quot;ad-block ad-300x250 block&quot;&gt;
    &lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://placehold.it/300x250&quot;&gt;&lt;/a&gt;
  &lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;
&lt;/aside&gt; &lt;!-- /.sidebar --&gt;
