&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;sub--large&quot;&gt;
    &lt;!-- &lt;img src=&quot;http://placehold.it/850x375&quot;&gt; --&gt;
  &lt;/div&gt; &lt;!-- /.sub--large --&gt;
	&lt;div class=&quot;lc lc-inner&quot;&gt;
    {{&gt; atoms-logo }}
    &lt;div class=&quot;g-5up cf f-g&quot;&gt;
      &lt;div class=&quot;gi f-gi&quot;&gt;
        &lt;h4 class=&quot;f-gi-title upper&quot;&gt;RealSimple.com&lt;/h4&gt;
        &lt;ul class=&quot;f-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Food&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Style&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Life&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Shop&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Holidays&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Weddings&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Checklists&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Site Map&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt; &lt;!-- /.f-list --&gt;
      &lt;/div&gt; &lt;!-- /.gi --&gt;
      &lt;div class=&quot;gi f-gi&quot;&gt;
        &lt;h4 class=&quot;f-gi-title upper&quot;&gt;Special Features&lt;/h4&gt;
        &lt;ul class=&quot;f-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Games&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Makeover in Minutes&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;No-Obligation Book Club&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;RS Lifestylers&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Real Simple Rewards&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Real Simple Products&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Meal Planner&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt; &lt;!-- /.f-list --&gt;
      &lt;/div&gt; &lt;!-- /.gi --&gt;
      &lt;div class=&quot;gi f-gi&quot;&gt;
        &lt;h4 class=&quot;f-gi-title upper&quot;&gt;Digital Products&lt;/h4&gt;
        &lt;ul class=&quot;f-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Weeknight Meal Planner&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;No Time to Cook? App&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;To-do List App&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Gift Guide App&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Wedding Checklist App&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt; &lt;!-- /.f-list --&gt;
      &lt;/div&gt; &lt;!-- /.gi --&gt;
      &lt;div class=&quot;gi f-gi&quot;&gt;
        &lt;h4 class=&quot;f-gi-title upper&quot;&gt;Customer Service&lt;/h4&gt;
        &lt;ul class=&quot;f-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Customer Service&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Media Kit&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Site Map&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Terms of Service&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Your California Privacy Rights&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Ad Choices&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt; &lt;!-- /.f-list --&gt;
      &lt;/div&gt; &lt;!-- /.gi --&gt;
      &lt;div class=&quot;gi f-gi&quot;&gt;
        &lt;h4 class=&quot;f-gi-title upper&quot;&gt;Subscribe&lt;/h4&gt;
        &lt;ul class=&quot;f-list&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Subscribe to Real Simple&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;2 for 1 Gift Offer&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Digital Tablet Subscription&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Back Issues&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;&quot;&gt;Email Newsletters&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt; &lt;!-- /.f-list --&gt;
      &lt;/div&gt; &lt;!-- /.gi --&gt;
    &lt;/div&gt; &lt;!-- /.g-4up --&gt;
  &lt;/div&gt; &lt;!-- /.lc --&gt;
  &lt;div class=&quot;f-social&quot;&gt;
    &lt;a class=&quot;no-bg icon rounded icon-facebook icon--medium&quot; href=&quot;https://www.facebook.com/RealSimple&quot;&gt;&lt;span&gt;{{&gt; atoms-facebook }}&lt;/span&gt;&lt;/a&gt;
    &lt;a class=&quot;no-bg icon rounded icon-twitter icon--medium&quot; href=&quot;https://twitter.com/realsimple&quot;&gt;&lt;span&gt;{{&gt; atoms-twitter }}&lt;/span&gt;&lt;/a&gt;
    &lt;a class=&quot;no-bg icon rounded icon-instagram icon--medium&quot; href=&quot;http://instagram.com/real_simple&quot;&gt;&lt;span&gt;{{&gt; atoms-instagram }}&lt;/span&gt;&lt;/a&gt;
    &lt;a class=&quot;no-bg icon rounded icon-pinterest icon--medium&quot; href=&quot;http://www.pinterest.com/realsimple/&quot;&gt;&lt;span&gt;{{&gt; atoms-pinterest }}&lt;/span&gt;&lt;/a&gt;
  &lt;/div&gt; &lt;!-- /.f-social --&gt;
  &lt;div class=&quot;legal&quot;&gt;
    &lt;p class=&quot;copyright&quot;&gt;Copyright &amp;copy; 2015 Time Inc. Lifestyle Group. All rights reserved. Reproduction in whole or in part without permission is prohibited.&lt;/p&gt;
  &lt;/div&gt; &lt;!-- /.legal --&gt;
&lt;/footer&gt; &lt;!-- /.footer --&gt;
