&lt;footer class=&quot;footer pad&quot; role=&quot;contentinfo&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;
	  &lt;div class=&quot;g&quot;&gt;
	    &lt;div class=&quot;gi box-newsletter&quot;&gt;
        {{!&gt; molecules-newsletter }}
	    &lt;/div&gt; &lt;!-- /.gi --&gt;
	    &lt;div class=&quot;gi box-about-us center&quot;&gt;
	      &lt;h3 class=&quot;box-title&quot;&gt;About Us&lt;/h3&gt;
        &lt;!-- &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Our History&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Our Faith&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Prayer Requests&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt; --&gt;
	    &lt;/div&gt; &lt;!-- /.gi --&gt;
	    &lt;div class=&quot;gi box-social center&quot;&gt;
        &lt;h3 class=&quot;box-title&quot;&gt;Find Us&lt;/h3&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a class=&quot;icon s-facebook&quot; href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-facebook }}&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a class=&quot;icon s-twitter&quot; href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-twitter }}&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a class=&quot;icon s-youtube&quot; href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-youtube }}&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a class=&quot;icon s-google&quot; href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-google }}&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
	    &lt;/div&gt; &lt;!-- /.gi --&gt;
	  &lt;/div&gt; &lt;!-- /.g --&gt;
	&lt;/div&gt; &lt;!-- /.lc --&gt;
	&lt;div class=&quot;legal&quot;&gt;
	  &lt;!-- &lt;div class=&quot;img-wrap&quot;&gt;{{&gt; atoms-logo }}&lt;/div&gt; --&gt;
  	&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2014, GoNOLA.com.&lt;/p&gt;
  	&lt;a href=&quot;{{ url }}&quot;&gt;Terms of Service&lt;/a&gt; &lt;br&gt;
  	&lt;a href=&quot;{{ url }}&quot;&gt;Privacy Policy&lt;/a&gt;
	&lt;/div&gt; &lt;!-- /.legal --&gt;
&lt;/footer&gt; &lt;!-- /.footer --&gt;
