&lt;section class=&quot;section most-shared&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title heading&quot;&gt;Most Shared&lt;/h3&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  &lt;ol class=&quot;block-list&quot;&gt;
    {{# most-shared }}
  	  &lt;li class=&quot;bi&quot;&gt;{{&gt; molecules-block-thumb-headline }}&lt;/li&gt;
    {{/ most-shared }}
  &lt;/ol&gt; &lt;!-- /.block-list --&gt;
&lt;/section&gt; &lt;!-- /.most-shared --&gt;
