&lt;a class=&quot;logo-link&quot; href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/svg/compressed/thelifechurch-logo.svg&quot; class=&quot;logo&quot; alt=&quot;The Life Church&quot; /&gt;&lt;/a&gt;