&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form search-form&quot;&gt;
  &lt;fieldset&gt;
    &lt;legend class=&quot;is-vishidden&quot;&gt;Search&lt;/legend&gt;
    &lt;label for=&quot;search-field&quot; class=&quot;is-vishidden&quot;&gt;Search&lt;/label&gt;
    &lt;div class=&quot;field-wrap search-field-wrap&quot;&gt;
      &lt;input type=&quot;search&quot; placeholder=&quot;Search&quot; id=&quot;search-field&quot; class=&quot;search-field&quot; /&gt;
    &lt;/div&gt; &lt;!-- /.search-field-wrap --&gt;
    &lt;button class=&quot;submit t-bkg&quot;&gt;
      {{&gt; atoms-magnifying-glass }}
    	&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;
    &lt;/button&gt; &lt;!-- /.search-submit --&gt;
  &lt;/fieldset&gt;
&lt;/form&gt; &lt;!-- /.search-form --&gt;
