&lt;div class=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
		{{# sponsored }}
			{{&gt; molecules-sponsor-header }}
		{{/ sponsored }}
		&lt;div class=&quot;primary&quot;&gt;
			&lt;section class=&quot;primary-inner&quot;&gt;
				&lt;article class=&quot;article article-recipe&quot; itemscope itemtype=&quot;http://schema.org/Recipe&quot;&gt;

					{{# recipe-head }}
						&lt;header class=&quot;article-header cf&quot;&gt;
							{{&gt; molecules-kicker }}
							&lt;h1 class=&quot;lead-headline left-halved&quot; itemprop=&quot;name&quot;&gt;{{ title }}&lt;/h1&gt;
							&lt;div class=&quot;primary-image right-halved&quot;&gt;
								{{&gt; molecules-image-with-social }}
							&lt;/div&gt; &lt;!-- /.primary-image --&gt;
							&lt;div class=&quot;recipe-meta left-halved&quot;&gt;
								&lt;div class=&quot;five-star-wrap&quot;&gt;
									&lt;div class=&quot;five-star recipe-five-star&quot;&gt;
										&lt;span class=&quot;title light&quot;&gt;Rating&lt;/span&gt;
										&lt;div class=&quot;rating&quot;&gt;
											&lt;span class=&quot;star star--1&quot;&gt;&amp;#9733;&lt;/span&gt;
											&lt;span class=&quot;star star--2&quot;&gt;&amp;#9733;&lt;/span&gt;
											&lt;span class=&quot;star star--3&quot;&gt;&amp;#9733;&lt;/span&gt;
											&lt;span class=&quot;star star--4&quot;&gt;&amp;#9733;&lt;/span&gt;
											&lt;span class=&quot;star star--5&quot;&gt;&amp;#9733;&lt;/span&gt;
										&lt;/div&gt; &lt;!-- /.rating --&gt;
									&lt;/div&gt; &lt;!-- /.five-star --&gt;
									&lt;a href=&quot;&quot; class=&quot;alt text--m&quot;&gt;Read Reviews&lt;/a&gt;
								&lt;/div&gt; &lt;!-- /.five-star-wrap --&gt;
								&lt;div class=&quot;recipe-data&quot;&gt;
									&lt;ul class=&quot;dl&quot;&gt;
										&lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Serves&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;2&lt;/span&gt;&lt;/li&gt;
										&lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Hands On Time&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;&lt;time datetime=&quot;PT30M&quot; itemprop=&quot;prepTime&quot;&gt;30 min&lt;/time&gt;&lt;/span&gt;&lt;/li&gt;
										&lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Other Time&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;&lt;time datetime=&quot;PT1H&quot; itemprop=&quot;cookTime&quot;&gt;1 hour&lt;/time&gt;
										&lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Total Time&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;&lt;time datetime=&quot;PT1H30M&quot; itemprop=&quot;totalTime&quot;&gt;1 hour 30 min&lt;/time&gt;&lt;/span&gt;&lt;/li&gt;
										&lt;/span&gt;&lt;/li&gt;
										&lt;li&gt;&lt;a href=&quot;&quot; class=&quot;alt text--m&quot;&gt;Nutritional Information&lt;/a&gt;&lt;/li&gt;
										&lt;li&gt;&lt;span class=&quot;text--s-m light&quot;&gt;{{ date }}&lt;/span&gt;&lt;/li&gt;
									&lt;/ul&gt; &lt;!-- /.dl --&gt;
								&lt;/div&gt; &lt;!-- /.recipe-data --&gt;
							&lt;/div&gt; &lt;!-- /.recipe-meta --&gt;
							&lt;div class=&quot;article-tools&quot;&gt;
								{{&gt; molecules-social-share }}
								{{&gt; molecules-content-utility }}
							&lt;/div&gt; &lt;!-- /.article-tools --&gt;
						&lt;/header&gt; &lt;!-- /.article-header --&gt;
					{{/ recipe-head }}

					&lt;div class=&quot;ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm&quot;&gt;
						&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg&quot;&gt;&lt;/a&gt;
					&lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;

					&lt;section class=&quot;section recipe-body cf&quot;&gt;
						{{&gt; organisms-recipe-body }}
					&lt;/section&gt; &lt;!-- /.recipe-body --&gt;

					&lt;div class=&quot;byline byline--s&quot; itemprop=&quot;author&quot;&gt;By &lt;span&gt;Sarah Robbins&lt;/span&gt;&lt;/div&gt;
					&lt;div class=&quot;more-links&quot;&gt;
						&lt;span class=&quot;upper space-half-r&quot;&gt;More:&lt;/span&gt; &lt;a class=&quot;alt&quot; href=&quot;&quot;&gt;Health&lt;/a&gt;, &lt;a class=&quot;alt&quot; href=&quot;&quot;&gt;Nutrition&lt;/a&gt;, &lt;a class=&quot;alt&quot; href=&quot;&quot;&gt;Cooking&lt;/a&gt;
					&lt;/div&gt; &lt;!-- /.more-links --&gt;

				&lt;/article&gt; &lt;!-- /.article-standard --&gt;

				{{&gt; organisms-content-footer }}
			&lt;/section&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;

		&lt;div class=&quot;secondary&quot;&gt;
			{{&gt; organisms-sidebar }}
		&lt;/div&gt; &lt;!-- /.secondary --&gt;

	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
