<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">


		<div class="g g-3up">
			{{# touts}}
				<div class="gi">
					{{!> molecules-block-inset }}
				</div>
			{{/ touts}}
		</div><!--end 3up-->

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">

				</section>
			</div><!--end .l-main-->

			<div class="l-sidebar">
				{{!> organisms-recent-tweets }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
	{{!> organisms-footer }}
</div>
