<div class="page">
  {{> organisms-header }}
  <hr class="no-space">
  <div class="main cf" role="main" aria-live="polite">
    <div class="lc lc-inner--l cf page--top">
      <div class="shift-left">
        <div class="shift-left-inner">
          <div class="carousel--tabbed js-carousel--tabbed">
            {{# home-carousel }}
              <div class="c-item c-tabbed c-item-{{ item-num }}">
                {{> molecules-image-with-social }}
                <a href="{{ url }}" class="c-tab">
                  <h2 class="c-title">{{ tab-title }}</h2>
                </a> <!-- /.c-tab -->
              </div> <!-- /.c-item -->
            {{/ home-carousel }}
          </div> <!-- /.carousel--tabbed -->
        </div> <!-- /.shift-left-inner -->
      </div> <!-- /.shift-left -->

      <div class="shift-right">
        {{# tip }}
          {{> molecules-block-thumb-headline }}
        {{/ tip }}
        {{> atoms-ad-300x250 }}
      </div> <!-- /.shift-right -->
    </div> <!-- /.lc-inner--l -->

    <section class="section promo-strip">
      <div class="lc-inner--m">
        <div class="g g-3up">
          {{# promo-strip }}
            <div class="gi">
              {{> molecules-block-thumb-headline }}
            </div> <!-- /.gi -->
          {{/ promo-strip }}
        </div> <!-- /.g-3up -->
      </div> <!-- /.lc-inner--m -->
    </section> <!-- /.promo-strip -->

    <div class="lc cf">
      <div class="primary no-space-btm no-pad-btm">
        <div class="primary-inner no-space-btm">
          <section class="section content-modules">
            {{# content-modules-1 }}
              {{> molecules-block-thumb-headline }}
            {{/ content-modules-1 }}
          </section> <!-- /.content-modules -->
          <hr class="space-btm no-space-top">
          {{> organisms-follow-footer }}
          <hr class="space-half-top">
          <section class="section content-modules">
            {{# content-modules-2 }}
              {{> molecules-block-thumb-headline }}
            {{/ content-modules-2 }}
          </section> <!-- /.content-modules -->
        </div> <!-- /.primary-inner -->
      </div> <!-- /.primary -->

      <div class="secondary no-pad-top">
        <aside class="sidebar sidebar--alt" role="complementary">
          {{# subscription-promo }}
            {{> molecules-block-thumb-headline }}
          {{/ subscription-promo }}
          {{> organisms-daily-finds }}
          <div class="ad-block ad-300x600 block">
            <a href=""><img src="http://s1.2mdn.net/viewad/3521978/SINS_WebBanner_300x600.jpg"></a>
          </div> <!-- /.ad-300x250 -->
        </aside> <!-- /.sidebar -->
      </div> <!-- /.secondary -->
      <hr class="no-space-top space-double-btm clear lc-inner--l">
    </div> <!-- /.lc -->

    <div class="lc lc-inner--l cf page--btm">
      <div class="video-module">
        {{# video }}
          {{> molecules-block-media }}
        {{/ video }}
      </div> <!-- /.video-module -->
      <div class="video-blocks">
        {{# video-blocks }}
          {{> molecules-block-thumb-headline }}
        {{/ video-blocks }}
      </div> <!-- /.video-blocks -->
    </div> <!-- /.lc-inner--l -->

    <div class="lc lc-inner space-double-btm pad-half-top">
      <hr class="hr--s space-btm">
      <div class="ad-blocks ad-responsive ad-instream">
        <div class="ad-block ad-300x250 hide-larger"><a href=""><img src="http://dqckmuwjiytix.cloudfront.net/a/8933/img/300x250_Free%20Sample_static.jpg"></a></div>
        <div class="ad-block ad-728x90 hide-large hide-med hide-small"><a href=""><img src="http://s1.2mdn.net/viewad/3340030/clx_clb_e40024_value-oxi_rev_728x90.jpg"></a></div>
      </div> <!-- /.ad-responsive -->
      <hr class="hr--l space-half-top">
    </div> <!-- /.lc-inner -->

  </div><!-- /role=main -->
  {{> organisms-footer }}
</div> <!-- /.page -->
