<div class="page-{{ bodyClass }}" id="page">
	{{> organisms-header }}
	<div role="main">
		<header class="page-header">
			<h1 class="title t-c">Ideas</h1>
			<div class="dek">
				<p>Insight, analysis, and research about innovators and emerging technologies.</p>
			</div> <!-- /.dek -->
		</header> <!-- /.page-header -->
		<div class="l-two-col">
			<div class="l-main">
				<section class="blocks">
					{{# hero-blocks }}
						{{> molecules-block-inset }}
					{{/ hero-blocks }}
				</section> <!-- /.blocks -->
				{{!> organisms-four-short-links }}
			</div> <!-- /.l-main-->
			<div class="l-sidebar">
			</div> <!-- /.l-sidebar-->
		</div> <!-- /.two-col-->
	</div> <!-- /role=main-->
	{{> organisms-footer }}
</div> <!-- /.page -->
