<div class="page" id="page">
	{{> organisms-header }}
	<div class="main cf lc" role="main">
		<div class="primary">
			<div class="primary-inner">

				<section class="section gallery">
					<header class="content-header cf">
						{{# image-list-head }}
							{{> molecules-kicker }}
							<h1 class="lead-headline">{{ title }}</h1>
							<div class="content-tools">
								{{> molecules-social-share }}
								{{> molecules-content-utility }}
							</div> <!-- /.content-tools -->
						</header> <!-- /.content-header -->
					{{/ image-list-head }}
				</section> <!-- /.gallery -->

				{{!> organisms-follow-footer }}
			</div> <!-- /.primary-inner -->
		</div> <!-- /.primary -->
		<div class="secondary">
    	{{> organisms-sidebar }}
    </div> <!-- /.secondary -->
	</div><!-- /role=main -->
	{{> organisms-footer }}
</div> <!-- /.page -->
