<div class="page">
	{{> organisms-header }}
	<div class="main cf lc" role="main" aria-live="polite">
		{{# sponsored }}
			{{> molecules-sponsor-header }}
		{{/ sponsored }}
		<div class="primary">
			<section class="primary-inner">
				<article class="article article-list article-list-type" itemscope itemtype="http://schema.org/Article">

					{{# article-list-head }}
						<header class="article-header cf">
							{{> molecules-kicker }}
							<h1 class="lead-headline" itemprop="headline">{{ title }}</h1>
							<h2 class="lead-subtitle" itemprop="alternativeHeadline">{{ subtitle }}</h2>
							<div class="article-meta">
								{{> molecules-byline }}
								{{> atoms-time }}
							</div> <!-- /.article-details -->
							<div class="article-tools">
								{{> molecules-social-share }}
								{{> molecules-content-utility }}
							</div> <!-- /.article-tools -->
						</header> <!-- /.article-header -->
					{{/ article-list-head }}

					<div class="ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm">
					  <a href=""><img src="http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg"></a>
					</div> <!-- /.ad-300x250 -->

					<section class="section article-body" itemprop="articleBody">
						<div class="listicle soft-red">
							{{# listicle-items-1 }}
								{{> molecules-block-listicle-item }}
							{{/ listicle-items-1 }}

							<hr class="hr--s">

							<div class="ad-blocks ad-responsive ad-instream">
							  <div class="ad-block ad-300x250 hide-larger"><a href=""><img src="http://dqckmuwjiytix.cloudfront.net/a/8933/img/300x250_Free%20Sample_static.jpg"></a></div>
							  <div class="ad-block ad-728x90 hide-large hide-med hide-small"><a href=""><img src="http://s1.2mdn.net/viewad/3340030/clx_clb_e40024_value-oxi_rev_728x90.jpg"></a></div>
							</div> <!-- /.ad-responsive -->

							<hr class="hr--l">

							{{# listicle-items-2 }}
								{{> molecules-block-listicle-item }}
							{{/ listicle-items-2 }}

						</div> <!-- /.listicle -->

						<div class="more-links text">
							<span class="upper space-half-r">Also See:</span> <a href="">Health</a>, <a href="">Nutrition</a>, <a href="">Cooking</a>, <a href="">Weight-loss</a>
						</div> <!-- /.more-links -->

					</section> <!-- /.article-body -->

				</article> <!-- /.gallery -->
				{{!> organisms-follow-footer }}
			</section> <!-- /.primary-inner -->
		</div> <!-- /.primary -->

		<div class="secondary">
    	{{> organisms-sidebar }}
    </div> <!-- /.secondary -->

	</div><!-- /role=main -->
	{{> organisms-footer }}
</div> <!-- /.page -->
