<div class="page">
	{{> organisms-header }}
	<div class="main cf lc" role="main" aria-live="polite">
		{{# sponsored }}
			{{> molecules-sponsor-header }}
		{{/ sponsored }}
		<div class="primary">
			<section class="primary-inner">
				<article class="article article-standard {{ article-class }}" itemscope itemtype="http://schema.org/Article">

					{{# article-head }}
						<header class="article-header {{ header-class }} cf">
							{{> molecules-kicker }} {{# sponsor-label }}<div class="spons-by dib"><span class="text--s-m">presented by</span> {{> atoms-image }}</div>{{/ sponsor-label }}
							<h1 class="lead-headline" itemprop="headline">{{ title }}</h1>
							{{# has-head-meta }}
								<h2 class="lead-subtitle" itemprop="alternativeHeadline">{{ subtitle }}</h2>
								<div class="article-meta">
									{{> molecules-byline }}
									{{> atoms-time }}
								</div> <!-- /.article-details -->
							{{/ has-head-meta }}
							<div class="article-tools">
								{{> molecules-social-share }}
								{{> molecules-content-utility }}
							</div> <!-- /.article-tools -->
						</header> <!-- /.article-header -->
					{{/ article-head }}

					<div class="ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm">
						<a href=""><img src="http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg"></a>
					</div> <!-- /.ad-300x250 -->

					{{# pagination }}
						{{> molecules-pagination }}
					{{/ pagination }}

					<section class="section article-body text" itemprop="articleBody">
						{{# article-body }}
							{{> organisms-article-body-standard }}
						{{/ article-body }}
					</section> <!-- /.article-body -->

					{{# pagination }}
						{{> molecules-pagination }}
					{{/ pagination }}

				</article> <!-- /.article-standard -->

				{{# more-links }}
					{{> molecules-more-links }}
				{{/ more-links }}

				{{> organisms-content-footer }}
			</section> <!-- /.primary-inner -->
		</div> <!-- /.primary -->

		<div class="secondary">
			{{> organisms-sidebar }}
		</div> <!-- /.secondary -->

	</div><!-- /role=main -->
	{{> organisms-footer }}
</div> <!-- /.page -->
