<div class="page">
	{{> organisms-header }}
	<div class="main cf lc" role="main" aria-live="polite">
		{{# sponsored }}
			{{> molecules-sponsor-header }}
		{{/ sponsored }}
		<div class="primary">
			<section class="primary-inner">
				<article class="article article-gallery {{ article-class }}" itemscope itemtype="http://schema.org/Article">

					{{# article-head }}
						<header class="article-header {{ header-class }} cf">
							{{> molecules-kicker }}
							<h1 class="lead-headline" itemprop="headline">{{ title }}</h1>
							<div class="article-tools">
								{{> molecules-social-share }}
								{{> molecules-content-utility }}
							</div> <!-- /.article-tools -->
						</header> <!-- /.article-header -->
					{{/ article-head }}

					<section class="section gallery-container" itemprop="articleBody">
						<div class="gallery">

							<article class="slide slide-starter">
								<div class="slide-inner cf">
									{{# welcome-slide }}
										<div class="slide-img">
											{{> molecules-image-with-social }}
										</div> <!-- /.slide-img -->
										<div class="slide-intro slide-text">
											<p class="dek">{{ slide-intro }}</p>
											{{> molecules-byline }}
											<a href="" class="btn btn--gallery-start">Start <span class="icon icon-arrow-right no-bg">{{> atoms-arrow-right }}</span></a>
										</div> <!-- /.slide-intro -->
									{{/ welcome-slide }}
								</div> <!-- /.slide-inner -->
							</article> <!-- /.slide -->

							<div class="slides js-slides">
								{{# slides }}
									{{> molecules-gallery-slide }}
								{{/ slides }}
							</div> <!-- /.slides -->

						</div> <!-- /.gallery -->

						<div class="carousel">
							<ul class="carousel-item-list js-carousel">
								{{# carousel-items }}
									{{> molecules-carousel-item }}
								{{/ carousel-items }}
							</ul> <!-- /.carousel-item-list -->
						</div> <!-- /.carousel -->

					</section> <!-- /.gallery-container -->

				</article> <!-- /.article-gallery -->

				{{> organisms-content-footer }}
			</section> <!-- /.primary-inner -->
		</div> <!-- /.primary -->

		<div class="secondary">
			{{> organisms-sidebar }}
		</div> <!-- /.secondary -->

	</div><!-- /role=main -->
	{{> organisms-footer }}
</div> <!-- /.page -->
