<div class="page">
	{{> organisms-header }}
	<div class="main cf lc" role="main" aria-live="polite">
		{{# sponsored }}
			{{> molecules-sponsor-header }}
		{{/ sponsored }}
		<div class="primary">
			<section class="primary-inner">
				<article class="article article-gallery {{ article-class }}" itemscope itemtype="http://schema.org/Article">

					{{# article-head }}
						<header class="article-header {{ header-class }} cf">
							{{> molecules-kicker }}
							<h1 class="lead-headline" itemprop="headline">{{ title }}</h1>
							<div class="article-tools">
								{{> molecules-social-share }}
								{{> molecules-content-utility }}
							</div> <!-- /.article-tools -->
						</header> <!-- /.article-header -->
					{{/ article-head }}

					<section class="section gallery-container" itemprop="articleBody">

						<div class="gallery">
							<div class="slides js-slides">
								{{# slides }}
									{{> molecules-gallery-slide }}
								{{/ slides }}
								{{# last-slide }}
								<article class="slide slide--end slide--alt {{ slide-class }}" data-url="{{ data-url }}">
									<div class="slide-inner cf">
										<h4 class="more-title upper light">More In Food</h4>
										<div class="slide-controls">
											{{> molecules-slide-counter }}
											<a href="{{ url }}" class="replay js-replay"><span class="icon icon-replay icon--alt rounded icon--medium">{{> atoms-replay }}</span> <span class="light">Replay</span></a>
										</div> <!-- /.slide-controls -->
										<div class="end-slide-blocks">
											{{# end-slide-blocks }}
												{{> molecules-block-thumb-headline }}
											{{/ end-slide-blocks }}
										</div> <!-- /.end-slide-blocks -->
									</div> <!-- /.slide-inner -->
								</article> <!-- /.slide -->
								{{/ last-slide }}
							</div> <!-- /.slides -->
						</div> <!-- /.gallery -->

						<div class="carousel">
							<ul class="carousel-item-list js-carousel">
								{{# carousel-items }}
									{{> molecules-carousel-item }}
								{{/ carousel-items }}
							</ul> <!-- /.carousel-item-list -->
						</div> <!-- /.carousel -->

					</section> <!-- /.gallery-container -->

				</article> <!-- /.article-gallery -->

				{{> organisms-content-footer }}
			</section> <!-- /.primary-inner -->
		</div> <!-- /.primary -->

		<div class="secondary">
			{{> organisms-sidebar }}
		</div> <!-- /.secondary -->

	</div><!-- /role=main -->
	{{> organisms-footer }}
</div> <!-- /.page -->
