<div class="page">
	{{> organisms-header }}
	<div class="main cf lc" role="main" aria-live="polite">
		{{# sponsored }}
			{{> molecules-sponsor-header }}
		{{/ sponsored }}
		<div class="primary">
			<section class="primary-inner">
				<article class="article article-recipe" itemscope itemtype="http://schema.org/Recipe">

					{{# recipe-head }}
						<header class="article-header cf">
							{{> molecules-kicker }}
							<h1 class="lead-headline left-halved" itemprop="name">{{ title }}</h1>
							<div class="primary-image right-halved">
								{{> molecules-image-with-social }}
							</div> <!-- /.primary-image -->
							<div class="recipe-meta left-halved">
								<div class="five-star-wrap">
									<div class="five-star-rated recipe-five-star">
										<span class="title light">Rating</span>
										<div class="rating">
											<span class="star star--inactive">&#9733;</span>
											<span class="star star--inactive">&#9733;</span>
											<span class="star star--active">&#9733;</span>
											<span class="star star--active">&#9733;</span>
											<span class="star star--active">&#9733;</span>
											<span itemprop="aggregateRating" class="is-vishidden" itemscope itemtype="http://schema.org/AggregateRating">
												<span itemprop="ratingValue">4.0</span> stars based on
												<span itemprop="reviewCount">35</span> reviews
											</span>
										</div> <!-- /.rating -->
									</div> <!-- /.five-star -->
									<a href="" class="alt text--m">Read Reviews</a>
								</div> <!-- /.five-star-wrap -->
								<div class="recipe-data">
									<ul class="dl">
										<li><span class="dt">Serves</span> <span class="dd">2</span></li>
										<li><span class="dt">Hands On Time</span> <span class="dd"><time datetime="PT30M" itemprop="prepTime">30 min</time></span></li>
										<li><span class="dt">Other Time</span> <span class="dd"><time datetime="PT1H" itemprop="cookTime">1 hour</time>
										<li><span class="dt">Total Time</span> <span class="dd"><time datetime="PT1H30M" itemprop="totalTime">1 hour 30 min</time></span></li>
										</span></li>
										<li><a href="" class="alt text--m">Nutritional Information</a></li>
										<li><span class="text--s-m light">{{ date }}</span></li>
									</ul> <!-- /.dl -->
								</div> <!-- /.recipe-data -->
							</div> <!-- /.recipe-meta -->
							<div class="article-tools">
								{{> molecules-social-share }}
								{{> molecules-content-utility }}
							</div> <!-- /.article-tools -->
						</header> <!-- /.article-header -->
					{{/ recipe-head }}

					<div class="ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm">
						<a href=""><img src="http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg"></a>
					</div> <!-- /.ad-300x250 -->

					<section class="section recipe-body cf">
						{{> organisms-recipe-body }}
					</section> <!-- /.recipe-body -->

					{{# recipe-footer }}
						<footer class="article-footer">
							<div class="byline byline--s" itemprop="author">By <span>Sarah Robbins</span></div>
							<div class="more-links">
								<span class="upper space-half-r">More:</span> <a class="alt" href="">Health</a>, <a class="alt" href="">Nutrition</a>, <a class="alt" href="">Cooking</a>
							</div> <!-- /.more-links -->

							<div class="recipe-utility">
								<a href="" class="btn--util btn--util-save">
									<span class="icon icon--disc">{{> atoms-disc }}</span>
									<span class="btn-text">Save This Recipe</span>
								</a> <!-- /.btn--util -->
								<a href="" class="btn--util btn--util-all">
									<span class="icon icon--all-list">{{> atoms-all-list }}</span>
									<span class="btn-text">All <br> Recipes</span>
								</a> <!-- /.btn--util -->
								<a href="" class="btn--util btn--util-print">
									<span class="icon icon--print-fill">{{> atoms-print-fill }}</span>
									<span class="btn-text">Print This Recipe</span>
								</a> <!-- /.btn--util -->
							</div> <!-- /.recipe-utility -->

							<div class="narrow">
								<div class="five-star-wrap">
									<div class="five-star recipe-five-star active-rating">
										<span class="title text--l">Rate this recipe:</span>
										<div class="rating">
											<span class="star">&#9733;</span>
											<span class="star">&#9733;</span>
											<span class="star">&#9733;</span>
											<span class="star">&#9733;</span>
											<span class="star">&#9733;</span>
										</div> <!-- /.rating -->
										<span class="response">Thanks!</span>
									</div> <!-- /.five-star -->
								</div> <!-- /.five-star-wrap -->
							</div> <!-- /.narrow -->

						</footer> <!-- /.article-footer -->
					{{/ recipe-footer }}

				</article> <!-- /.article-standard -->

				{{> organisms-content-footer }}
			</section> <!-- /.primary-inner -->
		</div> <!-- /.primary -->

		<div class="secondary">
			{{> organisms-sidebar }}
		</div> <!-- /.secondary -->

	</div><!-- /role=main -->
	{{> organisms-footer }}
</div> <!-- /.page -->
