<div class="page">
	{{> organisms-header }}
	<div class="main cf lc" role="main" aria-live="polite">
		{{# sponsored }}
			{{> molecules-sponsor-header }}
		{{/ sponsored }}
		<div class="primary">
			<section class="primary-inner">
				<article class="article article-checklist">

					{{# checklist-head }}
						<header class="article-header center article-header--checklist cf">
							{{> molecules-kicker }}
							<div class="header-img">{{> atoms-image }}</div>
							<h1 class="lead-headline" itemprop="name">{{ title }}</h1>
							<h2 class="lead-subtitle" itemprop="alternativeHeadline">{{ subtitle }}</h2>
							<div class="article-tools">
								{{> molecules-social-share }}
								{{> molecules-content-utility }}
							</div> <!-- /.article-tools -->
						</header> <!-- /.article-header -->
					{{/ checklist-head }}

					<div class="ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm">
						<a href=""><img src="http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg"></a>
					</div> <!-- /.ad-300x250 -->

					<section class="section checklist-body cf">
						{{> organisms-checklist-body }}
					</section> <!-- /.checklist-body -->

					<footer class="article-footer">

						{{> molecules-content-utilities }}

						<div class="narrow">
							{{# checklist-app }}
								{{> molecules-block-thumb-dek }}
							{{/ checklist-app }}
						</div> <!-- /.narrow -->

					</footer> <!-- /.article-footer -->

				</article> <!-- /.article-standard -->

				{{> organisms-content-footer }}
			</section> <!-- /.primary-inner -->
		</div> <!-- /.primary -->

		<div class="secondary">
			{{> organisms-sidebar }}
		</div> <!-- /.secondary -->

	</div><!-- /role=main -->
	{{> organisms-footer }}
</div> <!-- /.page -->
