&lt;section class=&quot;section follow-footer&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title alt-heading&quot;&gt;Follow Real Simple&lt;/h3&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  &lt;div class=&quot;g-4up-v2 cf&quot;&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;feed-title center&quot;&gt;&lt;a href=&quot;&quot; class=&quot;no-bg icon rounded icon-pinterest icon--medium&quot;&gt;{{&gt; atoms-pinterest }}&lt;/a&gt;&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-pinterest&quot;&gt;
        &lt;div class=&quot;b-content&quot;&gt;
          &lt;div class=&quot;b-thumbs&quot;&gt;
            &lt;a href=&quot;&quot; class=&quot;pin-img&quot;&gt;&lt;img src=&quot;https://s-media-cache-ak0.pinimg.com/736x/6f/6b/2b/6f6b2b911eca7ced99e6ae4dd32701af.jpg&quot;&gt;&lt;/a&gt;
          &lt;/div&gt; &lt;!-- /.b-thumbs --&gt;
        &lt;/div&gt; &lt;!-- /.b-content --&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;feed-title center&quot;&gt;&lt;a href=&quot;&quot; class=&quot;no-bg icon rounded icon-facebook icon--medium&quot;&gt;{{&gt; atoms-facebook }}&lt;/a&gt;&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-facebook&quot;&gt;
        &lt;a href=&quot;{{ url }}&quot; class=&quot;b-link&quot;&gt;
          &lt;div class=&quot;b-thumb&quot;&gt;
            &lt;img src=&quot;http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/455586795.jpg?itok=N1euulGH&quot;&gt;
          &lt;/div&gt; &lt;!-- /.b-thumb --&gt;
          &lt;div class=&quot;b-content&quot;&gt;
            &lt;div class=&quot;b-text p-abs p-btm&quot;&gt;
              &lt;p&gt;5 Things You Shouldn&rsquo;t Say to a Recent College Graduate&lt;/p&gt;
            &lt;/div&gt; &lt;!-- /.b-thumb --&gt;
          &lt;/div&gt; &lt;!-- /.b-content --&gt;
        &lt;/a&gt; &lt;!-- /.b-link --&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;feed-title center&quot;&gt;&lt;a href=&quot;&quot; class=&quot;no-bg icon rounded icon-instagram icon--medium&quot;&gt;{{&gt; atoms-instagram }}&lt;/a&gt;&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-instagram&quot;&gt;
        &lt;div class=&quot;b-content&quot;&gt;
          &lt;div class=&quot;b-thumb&quot;&gt;
            &lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;http://photos-a.ak.instagram.com/hphotos-ak-xaf1/t51.2885-15/10986114_867319969986192_723374470_n.jpg&quot;&gt;&lt;/a&gt;
          &lt;/div&gt; &lt;!-- /.b-thumb --&gt;
        &lt;/div&gt; &lt;!-- /.b-content --&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;feed-title center&quot;&gt;&lt;a href=&quot;&quot; class=&quot;no-bg icon rounded icon-twitter icon--medium&quot;&gt;{{&gt; atoms-twitter }}&lt;/a&gt;&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-twitter&quot;&gt;
        &lt;div class=&quot;b-content&quot;&gt;
          &lt;div class=&quot;b-text&quot;&gt;
            &lt;p&gt;&lt;i&gt;6 healthy casseroles that are perfect for breakfast, lunch, or dinner: &lt;a href=&quot;&quot;&gt;http://ow.ly/IQbFB&lt;/a&gt;&lt;/i&gt;&lt;/p&gt;
          &lt;/div&gt; &lt;!-- /.b-thumb --&gt;
        &lt;/div&gt; &lt;!-- /.b-content --&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
  &lt;/div&gt; &lt;!-- /.g-4up-v2 --&gt;
&lt;/section&gt; &lt;!-- /.follow-footer --&gt;
