&lt;section class=&quot;section follow-footer&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title upper&quot;&gt;Follow Real Simple&lt;/h3&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  &lt;div class=&quot;g-4up-v2 cf&quot;&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;heading center&quot;&gt;Instagram&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-instagram&quot;&gt;
        &lt;div class=&quot;b-content&quot;&gt;
          &lt;div class=&quot;b-thumb&quot;&gt;
            &lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;http://photos-a.ak.instagram.com/hphotos-ak-xaf1/t51.2885-15/10986114_867319969986192_723374470_n.jpg&quot;&gt;&lt;/a&gt;
          &lt;/div&gt; &lt;!-- /.b-thumb --&gt;
        &lt;/div&gt; &lt;!-- /.b-content --&gt;
        &lt;a href=&quot;{{ url }}&quot; class=&quot;btn-3d&quot;&gt;See On &lt;span class=&quot;icon icon-logo-instagram&quot;&gt;&lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;heading center&quot;&gt;Facebook&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-facebook&quot;&gt;
        &lt;div class=&quot;b-content&quot;&gt;
          &lt;div class=&quot;fb-activity&quot; data-site=&quot;realsimple.com&quot; data-action=&quot;likes, recommends&quot; data-width=&quot;194&quot; data-height=&quot;185&quot; data-colorscheme=&quot;light&quot; data-header=&quot;false&quot;&gt;&lt;/div&gt;
        &lt;/div&gt; &lt;!-- /.b-content --&gt;
        &lt;a href=&quot;{{ url }}&quot; class=&quot;btn-3d&quot;&gt;See On &lt;span class=&quot;icon icon-logo-facebook&quot;&gt;&lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;heading center&quot;&gt;Pinterest&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-pinterest&quot;&gt;
        &lt;div class=&quot;b-content&quot;&gt;
          &lt;h4 class=&quot;b-title&quot;&gt;
            &lt;a href=&quot;{{ url }}&quot; class=&quot;pin-account&quot;&gt;
              &lt;span class=&quot;avatar&quot;&gt;&lt;img src=&quot;https://s-media-cache-ak0.pinimg.com/avatars/realsimple_1410968745_140.jpg&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;accountname&quot;&gt;Real Simple&lt;/span&gt;
            &lt;/a&gt;
          &lt;/h4&gt;
          &lt;div class=&quot;b-thumbs&quot;&gt;
            &lt;a href=&quot;&quot; class=&quot;pin-img&quot;&gt;&lt;img src=&quot;https://s-media-cache-ak0.pinimg.com/736x/6f/6b/2b/6f6b2b911eca7ced99e6ae4dd32701af.jpg&quot;&gt;&lt;/a&gt;
            &lt;a href=&quot;&quot; class=&quot;pin-img&quot;&gt;&lt;img src=&quot;https://s-media-cache-ak0.pinimg.com/736x/fe/37/56/fe3756cc2612a943f5c2fd2281f46b5a.jpg&quot;&gt;&lt;/a&gt;
            &lt;a href=&quot;&quot; class=&quot;pin-img&quot;&gt;&lt;img src=&quot;https://s-media-cache-ak0.pinimg.com/736x/4e/42/b9/4e42b90aaee7c05725aafaf4e8c9cec1.jpg&quot;&gt;&lt;/a&gt;
            &lt;a href=&quot;&quot; class=&quot;pin-img&quot;&gt;&lt;img src=&quot;https://s-media-cache-ak0.pinimg.com/236x/64/74/f0/6474f0128315474ff399af0d98d09a07.jpg&quot;&gt;&lt;/a&gt;
          &lt;/div&gt; &lt;!-- /.b-thumbs --&gt;
        &lt;/div&gt; &lt;!-- /.b-content --&gt;
        &lt;a href=&quot;{{ url }}&quot; class=&quot;btn-3d&quot;&gt;See On &lt;span class=&quot;icon icon-logo-pinterest&quot;&gt;&lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h4 class=&quot;heading center&quot;&gt;Twitter&lt;/h4&gt;
      &lt;div class=&quot;block block-social-feed feed-twitter&quot;&gt;
        &lt;div class=&quot;b-content&quot;&gt;
          &lt;div class=&quot;b-text&quot;&gt;
            &lt;div class=&quot;author-details&quot;&gt;
              &lt;a href=&quot;&quot; class=&quot;screenname&quot;&gt;@RealSimple&lt;/a&gt;&amp;bull;&lt;span class=&quot;timestamp&quot;&gt;34m&lt;/span&gt;
            &lt;/div&gt; &lt;!-- /.t-meta --&gt;
            &lt;p&gt;6 healthy casseroles that are perfect for breakfast, lunch, or dinner: &lt;a href=&quot;&quot;&gt;http://ow.ly/IQbFB&lt;/a&gt;&lt;/p&gt;
          &lt;/div&gt; &lt;!-- /.b-thumb --&gt;
        &lt;/div&gt; &lt;!-- /.b-content --&gt;
        &lt;a href=&quot;{{ url }}&quot; class=&quot;btn-3d&quot;&gt;See On &lt;span class=&quot;icon icon-logo-twitter&quot;&gt;&lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt; &lt;!-- /.block-social-feed --&gt;
    &lt;/div&gt; &lt;!-- /.gi --&gt;
  &lt;/div&gt; &lt;!-- /.g-4up --&gt;
&lt;/section&gt; &lt;!-- /.follow-footer --&gt;
