&lt;nav class=&quot;primary-nav&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li class=&quot;l-top {{ hide-class }}&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Food&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--right&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Accessories&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
    &lt;li class=&quot;l-top {{ hide-class }}&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Home&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--right&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
    &lt;li class=&quot;l-top {{ hide-class }}&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Style&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--right&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Accessories&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
    &lt;li class=&quot;l-top {{ hide-class }}&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Life&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--right&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Accessories&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
    &lt;li class=&quot;l-top {{ hide-class }}&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Shop&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--right&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
    &lt;li class=&quot;l-top {{ hide-class }}&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Holidays&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--right&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
    &lt;li class=&quot;l-top l-follow {{ hover-class }}&quot; data-toggled=&quot;header&quot; data-prefix=&quot;follow&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Follow&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--right&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;https://www.facebook.com/RealSimple&quot;&gt;&lt;span class=&quot;icon rounded icon-facebook icon--large&quot;&gt;{{&gt; atoms-facebook }}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;https://twitter.com/realsimple&quot;&gt;&lt;span class=&quot;icon rounded icon-twitter icon--large&quot;&gt;{{&gt; atoms-twitter }}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;http://instagram.com/real_simple&quot;&gt;&lt;span class=&quot;icon rounded icon-instagram icon--large&quot;&gt;{{&gt; atoms-instagram }}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;http://www.pinterest.com/realsimple/&quot;&gt;&lt;span class=&quot;icon rounded icon-pinterest icon--large&quot;&gt;{{&gt; atoms-pinterest }}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
    &lt;li class=&quot;l-top {{ hide-class }} l-subscribe {{ subscribe-class }}&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;
        &lt;span&gt;Subscribe&lt;/span&gt;
        {{# subscribe-class }}
          &lt;div class=&quot;pop-out&quot;&gt;
            &lt;img src=&quot;../../images/stub_subscribe-pop-out.jpg&quot; height=&quot;376&quot; width=&quot;432&quot; alt=&quot;Subscribe &amp;amp; Save&quot;&gt;
          &lt;/div&gt; &lt;!-- /.pop-out --&gt;
        {{/ subscribe-class }}
      &lt;/a&gt;
    &lt;/li&gt; &lt;!-- /.l-top {{ hide-class }} --&gt;
	&lt;/ul&gt; &lt;!-- /.nav-list --&gt;
&lt;/nav&gt; &lt;!-- .nav --&gt;
