&lt;nav id=&quot;nav&quot; class=&quot;primary-nav&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li class=&quot;l-top&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Food&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Accessories&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top --&gt;
    &lt;li class=&quot;l-top&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Home&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top --&gt;
    &lt;li class=&quot;l-top&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Style&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Accessories&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top --&gt;
    &lt;li class=&quot;l-top&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Life&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Accessories&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top --&gt;
    &lt;li class=&quot;l-top&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Shop&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top --&gt;
    &lt;li class=&quot;l-top&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Holidays&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Shoes&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Clothing Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Hair Care&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeup&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Skincare&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Fragrance&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Makeovers&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;Timesavers&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top --&gt;
    &lt;li class=&quot;l-top&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Subscribe&lt;/a&gt; &lt;span class=&quot;aw js-toggle-parent&quot;&gt;&lt;span class=&quot;arrow arrow--down&quot;&gt;&lt;/span&gt;&lt;/span&gt;
      &lt;ul class=&quot;nav-sub&quot;&gt;
        &lt;li class=&quot;l-sub&quot;&gt;&lt;a href=&quot;&quot;&gt;SUB&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.nav-sub --&gt;
    &lt;/li&gt; &lt;!-- /.l-top --&gt;
	&lt;/ul&gt; &lt;!-- /.nav-list --&gt;
&lt;/nav&gt; &lt;!-- .nav --&gt;
