&lt;div class=&quot;pagination&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot; class=&quot;no-bg no-bdr icon rounded icon-arrow-left icon--medium&quot;&gt;{{&gt; atoms-arrow-left }}&lt;/a&gt;
  &lt;ol class=&quot;page-list&quot;&gt;
    &lt;li class=&quot;page-item current rounded&quot;&gt;1&lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;rounded&quot; href=&quot;{{ url }}&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;rounded&quot; href=&quot;{{ url }}&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;page-item ellip&quot;&gt;&amp;hellip;&lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;rounded&quot; href=&quot;{{ url }}&quot;&gt;12&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt; &lt;!-- /.page-list --&gt;
  &lt;a href=&quot;{{ url }}&quot; class=&quot;no-bg no-bdr icon rounded icon-arrow-right icon--medium&quot;&gt;{{&gt; atoms-arrow-right }}&lt;/a&gt;
&lt;/div&gt; &lt;!-- /.pagination --&gt;
