&lt;svg class=&quot;icon-loading&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 100 100&quot; preserveAspectRatio=&quot;xMidYMid&quot;&gt;
    &lt;rect x=&quot;0&quot; y=&quot;0&quot; width=&quot;100&quot; height=&quot;100&quot; fill=&quot;none&quot; class=&quot;bk&quot;&gt;&lt;/rect&gt;
    &lt;g transform=&quot;translate(50 50)&quot;&gt;
        &lt;g transform=&quot;rotate(0) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
        &lt;g transform=&quot;rotate(45) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
        &lt;g transform=&quot;rotate(90) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
        &lt;g transform=&quot;rotate(135) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
        &lt;g transform=&quot;rotate(180) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
        &lt;g transform=&quot;rotate(225) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
        &lt;g transform=&quot;rotate(270) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
        &lt;g transform=&quot;rotate(315) translate(34 0)&quot;&gt;
            &lt;circle cx=&quot;0&quot; cy=&quot;0&quot; r=&quot;8&quot; fill=&quot;#f58e96&quot;&gt;
            &lt;/circle&gt;
        &lt;/g&gt;
    &lt;/g&gt;
&lt;/svg&gt;
