&lt;div class=&quot;dropdown&quot;&gt;
  &lt;div class=&quot;dd-title upper&quot;&gt;{{ dd-title }} &lt;/div&gt;
  &lt;div class=&quot;dd-menu has-more&quot;&gt;
    &lt;ul class=&quot;headline-list dd-list&quot;&gt;
      {{# dd-list }}
        &lt;li class=&quot;dd-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/li&gt;
      {{/ dd-list }}
    &lt;/ul&gt; &lt;!-- /.dd-list --&gt;
    &lt;a href=&quot;#&quot; class=&quot;action&quot; data-js-toggle-parent-class=&quot;dd-menu&quot;&gt;&lt;/a&gt;
  &lt;/div&gt; &lt;!-- /.dd-menu --&gt;
&lt;/div&gt; &lt;!-- /.dropdown --&gt;
