@font-face {
  font-family: 'Brown Pro';
  src: url('../fonts/BrownProRegular.eot');
  src: url('../fonts/BrownProRegular.eot') format('embedded-opentype'),
       url('../fonts/BrownProRegular.woff2') format('woff2'),
       url('../fonts/BrownProRegular.woff') format('woff'),
       url('../fonts/BrownProRegular.ttf') format('truetype'),
       url('../fonts/BrownProRegular.svg#BrownProRegular') format('svg');
}

@font-face {
  font-family: 'Brown Pro';
  font-weight: bold;
  src: url('../fonts/BrownProBold.eot');
  src: url('../fonts/BrownProBold.eot') format('embedded-opentype'),
       url('../fonts/BrownProBold.woff2') format('woff2'),
       url('../fonts/BrownProBold.woff') format('woff'),
       url('../fonts/BrownProBold.ttf') format('truetype'),
       url('../fonts/BrownProBold.svg#BrownProBold') format('svg');
}

@font-face {
  font-family: 'Brown Pro';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/BrownProBoldItalic.eot');
  src: url('../fonts/BrownProBoldItalic.eot') format('embedded-opentype'),
       url('../fonts/BrownProBoldItalic.woff2') format('woff2'),
       url('../fonts/BrownProBoldItalic.woff') format('woff'),
       url('../fonts/BrownProBoldItalic.ttf') format('truetype'),
       url('../fonts/BrownProBoldItalic.svg#BrownProBoldItalic') format('svg');
}
