/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $space-half;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0;
}

input, textarea {
	width: 100%;
	border: 1px solid $gray;
	padding: $pad-half 0.65rem;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	padding: $pad-half;
	background: $gray-dark;
	border: none;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}

	input[type=submit], button, .btn {
		font-size: $font-size-small-2;
		padding: 0.65rem 1.3rem;
		background: $gray-dark;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;

		&:hover, &:focus {
			background: $gray;
			color: $white;
		}
	}
}

/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}




/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

// Header/nav search
.search-form {
	overflow: hidden;
	width: 100%;
  border-bottom: $border-style;
  @include trans;
  height: rem(50);
  margin-top: rem(-51);
  position: relative;
  z-index: 1002;
  background-color: $white;
  .search-is-active & {
    margin-top: 0;
  }
	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
	.search-field {
		background-color: $white;
		border: none;
		font-size: rem(20);
		margin: 0;
    font-family: $serif;
    font-style: italic;
    font-weight: 100;
		padding: rem(13);
	}
	.submit {
		border: none;
		margin: 0;
		width: rem(50);
		text-align: center;
    background-color: $blue-light;
    line-height: 0;
		@include rem(padding, 13);
		&:hover {
			background-color: inherit;
		}
	}
  path {
    fill: $white;
  }
}

// Input form
.input-form {
  .input-field {
    background-color: $white;
    padding: rem(10);
    font-size: rem(14);
    border: $border-style;
  }
  .submit {
    height: rem(30);
    width: rem(30);
    padding: rem(7);
    top: rem(5);
    right: rem(6);
    svg {
      height: rem(20);
      width: rem(20);
    }
  }
}

// Newsletter form
.newsletter-form {
  legend {
    font-weight: 100;
    font-size: rem(20);
    margin-bottom: rem(16);
    line-height: 1.3;
  }
  .input-field {
    border: none;
  }
}
