/*------------------------------------*\
$GLOBAL CLASSES
\*------------------------------------*/

// Clearfix
.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: " "; // 1
  display: table; // 2
}

.cf:after {
  clear: both;
}

.center {
  text-align: center;
}

// Completely remove from the flow and screen readers.
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

// Completely remove from the flow but leave available to screen readers.
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

// Floats
.right {
  float: right;
  padding: 0 0 $pad $pad;
}

.right-search {
  float: right;
  padding: 0 0 $pad 0;
}

.left {
  float: left;
  padding: 0 $pad $pad 0;
}

// Text-Align
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

// Display Classes
.hide-small {
  @include mq($medium-break, max) {
    display: none;
  }
}
.hide-med {
  @media all and (min-width: $medium-break) and (max-width: $large-break) {
    display: none;
  }
}
.hide-large {
  @media all and (min-width: $large-break) and (max-width: $larger-break) {
    display: none;
  }
}
.hide-larger {
  @media all and (min-width: $larger-break) {
    display: none;
  }
}

// States
.valid {
  color: $valid;
}

.error {
  color: $error;
}

.warning {
  color: $warning;
}

.information {
  color: $information;
}

.font-secondary {
  font-family: $font-secondary;
}

.rounded {
  overflow: hidden;
  border-radius: 100%;
}

// Arrows
.arrow {
  width: 0;
  height: 0;
  display: inline-block;
}
.arrow--up {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $black;
}
.arrow--down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $black;
}
.arrow--right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid $black;
}
.arrow--left {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid $black;
}
.arrow--small {
  border-width: 5px;
}

// Overlay
.overlay {
  @include overlay;
}
.overlay-active {
  background-color: rgba($black, .8);
  z-index: 100000;
}
.load {
  display: none;
  //z-index: 100005;
}

// Image lightbox
.image-lightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none;
  box-shadow: 0 0 20px rgba($black, .4);
}

// Borders
.b-btm {
  border-bottom: $border-style;
}

// Number Colors Palette Classes
.strong-blue .number--large {
  color: $strong-blue;
}
.soft-red .number--large {
  color: $soft-red;
}
.vivid-red .number--large {
  color: $vivid-red;
}
.bright-orange .number--large {
  color: $bright-orange;
}
.grayish-cyan .number--large {
  color: $grayish-cyan;
}
.dark-gray .number--large {
  color: $dark-gray;
}

// Spacing/Padding
.pad {
  padding: $pad;
}
.space {
  margin: $space;
}
.pad-l-2x {
  padding-left: $pad-double;
}
.pad-r-2x {
  padding-right: $pad-double;
}
.pad-lr {
  padding: 0 $pad;
}
.pad-b {
  padding-bottom: $pad;
}
.pad-b-2x {
  padding-bottom: $pad-double;
}
.space-tb-2x {
  margin-top: $space-double;
  margin-bottom: $space-double;
}
.space-t-2x-b {
  margin-top: $pad-double;
  margin-bottom: $space;
}
.space-r {
  margin-right: $space;
}
.space-half-r {
  margin-right: $space-half;
}
.space-and-half-btm {
  margin-bottom: $space-and-half;
}
.space-double-btm {
  margin-bottom: $space-double;
}
.space-half-btm {
  margin-bottom: $space-half;
}
.space-btm {
  margin-bottom: $space;
}
.no-space {
  margin: 0;
}
.no-space-btm {
  margin-bottom: 0;
}
.no-space-top {
  margin-top: 0;
}
.no-pad-l {
  padding-left: 0;
}
