/*------------------------------------*\
$GLOBAL CLASSES
\*------------------------------------*/

// Clearfix
.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: " "; // 1
  display: table; // 2
}

.cf:after {
  clear: both;
}

.center {
  text-align: center;
}

// Completely remove from the flow and screen readers.
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

// Completely remove from the flow but leave available to screen readers.
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

// Floats
.right {
  float: right;
  padding: 0 0 $pad $pad;
}

.right-search {
  float: right;
  padding: 0 0 $pad 0;
}

.left {
  float: left;
  padding: 0 $pad $pad 0;
}

// Text-Align
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

// Display Classes
.hide-small {
  @media all and (max-width: $px750) {
    display: none;
  }
}

.hide-med {
  @media all and (min-width: $px750) and (max-width: $px1200) {
    display: none;
  }
}

.hide-large {
  @media all and (min-width: $px1200) {
    display: none;
  }
}

// States
.valid {
  color: $valid;
}

.error {
  color: $error;
}

.warning {
  color: $warning;
}

.information {
  color: $information;
}

.font-secondary {
  font-family: $font-secondary;
}

.rounded {
  overflow: hidden;
  border-radius: 100%;
}

// Arrows
.arrow {
  width: 0;
  height: 0;
  display: inline-block;
}
.arrow--up {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $black;
}
.arrow--down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $black;
}
.arrow--right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid $black;
}
.arrow--left {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid $black;
}
.arrow--small {
  border-width: 5px;
}

// Overlay
.overlay {
  @include overlay;
}
.overlay-active {
  background-color: rgba($black, .8);
  z-index: 100000;
}

// Borders
.b-btm {
  border-bottom: $border-style;
}
