/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   {
	line-height: 1.2;
  font-size: rem(65);
  font-weight: 100;
  font-family: $font-secondary;
}

h2, .beta    {
	line-height: 1.2;
}

h3, .gamma   {
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;
  letter-spacing: 1px;
  font-size: rem(17);
}

h4, .delta   {

}

h5, .epsilon {
  @extend .gamma;
  font-size: rem(15);
}

h6, .zeta    {

}

// Subheadings
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}