/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-weight: 500;
}

h1, .alpha   {
  font-size: rem(48);
  font-weight: 100;
}

h2, .beta    {
}

h3, .gamma   {
  font-size: rem(17);
}

h4, .delta   {
  font-size: rem(15);
  margin-bottom: rem(14);
}

h5, .epsilon {
  font-size: rem(14);
}

h6, .zeta    {

}

// Subheadings
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
