/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, h3, h4, h5 {
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 0;
}

h1, .alpha {
  font-weight: 100;
  font-size: rem(30);
  letter-spacing: -1.5px;
  @include mq($micro-break) {
    font-size: rem(38);
  }
  @include mq($small-break) {
    font-size: rem(44);
  }
}

h2, .beta {
  font-size: rem(24);
  line-height: 1.2;
}

h3, .gamma {
  font-size: rem(18);
}

h4, .delta {
  line-height: 1.2;
  font-size: rem(16);
}

h5, .epsilon {
  font-size: rem(14);
}

h6, .zeta {

}

// Subheadings
.subheading {
  font-family: $font-secondary;
  font-weight: normal;
}

.heading {
  text-transform: uppercase;
  font-size: rem(18);
  margin-bottom: $space;
}

.alt-heading {
  font-size: rem(28);
  font-weight: 100;
  color: $blue-light;
  text-transform: uppercase;
}
