/* Links */
a {
	text-decoration: none;
	color: $pink;
	&:hover, &:focus {
		color: darken($pink, 10);
	}
  p {
    color: $gray-dark-2;
  }
}

.more {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
