/* Links */ 
a {
	text-decoration: none;
	outline: 0;
	
	&:hover, &:focus {
		color: $gray;
	}
  p {
    color: $gray-dark;
  }
}

.more {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}