/* Links */
a {
	text-decoration: none;
	outline: 0;
	color: $pink;
	&:hover, &:focus {
		color: darken($pink, 10);
	}
  p {
    color: $black;
  }
}

.more {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
