/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

// Flexible Media
img, video, object, svg {
	max-width: 100%;
	height: auto;
}
svg {
  max-height: 100%;
}
iframe {
	margin-bottom: $space;
}
figure {
	margin-bottom: $space;
	img {
		margin-bottom: $space-half;
	}
}
figcaption {
	font-style: italic;
}
