/* Text-Related Elements */
p {
	margin-bottom: $space;
  color: $gray-dark-2;
  font-family: $serif;
  font-size: rem(17);
  line-height: 1.5;
  @media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
    font-size: rem(18);
  }
  a {
    color: $blue-light;
  }
  a:hover {
    @include underline;
  }
}

/* Blockquote */
blockquote {
  border-left: 1px solid $gray;
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */
hr {
	height: 1px;
  border: none;
  background-color: $gray-light-3;
  margin-top: $space-double;
  margin-bottom: $space-double;
  @include center-block;
}

abbr {
  border-bottom: 1px dotted $gray;
  cursor: help;
}
