&lt;div class=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
		{{# sponsored }}
			{{&gt; molecules-sponsor-header }}
		{{/ sponsored }}
		&lt;div class=&quot;primary&quot;&gt;
			&lt;section class=&quot;primary-inner&quot;&gt;
				&lt;article class=&quot;article article-image-list article-list-type&quot; itemscope itemtype=&quot;http://schema.org/Article&quot;&gt;

					{{# image-list-head }}
						&lt;header class=&quot;article-header cf&quot;&gt;
							{{&gt; molecules-kicker }}
							&lt;h1 class=&quot;lead-headline&quot; itemprop=&quot;headline&quot;&gt;{{ title }}&lt;/h1&gt;
							&lt;h2 class=&quot;lead-subtitle&quot; itemprop=&quot;alternativeHeadline&quot;&gt;{{ subtitle }}&lt;/h2&gt;
							&lt;div class=&quot;article-meta&quot;&gt;
								{{&gt; molecules-byline }}
								{{&gt; atoms-time }}
							&lt;/div&gt; &lt;!-- /.article-details --&gt;
							&lt;div class=&quot;article-tools&quot;&gt;
								{{&gt; molecules-social-share }}
								{{&gt; molecules-content-utility }}
							&lt;/div&gt; &lt;!-- /.article-tools --&gt;
							{{&gt; molecules-listicle-intro-body }}
						&lt;/header&gt; &lt;!-- /.article-header --&gt;
					{{/ image-list-head }}

					&lt;div class=&quot;ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm&quot;&gt;
						&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg&quot;&gt;&lt;/a&gt;
					&lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;

					&lt;section class=&quot;section article-body&quot; itemprop=&quot;articleBody&quot;&gt;
						&lt;div class=&quot;listicle bright-orange&quot;&gt;
							{{# listicle-items-1 }}
								{{&gt; molecules-block-listicle-item }}
								&lt;hr class=&quot;{{ hr-class }}&quot;&gt;
							{{/ listicle-items-1 }}

							&lt;div class=&quot;ad-blocks ad-responsive ad-instream&quot;&gt;
								&lt;div class=&quot;ad-block ad-300x250 hide-larger&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://dqckmuwjiytix.cloudfront.net/a/8933/img/300x250_Free%20Sample_static.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
								&lt;div class=&quot;ad-block ad-728x90 hide-large hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/3340030/clx_clb_e40024_value-oxi_rev_728x90.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
							&lt;/div&gt; &lt;!-- /.ad-responsive --&gt;

							&lt;hr class=&quot;hr--m&quot;&gt;

							{{# listicle-items-2 }}
								{{&gt; molecules-block-listicle-item }}
								&lt;hr class=&quot;{{ hr-class }}&quot;&gt;
							{{/ listicle-items-2 }}

							&lt;div class=&quot;ad-blocks ad-responsive ad-instream&quot;&gt;
								&lt;div class=&quot;ad-block ad-300x250 hide-larger&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://pagead2.googlesyndication.com/simgad/12306033109011099436&quot;&gt;&lt;/a&gt;&lt;/div&gt;
								&lt;div class=&quot;ad-block ad-728x90 hide-large hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://a.adroll.com/a/2R6/Q6H/2R6Q6H2CKNDZNDBVZHJZAT.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
							&lt;/div&gt; &lt;!-- /.ad-responsive --&gt;

							&lt;hr class=&quot;hr--m&quot;&gt;

							{{# listicle-items-3 }}
								{{&gt; molecules-block-listicle-item }}
								&lt;hr class=&quot;{{ hr-class }}&quot;&gt;
							{{/ listicle-items-3 }}

							&lt;div class=&quot;ad-blocks ad-responsive ad-instream&quot;&gt;
								&lt;div class=&quot;ad-block ad-300x250 hide-larger&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;https://s1.2mdn.net/viewad/3950987/PayAttention_Backup_300x250.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
								&lt;div class=&quot;ad-block ad-728x90 hide-large hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;https://s1.2mdn.net/viewad/3950987/PayAttention_Backup_728x90.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
							&lt;/div&gt; &lt;!-- /.ad-responsive --&gt;

							&lt;hr class=&quot;hr--l&quot;&gt;

							{{# listicle-items-4 }}
								{{&gt; molecules-block-listicle-item }}
							{{/ listicle-items-4 }}

						&lt;/div&gt; &lt;!-- /.listicle --&gt;
					&lt;/section&gt; &lt;!-- /.article-body --&gt;

				&lt;/article&gt; &lt;!-- /.article-image-list --&gt;
				{{&gt; organisms-content-footer }}
			&lt;/section&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;

		&lt;div class=&quot;secondary&quot;&gt;
			{{&gt; organisms-sidebar }}
		&lt;/div&gt; &lt;!-- /.secondary --&gt;

	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
