&lt;div class=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;

		&lt;article class=&quot;article article-standard&quot;&gt;

			&lt;header class=&quot;prefc__article-header article-header center narrow narrow--l cf&quot;&gt;
				&lt;h1 class=&quot;lead-headline&quot;&gt;Thank You&lt;/h1&gt;
				&lt;h2 class=&quot;prefc__lead-subtitle lead-subtitle gray--dark&quot;&gt;Your changes have been saved and will take effect within 24 hours.&lt;/h2&gt;
			&lt;/header&gt; &lt;!-- /.article-header --&gt;

			&lt;section class=&quot;section narrow narrow--s&quot;&gt;
				&lt;header class=&quot;s-header&quot;&gt;
					&lt;h3 class=&quot;s-title heading&quot;&gt;More from Real Simple&lt;/h3&gt;
				&lt;/header&gt; &lt;!-- /.s-header --&gt;
				&lt;div class=&quot;cf-blocks cf space-double-btm&quot;&gt;
					{{# also-blocks }}
						{{&gt; molecules-block-thumb-headline }}
					{{/ also-blocks }}
				&lt;/div&gt; &lt;!-- /.cf-blocks --&gt;
			&lt;/section&gt; &lt;!-- /.section --&gt;

		&lt;/article&gt; &lt;!-- /.article-standard --&gt;
	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
