&lt;div class=&quot;page&quot;&gt;
  {{&gt; organisms-header }}
    &lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
      &lt;div class=&quot;primary no-space-btm no-pad-btm&quot;&gt;
        &lt;div class=&quot;primary-inner no-space-btm&quot;&gt;

          {{# sub-channel-head }}
            &lt;header class=&quot;article-header sub-channel-header sub-channel-header-has-deck cf pad-btm b-btm space-and-half-btm&quot;&gt;
              {{# dropdown }}
                &lt;div class=&quot;left-side&quot;&gt;
              {{/ dropdown }}
                {{&gt; molecules-kicker }}
                &lt;h1 class=&quot;lead-headline space-half-btm&quot; itemprop=&quot;headline&quot;&gt;{{ title }}&lt;/h1&gt;
                &lt;div class=&quot;read-more has-more&quot; itemprop=&quot;description&quot;&gt;
                  &lt;p&gt;{{ description }}&lt;/p&gt;
                  &lt;a href=&quot;#&quot; class=&quot;action&quot; data-js-toggle-parent-class=&quot;read-more&quot;&gt;&lt;/a&gt;
                &lt;/div&gt;
              {{# dropdown }}
              &lt;/div&gt; &lt;!-- /.left-side --&gt;
                &lt;div class=&quot;right-side&quot;&gt;
                  {{&gt; molecules-interlinking-module }}
                &lt;/div&gt; &lt;!-- /.right-side --&gt;
              {{/ dropdown }}
            &lt;/header&gt; &lt;!-- /.sub-channel-header --&gt;
          {{/ sub-channel-head }}

          &lt;section class=&quot;section content-modules&quot;&gt;
            {{# content-modules-1 }}
              {{&gt; molecules-block-thumb-headline }}
            {{/ content-modules-1 }}
          &lt;/section&gt; &lt;!-- /.content-modules --&gt;

          &lt;div class=&quot;pager center pad-btm pad-top space-btm&quot;&gt;
            &lt;a href=&quot;&quot; class=&quot;btn load-more&quot;&gt;Load More&lt;/a&gt;
          &lt;/div&gt; &lt;!-- /.pager --&gt;

        &lt;/div&gt; &lt;!-- /.primary-inner --&gt;
      &lt;/div&gt; &lt;!-- /.primary --&gt;

      &lt;div class=&quot;secondary no-pad-top&quot;&gt;
        {{&gt; organisms-sidebar }}
      &lt;/div&gt; &lt;!-- /.secondary --&gt;
    &lt;/div&gt;&lt;!-- /role=main --&gt;

    &lt;div class=&quot;lc lc-inner space-double-btm pad-half-top&quot;&gt;
      &lt;hr class=&quot;hr--s no-space-top space-btm&quot;&gt;
      &lt;div class=&quot;ad-blocks ad-responsive ad-instream&quot;&gt;
        &lt;div class=&quot;ad-block ad-300x250 hide-larger hide-large&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://dqckmuwjiytix.cloudfront.net/a/8933/img/300x250_Free%20Sample_static.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
        &lt;div class=&quot;ad-block ad-728x90 hide-larger hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/3340030/clx_clb_e40024_value-oxi_rev_728x90.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
        &lt;div class=&quot;ad-block ad-970x90 hide-large hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;/images/ad-leaderboard__microsoft.png&quot;&gt;&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt; &lt;!-- /.ad-responsive --&gt;
      &lt;hr class=&quot;hr--l space-half-top no-space-btm&quot;&gt;
    &lt;/div&gt; &lt;!-- /.lc-inner --&gt;

  {{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
