&lt;div class=&quot;block block-headline&quot;&gt;
	&lt;a href=&quot;{{ url }}&quot;&gt;
		&lt;h3 class=&quot;b-title&quot;&gt;{{ title }}&lt;/h3&gt;
		{{# dates }}
    &lt;div class=&quot;date-city&quot;&gt;
      {{{ dates }}}
    &lt;/div&gt; &lt;!-- /.dek --&gt;
    {{/ dates }}
	&lt;/a&gt;
&lt;/div&gt; &lt;!-- /.block-headline --&gt;
