&lt;div class=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
		{{# sponsored }}
			{{&gt; molecules-sponsor-header }}
		{{/ sponsored }}
		&lt;div class=&quot;primary&quot;&gt;
			&lt;section class=&quot;primary-inner&quot;&gt;
				&lt;article class=&quot;article article-standard {{ article-class }}&quot; itemscope itemtype=&quot;http://schema.org/Article&quot;&gt;

					{{# article-head }}
						&lt;header class=&quot;article-header {{ header-class }} cf&quot;&gt;
							{{&gt; molecules-kicker }} {{# sponsor-label }}&lt;div class=&quot;spons-by dib&quot;&gt;&lt;span class=&quot;text--s-m&quot;&gt;presented by&lt;/span&gt; {{&gt; atoms-image }}&lt;/div&gt;{{/ sponsor-label }}
							&lt;h1 class=&quot;lead-headline&quot; itemprop=&quot;headline&quot;&gt;{{ title }}&lt;/h1&gt;
							{{# has-head-meta }}
								&lt;h2 class=&quot;lead-subtitle&quot; itemprop=&quot;alternativeHeadline&quot;&gt;{{ subtitle }}&lt;/h2&gt;
								&lt;div class=&quot;article-meta&quot;&gt;
									{{&gt; molecules-byline }}
									{{&gt; atoms-time }}
								&lt;/div&gt; &lt;!-- /.article-details --&gt;
							{{/ has-head-meta }}
							&lt;div class=&quot;article-tools&quot;&gt;
								{{&gt; molecules-social-share }}
								{{&gt; molecules-content-utility }}
							&lt;/div&gt; &lt;!-- /.article-tools --&gt;
						&lt;/header&gt; &lt;!-- /.article-header --&gt;
					{{/ article-head }}

					&lt;div class=&quot;ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm&quot;&gt;
						&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg&quot;&gt;&lt;/a&gt;
					&lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;

					{{# pagination }}
						{{&gt; molecules-pagination }}
					{{/ pagination }}

					&lt;section class=&quot;section article-body text&quot; itemprop=&quot;articleBody&quot;&gt;
						{{# article-body }}
							{{&gt; organisms-article-body-standard }}
						{{/ article-body }}
					&lt;/section&gt; &lt;!-- /.article-body --&gt;

					{{# pagination }}
						{{&gt; molecules-pagination }}
					{{/ pagination }}

				&lt;/article&gt; &lt;!-- /.article-standard --&gt;

				{{# more-links }}
					{{&gt; molecules-more-links }}
				{{/ more-links }}

				{{&gt; organisms-content-footer }}
			&lt;/section&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;

		&lt;div class=&quot;secondary&quot;&gt;
			{{&gt; organisms-sidebar }}
		&lt;/div&gt; &lt;!-- /.secondary --&gt;

	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
