/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Grid & baseline setup
$column: 92px;
$gutter: 12px;
$grid-columns: 12;
$fontpx: 16; // Font size (px) baseline applied to <body> and converted to %.
$defaultpx: 16; // Browser default px used for media queries
$rembase: 16; // 16px = 1.00rem
$max-width: em(1245) !default;
$inner-max-width: (1044/$fontpx) + 0em;
$inner-max-small: (900/$defaultpx) + 0em;

$visual-grid: false !default;
$visual-grid-color: #E6F6FF !default;
$visual-grid-opacity: 0.8 !default;
$visual-grid-index: front !default;

// Colors
$gray: #c9c9c9;
$gray-light: #f7fbfa;
$gray-light-2: #f6f6f6;
$gray-light-3: #eaeeed;
$gray-light-4: #dddddd;
$gray-very-light: #fafafa;
$gray-med: #a7a7a7;
$gray-med-2: #909090;
$gray-dark: #707070;
$gray-dark-2: #252525;
$gray-dark-3: #252525;
$white: #fff;
$black: #000;
$dim: rgba(0,0,0,0.5);
$error: #f00;
$valid: #089e00;
$warning: #fff664;
$information: #000db5;
$feaux-black: #393939;
$overlay: rgba($black, .9);
$overlay-light: rgba($black, .76);

// Style Colors
$red: #e31e30;
$pink: #ef4e74;
$pink-light: #f06793;
$blue-dark: #264770;
$blue: #0074bc;
$blue-light: #479cd6;

// Social Colors
$twitter-blue: #13C4F8;
$facebook-blue: #4A66A3;
$instagram-blue: #48769F;
$instagram-brown: #5f4132;
$pinterest-red: #FF423E;
$youtube-red: #b31217;
$google-red: $youtube-red;

// Typography
$font: "Brown Pro", "Helvetica", "Arial", sans-serif;
$font-secondary: "marr-sans-real-simple", "Helvetica", "Arial", sans-serif;
$sans: "Helvetica", "Arial", sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$monospace: Menlo, Monaco, 'Courier New', 'Courier', monospace;

$font-size-small: 0.75em;
$font-size-small-2: 0.875em;
$font-size-med: 1em;
$font-size-med-2: 1.0625em;
$font-size-large: 1.4375em;

// Default Spacing/Padding
$space: rem(18);
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-quad: $space*4;
$space-half: $space/2;
$pad: rem(18);
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter: $pad/4;

// Border Styles
$border-med: 6px;
$border-thick: 8px;
$border-opacity: 1px solid rgba($white, .4);
$border-style: 1px solid $gray-light-4;
$border-style-light: 1px solid $gray-light-3;
$border-style-white: 1px solid $white;
$border-style-dark: 1px solid $gray;

// Breakpoints (legacy)
$bp-small: 24em; // 384px
$bp-small-2: 29.75em; // 476px
$bp-small-3: 39.8em; // 636px
$bp-med: 46.8em; // 748px
$bp-med-2: 48em; // 768px
$bp-large: 50em; // 800px
$bp-large-2: 66em; // 1056px
$bp-xl: 73em; // 1168px
$bp-xxl: 89em; // 1424px
$bp-xxxl: 93em; // 1488px

// Breakpoints
$px200: (200/$defaultpx) + 0em;
$px250: (250/$defaultpx) + 0em;
$px300: (300/$defaultpx) + 0em;
$px320: (320/$defaultpx) + 0em;
$px330: (330/$defaultpx) + 0em;
$px350: (350/$defaultpx) + 0em;
$px400: (400/$defaultpx) + 0em;
$px450: (450/$defaultpx) + 0em;
$px480: (480/$defaultpx) + 0em;
$px500: (500/$defaultpx) + 0em;
$px550: (550/$defaultpx) + 0em;
$px560: (560/$defaultpx) + 0em;
$px600: (600/$defaultpx) + 0em;
$px650: (650/$defaultpx) + 0em;
$px700: (700/$defaultpx) + 0em;
$px750: (750/$defaultpx) + 0em;
$px800: (800/$defaultpx) + 0em;
$px801: (801/$defaultpx) + 0em;
$px850: (850/$defaultpx) + 0em;
$break-into-columns: (850/$defaultpx) + 0em;
$px900: (900/$defaultpx) + 0em;
$px950: (950/$defaultpx) + 0em;
$px1000: (1000/$defaultpx) + 0em;
$px1050: (1050/$defaultpx) + 0em;
$px1100: (1100/$defaultpx) + 0em;
$px1200: (1200/$defaultpx) + 0em;
$px1250: (1250/$defaultpx) + 0em;
$px1300: (1300/$defaultpx) + 0em;
$px1340: (1340/$defaultpx) + 0em;
$px1390: (1390/$defaultpx) + 0em;
$px1400: (1400/$defaultpx) + 0em;
$px1500: (1500/$defaultpx) + 0em;
$px-max: $max-width;
$px-max-plus: (1400/$defaultpx) + 0em;

// Common Breakpoints
$larger-break: (1206/$defaultpx) + 0em;
$large-break: (1024/$defaultpx) + 0em; // Tablet Landscape, Desktop
$medium-break: $px801; // Tablet Portrait
$small-break: $px750;  // Mobile Landscape
$micro-break: $px450;  // Mobile Portrait

$nav-breakout: $px500;
$nav-breakout-med: $px800;
$nav-breakout-large: $px1050;

$sidebar-width: 300;

// Icon Sizing
$icon-small: rem(21);
$icon-medium: rem(30);
$icon-large: rem(40);
$icon-big: rem(65);

// Element Specific Dimensions
$ad-300: (330/$defaultpx) + 0em; // Ads that are 300px wide for fixed positioning
$top-hat-height: 35;
$mobile-header-height: 50;
$mobile-header-sticky-height: 38;
$wide-header-height: (57/$defaultpx) + 0em;
$split-col1: (354/$defaultpx) + 0em; // Right padding for split layout with fixed sidebar
$split-col2: (320/$defaultpx) + 0em; // Fixed width of right column
