<div class="kicker"><a itemprop="articleSection" href="{{ url }}">{{ kicker }}</a> {{# sub-kicker }} <span class="divider">/</span> <a itemprop="articleSection" href="{{ url }}">{{ sub-kicker }}</a> {{/ sub-kicker }}</div>
