<header class="header cf" role="banner">
  {{> molecules-search }}
  <div class="header-inner t-bkg">
    <a href="#nav" class="nav-toggler js-toggle" data-toggled="header, .overlay" data-prefix="main-nav">
      <span class="nt-inner">
        <span class="is-vishidden">Menu</span>
        <span></span>
      </span> <!-- /.nt-inner -->
    </a> <!-- /.nav-toggler -->
    {{> atoms-logo }}
    <a href="#search" class="search-toggler js-toggle" data-toggled="header" data-prefix="search">
      <span class="icon icon--small icon-magnifying-glass">{{> atoms-magnifying-glass }}</span>
    </a> <!-- /.search-toggler -->
  </div> <!-- /.header-inner -->
  <div class="nav-wrap">
    {{> molecules-primary-nav }}
    {{> molecules-secondary-nav }}
  </div> <!-- /.nav-wrap -->
</header> <!-- .header -->
