<div class="top-hat">{{> molecules-top-hat }}</div>
<header class="header cf" role="banner">
  <div class="header-inner t-bkg">
    <div class="lc">
      <a href="#nav" class="nav-toggler js-toggle" data-toggled="header, .overlay" data-prefix="main-nav">
        <span class="nt-inner">
          <span class="is-vishidden">Menu</span>
          <span></span>
        </span> <!-- /.nt-inner -->
      </a> <!-- /.nav-toggler -->
      {{> atoms-logo }}
      {{> molecules-util-nav }}
      <div class="horiz-nav">
        {{# wide-nav }}
          {{> molecules-primary-nav }}
        {{/ wide-nav }}
      </div> <!-- /.horiz-nav -->
      <span class="h-hide">
        <a href="#search" class="search-toggler js-toggle" data-toggled="header" data-prefix="search" data-remove="main-nav-is-active">
          <span class="icon icon--small icon-magnifying-glass"></span>
        </a> <!-- /.search-toggler -->
      </span> <!-- /.h-hide -->
    </div> <!-- /.lc -->
  </div> <!-- /.header-inner -->
  {{> organisms-featured-stories }}
  <div class="nav-wrap">
    <div class="nav-wrap-inner">
      {{> molecules-primary-nav }}
      {{> molecules-secondary-nav }}
    </div> <!-- /.nav-wrap-inner -->
  </div> <!-- /.nav-wrap -->
  <div class="search-overlay">
    <a href="#close-search" class="close js-toggle" data-toggled="header" data-prefix="search">
      <span class="icon icon--small icon-x">{{> atoms-x }}</span>
    </a> <!-- /.search-toggler -->
    {{> molecules-search }}
  </div> <!-- /.search-overlay -->
  <div class="ad-blocks ad-leaderboard">
    <a href="" class="ad-block ad-300x50"><img src="http://placehold.it/300x50"></a>
    <a href="" class="ad-block ad-728x90"><img src="http://placehold.it/728x90"></a>
  </div> <!-- /.ad-leaderboard -->
</header> <!-- .header -->
