<footer class="footer" role="contentinfo">
	<div class="lc lc-inner">
    {{> atoms-logo }}
    <div class="g-5up cf f-g">
      <div class="gi f-gi">
        <h4 class="f-gi-title">RealSimple.com</h4>
        <ul class="f-list">
          <li><a href="">Food</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Style</a></li>
          <li><a href="">Life</a></li>
          <li><a href="">Shop</a></li>
          <li><a href="">Holidays</a></li>
          <li><a href="">Weddings</a></li>
          <li><a href="">Checklists</a></li>
          <li><a href="">Site Map</a></li>
        </ul> <!-- /.f-list -->
      </div> <!-- /.gi -->
      <div class="gi f-gi">
        <h4 class="f-gi-title">Special Features</h4>
        <ul class="f-list">
          <li><a href="">Games</a></li>
          <li><a href="">Makeover in Minutes</a></li>
          <li><a href="">No-Obligation Book Club</a></li>
          <li><a href="">RS Lifestylers</a></li>
          <li><a href="">Real Simple Rewards</a></li>
          <li><a href="">Real Simple Products</a></li>
          <li><a href="">Meal Planner</a></li>
        </ul> <!-- /.f-list -->
      </div> <!-- /.gi -->
      <div class="gi f-gi">
        <h4 class="f-gi-title">Digital Products</h4>
        <ul class="f-list">
          <li><a href="">Weeknight Meal Planner</a></li>
          <li><a href="">No Time to Cook? App</a></li>
          <li><a href="">To-do List App</a></li>
          <li><a href="">Gift Guide App</a></li>
          <li><a href="">Wedding Checklist App</a></li>
        </ul> <!-- /.f-list -->
      </div> <!-- /.gi -->
      <div class="gi f-gi">
        <h4 class="f-gi-title">Customer Service</h4>
        <ul class="f-list">
          <li><a href="">Contact Us</a></li>
          <li><a href="">Customer Service</a></li>
          <li><a href="">Media Kit</a></li>
          <li><a href="">Site Map</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms of Service</a></li>
          <li><a href="">Your California Privacy Rights</a></li>
          <li><a href="">Ad Choices</a></li>
        </ul> <!-- /.f-list -->
      </div> <!-- /.gi -->
      <div class="gi f-gi">
        <h4 class="f-gi-title">Subscribe</h4>
        <ul class="f-list">
          <li><a href="">Subscribe to Real Simple</a></li>
          <li><a href="">2 for 1 Gift Offer</a></li>
          <li><a href="">Digital Tablet Subscription</a></li>
          <li><a href="">Back Issues</a></li>
          <li><a href="">Email Newsletters</a></li>
        </ul> <!-- /.f-list -->
      </div> <!-- /.gi -->
    </div> <!-- /.g-4up -->
  </div> <!-- /.lc -->
  <div class="f-social">
    <a class="no-bg icon rounded icon-facebook icon--medium" href="https://www.facebook.com/RealSimple"><span>{{> atoms-facebook }}</span></a>
    <a class="no-bg icon rounded icon-twitter icon--medium" href="https://twitter.com/realsimple"><span>{{> atoms-twitter }}</span></a>
    <a class="no-bg icon rounded icon-instagram icon--medium" href="http://instagram.com/real_simple"><span>{{> atoms-instagram }}</span></a>
    <a class="no-bg icon rounded icon-pinterest icon--medium" href="http://www.pinterest.com/realsimple/"><span>{{> atoms-pinterest }}</span></a>
  </div> <!-- /.f-social -->
  <div class="legal">
    <p class="copyright">Copyright &copy; 2015 Time Inc. Lifestyle Group. All rights reserved. Reproduction in whole or in part without permission is prohibited.</p>
  </div> <!-- /.legal -->
</footer> <!-- /.footer -->
