<footer class="footer pad" role="contentinfo">
	<div class="lc">
	  <div class="g">
	    <div class="gi box-newsletter">
        {{!> molecules-newsletter }}
	    </div> <!-- /.gi -->
	    <div class="gi box-about-us center">
	      <h3 class="box-title">About Us</h3>
	    </div> <!-- /.gi -->
	    <div class="gi box-social center">
        <h3 class="box-title">Find Us</h3>
        <ul>
          <li><a class="icon s-facebook" href="{{ url }}">{{> atoms-facebook }}</a></li>
          <li><a class="icon s-twitter" href="{{ url }}">{{> atoms-twitter }}</a></li>
          <li><a class="icon s-youtube" href="{{ url }}">{{> atoms-youtube }}</a></li>
          <li><a class="icon s-google" href="{{ url }}">{{> atoms-google }}</a></li>
        </ul>
	    </div> <!-- /.gi -->
	  </div> <!-- /.g -->
	</div> <!-- /.lc -->
	<div class="legal">
	  <!-- <div class="img-wrap">{{> atoms-logo }}</div> -->
  	<p class="copyright">&copy; 2015, RealSimple.com.</p>
  	<a href="{{ url }}">Terms of Service</a> <br>
  	<a href="{{ url }}">Privacy Policy</a>
	</div> <!-- /.legal -->
</footer> <!-- /.footer -->
