<div class="content-footer">
  <hr class="hr--m h-center">
  {{> organisms-you-might-like-footer }}
  <hr class="hr--m h-center">
  {{> organisms-follow-footer }}
  {{> molecules-newsletters }}
  {{> organisms-rs-apps }}
</div> <!-- /.content-footer -->
