<div class="content-footer">
  <hr class="hr--l h-center">
  {{!> organisms-also-on-rs }}
  {{> organisms-you-might-like-footer }}
  <div class="ad-block center pad-tb">
    <a href=""><img src="http://placehold.it/580x180">
  </div> <!-- /.ad-block -->
  <hr class="hr--m h-center">
  {{> organisms-follow-footer }}
  {{> molecules-newsletters }}
  {{> organisms-rs-apps }}
</div> <!-- /.content-footer -->
