&lt;div class=&quot;page&quot;&gt;
  {{&gt; organisms-header }}

  &lt;div class=&quot;main cf&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
    &lt;div class=&quot;lc&quot;&gt;
      &lt;div class=&quot;page-header&quot;&gt;
        &lt;h1 class=&quot;page-title center&quot;&gt;{{ page-title }}&lt;/h1&gt;
      &lt;/div&gt; &lt;!-- /.page-header --&gt;
    &lt;/div&gt; &lt;!-- /.lc --&gt;

    {{# is-channel-narrow }}

      &lt;div class=&quot;lc lc-inner cf space-btm channel--feature&quot;&gt;
        &lt;section class=&quot;section blocks-w-hero col3-blocks-w-hero cf&quot;&gt;
          {{# top-promo-blocks }}
            &lt;div class=&quot;col1 col--hero&quot;&gt;
              {{# col-hero }}
                {{&gt; molecules-block-thumb-headline }}
              {{/ col-hero }}
            &lt;/div&gt; &lt;!-- /.col1 --&gt;
            &lt;div class=&quot;col2 cf&quot;&gt;
              {{# col2-promo-blocks }}
                {{&gt; molecules-block-thumb-headline }}
              {{/ col2-promo-blocks }}
            &lt;/div&gt; &lt;!-- .col2 --&gt;
            &lt;div class=&quot;col3 cf&quot;&gt;
              {{# col3-promo-blocks }}
                {{&gt; molecules-block-thumb-headline }}
              {{/ col3-promo-blocks }}
            &lt;/div&gt; &lt;!-- .col3 --&gt;
          {{/ top-promo-blocks }}
        &lt;/section&gt; &lt;!-- /.promo-blocks-w-hero --&gt;
        &lt;hr class=&quot;hr--xl space-double-btm no-space-top&quot;&gt;
      &lt;/div&gt; &lt;!-- /.lc-inner --&gt;

    {{/ is-channel-narrow }}

    &lt;div class=&quot;lc cf&quot;&gt;
      &lt;div class=&quot;primary no-space-btm no-pad-btm&quot;&gt;
        &lt;div class=&quot;primary-inner no-space-btm&quot;&gt;

          {{# is-channel-wide }}

            &lt;div class=&quot;cf space-btm channel--feature&quot;&gt;
              &lt;section class=&quot;section blocks-w-hero col2-blocks-w-hero cf&quot;&gt;
                {{# top-promo-blocks }}
                  &lt;div class=&quot;col1 col--hero&quot;&gt;
                    {{# col-hero }}
                      {{&gt; molecules-block-thumb-headline }}
                    {{/ col-hero }}
                  &lt;/div&gt; &lt;!-- .col1 --&gt;
                  &lt;div class=&quot;col2 cf&quot;&gt;
                    {{# col2-promo-blocks }}
                      {{&gt; molecules-block-thumb-headline }}
                    {{/ col2-promo-blocks }}
                  &lt;/div&gt; &lt;!-- /.col2 --&gt;
                {{/ top-promo-blocks }}
              &lt;/section&gt; &lt;!-- /.promo-blocks-w-hero --&gt;
              &lt;hr class=&quot;space-double-btm no-space-top&quot;&gt;
            &lt;/div&gt; &lt;!-- /.channel--feature --&gt;

          {{/ is-channel-wide }}

          &lt;section class=&quot;section content-modules&quot;&gt;
            {{# content-modules-1 }}
              {{&gt; molecules-block-thumb-headline }}
            {{/ content-modules-1 }}
          &lt;/section&gt; &lt;!-- /.content-modules --&gt;

          &lt;hr class=&quot;space-and-half-btm no-space-top&quot;&gt;

          &lt;section class=&quot;section video-promo cf v-blocks--2&quot;&gt;
            &lt;div class=&quot;video-module&quot;&gt;
              {{# video }}
                {{&gt; molecules-block-media }}
              {{/ video }}
            &lt;/div&gt; &lt;!-- /.video-module --&gt;
            &lt;div class=&quot;video-blocks&quot;&gt;
              {{# video-blocks }}
                {{&gt; molecules-block-thumb-headline }}
              {{/ video-blocks }}
            &lt;/div&gt; &lt;!-- /.video-blocks --&gt;
          &lt;/section&gt; &lt;!-- /.video-promo --&gt;

          &lt;hr class=&quot;space-half-top&quot;&gt;

          &lt;section class=&quot;section content-modules&quot;&gt;
            {{# content-modules-2 }}
              {{&gt; molecules-block-thumb-headline }}
            {{/ content-modules-2 }}
          &lt;/section&gt; &lt;!-- /.content-modules --&gt;

        &lt;/div&gt; &lt;!-- /.primary-inner --&gt;
      &lt;/div&gt; &lt;!-- /.primary --&gt;

      &lt;div class=&quot;secondary no-pad-top&quot;&gt;
        {{&gt; organisms-sidebar }}
      &lt;/div&gt; &lt;!-- /.secondary --&gt;
    &lt;/div&gt; &lt;!-- /.lc --&gt;
  &lt;/div&gt;&lt;!-- /role=main --&gt;

  &lt;div class=&quot;lc lc-inner space-double-btm pad-half-top&quot;&gt;
    &lt;hr class=&quot;hr--s no-space-top space-btm&quot;&gt;
    &lt;div class=&quot;ad-blocks ad-responsive ad-instream&quot;&gt;
      &lt;div class=&quot;ad-block ad-300x250 hide-larger hide-large&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://dqckmuwjiytix.cloudfront.net/a/8933/img/300x250_Free%20Sample_static.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
      &lt;div class=&quot;ad-block ad-728x90 hide-larger hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/3340030/clx_clb_e40024_value-oxi_rev_728x90.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
      &lt;div class=&quot;ad-block ad-970x90 hide-large hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;/images/ad-leaderboard__microsoft.png&quot;&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt; &lt;!-- /.ad-responsive --&gt;
    &lt;hr class=&quot;hr--l space-half-top no-space-btm&quot;&gt;
  &lt;/div&gt; &lt;!-- /.lc-inner --&gt;

  &lt;div class=&quot;pager center pad-double-btm pad-top space-double-btm&quot;&gt;
    &lt;a href=&quot;&quot; class=&quot;btn load-more&quot;&gt;Load More&lt;/a&gt;
  &lt;/div&gt; &lt;!-- /.pager --&gt;
  {{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
