&lt;div class=&quot;content-footer&quot;&gt;
  &lt;hr class=&quot;hr--l h-center&quot;&gt;
  {{!&gt; organisms-also-on-rs }}
  {{&gt; organisms-you-might-like-footer }}
  &lt;div class=&quot;ad-block center pad-tb&quot;&gt;
    &lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://placehold.it/580x180&quot;&gt;
  &lt;/div&gt; &lt;!-- /.ad-block --&gt;
  &lt;hr class=&quot;hr--m h-center&quot;&gt;
  {{&gt; organisms-follow-footer }}
  {{&gt; molecules-newsletters }}
  {{&gt; organisms-rs-apps }}
&lt;/div&gt; &lt;!-- /.content-footer --&gt;
