{{# is-before-and-after }}
  &lt;figure class=&quot;figure {{ figure-size }}{{^ is-landscape }} figure--right{{/ is-landscape}}&quot;&gt;
    {{&gt; molecules-image-before-and-after }}
  &lt;/figure&gt; &lt;!-- /.figure --&gt;
{{/ is-before-and-after}}
{{^ is-before-and-after}}
  {{# img-large }}
    &lt;figure class=&quot;figure {{ figure-size }} figure--right&quot;&gt;
      {{&gt; molecules-image-with-social }}
    &lt;/figure&gt; &lt;!-- /.figure --&gt;
  {{/ img-large }}
{{/ is-before-and-after}}

&lt;p&gt;As it turns out, an apple a day really may keep the doctor away. From fighting obesity to strengthening your mind, this juicy, seasonal fruit comes with some serious health perks.&lt;/p&gt;

&lt;h2&gt;Apples may keep obesity at bay.&lt;/h2&gt;
&lt;p&gt;A new study from Washington State University found that some of the compounds in Granny Smiths, in particular, could help prevent certain disorders that lead to obesity. The sour fruit helps good bacteria in the colon grow and eventually spread to the stomach. And a healthy metabolism relies on the right amount of bacteria, which can affect inflammation levels and help us feel full and satisfied.  While the nondigestible compounds responsible for these benefits can be found in other types of apples, Granny Smiths contain the most.&lt;/p&gt;

&lt;p&gt;You may want to skip peeling your apples if you&rsquo;re after the full slimming effects. Researchers at the University of Iowa linked ursolic acid, found in the peel, with a lower rate of obesity in mice. That&rsquo;s because the compound seems to increase brown fat, the &ldquo;good fat&rdquo; that regulates your body temperature and appears to feed on regular body fat.&lt;/p&gt;

&lt;table border=&quot;1&quot; bordercolor=&quot;#ffffff&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; valign=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-biscuits&quot;&gt;&lt;img align=&quot;center&quot; alt=&quot;Buttermilk Biscuits&quot; src=&quot;http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/1431618647/buttermilk-biscuits.jpg&quot; width=&quot;250&quot; data-loaded=&quot;true&quot;&gt;&lt;/a&gt;&lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/strawberry-buttermilk-smoothie&quot;&gt;&lt;img alt=&quot;Strawberry Buttermilk Smoothie&quot; src=&quot;http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/1431618647/buttermilk-smoothie.jpg&quot; width=&quot;250&quot; data-loaded=&quot;true&quot;&gt;&lt;/a&gt;&lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-banana-honey-ice-pops&quot;&gt;&lt;img alt=&quot;Buttermilk, Banana, and Honey Ice Pops&quot; src=&quot;http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/1431618647/buttermilk-pops.jpg&quot; width=&quot;250&quot; data-loaded=&quot;true&quot;&gt;&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; valign=&quot;top&quot;&gt;
      &lt;h4 align=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-biscuits&quot;&gt;Buttermilk Biscuits&lt;/a&gt;&lt;/h4&gt;
      &lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;top&quot;&gt;
      &lt;h4 align=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/strawberry-buttermilk-smoothie&quot;&gt;Strawberry Buttermilk&lt;br&gt;
      Smoothie&lt;/a&gt;&lt;/h4&gt;
      &lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;top&quot;&gt;
      &lt;h4 align=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-banana-honey-ice-pops&quot;&gt;Buttermilk, Banana, and&lt;br&gt;
      Honey Ice Pops&lt;/a&gt;&lt;/h4&gt;
      &lt;/td&gt;
    &lt;/tr&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; valign=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-fried-chicken&quot;&gt;&lt;img alt=&quot;Buttermilk Fried Chicken&quot; src=&quot;http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/1431618647/buttermilk-chicken.jpg&quot; width=&quot;250&quot; data-loaded=&quot;true&quot;&gt;&lt;/a&gt;&lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/garlicky-buttermilk-dressing&quot;&gt;&lt;img alt=&quot;Garlicky Buttermilk Dressing&quot; src=&quot;http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/1431618647/buttermilk-dressing.jpg&quot; width=&quot;250&quot; data-loaded=&quot;true&quot;&gt;&lt;/a&gt;&lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-mashed-yukon-gold-potatoes&quot;&gt;&lt;img alt=&quot;Buttermilk Mashed Potatoes&quot; src=&quot;http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/1431618647/buttermilk-potatoes.jpg&quot; width=&quot;250&quot; data-loaded=&quot;true&quot;&gt;&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; valign=&quot;top&quot;&gt;
      &lt;h4 align=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-fried-chicken&quot;&gt;Buttermilk Fried&lt;br&gt;
      Chicken&lt;/a&gt;&lt;/h4&gt;
      &lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;top&quot;&gt;
      &lt;h4 align=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/garlicky-buttermilk-dressing&quot;&gt;Garlicky Buttermilk&lt;br&gt;
      Dressing&lt;/a&gt;&lt;/h4&gt;
      &lt;/td&gt;
      &lt;td align=&quot;center&quot; valign=&quot;top&quot;&gt;
      &lt;h4 align=&quot;center&quot;&gt;&lt;a href=&quot;http://www.realsimple.com/food-recipes/browse-all-recipes/buttermilk-mashed-yukon-gold-potatoes&quot;&gt;Buttermilk Mashed&lt;br&gt;
      Potatoes&lt;/a&gt;&lt;/h4&gt;
      &lt;/td&gt;
    &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;

&lt;h2&gt;Apples could fight cancer.&lt;/h2&gt;
&lt;p&gt;An apple provides roughly 10 percent of the vitamin C and fiber we need each day. Vitamin C is great for boosting our immune system and has been linked with a lower risk of cancer in the esophagus. And dietary fiber is thought to reduce the risk of colorectal cancer, possibly because it helps with weight control. The peels of apples also contain quercetin, a flavonoid that shows anti-inflammatory and antioxidant properties, which can help prevent cancer.&lt;/p&gt;

&lt;h2&gt;They lower cholesterol.&lt;/h2&gt;
&lt;p&gt;As a great source of fiber, apples are classic cholesterol busters. That&rsquo;s because pectin, one type of soluble fiber, lowers LDL, or the &ldquo;bad cholesterol.&rdquo; A medium-sized apple packs 4.4 grams of fiber, a good chunk of the 21 to 25 grams recommended for women and the 30 to 38 grams recommended for men each day.&lt;/p&gt;

&lt;h3&gt;They lower cholesterol.&lt;/h3&gt;
&lt;p&gt;As a great source of fiber, apples are classic cholesterol busters. That&rsquo;s because pectin, one type of soluble fiber, lowers LDL, or the &ldquo;bad cholesterol.&rdquo; A medium-sized apple packs 4.4 grams of fiber, a good chunk of the 21 to 25 grams recommended for women and the 30 to 38 grams recommended for men each day.&lt;/p&gt;

&lt;h4&gt;They lower cholesterol.&lt;/h4&gt;
&lt;p&gt;As a great source of fiber, apples are classic cholesterol busters. That&rsquo;s because pectin, one type of soluble fiber, lowers LDL, or the &ldquo;bad cholesterol.&rdquo; A medium-sized apple packs 4.4 grams of fiber, a good chunk of the 21 to 25 grams recommended for women and the 30 to 38 grams recommended for men each day.&lt;/p&gt;

&lt;h2&gt;And they might reduce the risk of stroke.&lt;/h2&gt;
&lt;p&gt;White, fleshy fruits, like apples, may help lower the odds of having a stroke. One study showed that people who ate a lot of white fruits and veggies were able to reduce their stroke risk by 50 percent. Even adding as little as 25 grams of white produce in each day could lower your risk of stroke by nine percent. So munch away on those apples, pears and cauliflower.&lt;/p&gt;

&lt;h2&gt;Apples are food for thought.&lt;/h2&gt;
&lt;p&gt;Apples may increase your brainpower. Although the rumor that an apple has as much caffeine as a cup of coffee is definitely a myth, they do contain natural sugars that can also give you a boost. So go ahead and try subbing out that second cup of coffee for an apple this afternoon.&lt;/p&gt;
