&lt;section class=&quot;section you-may-also-like&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title heading no-space-btm&quot;&gt;You May Also Like&lt;/h3&gt;
    &lt;div class=&quot;text--s center light t-sans space-btm&quot;&gt;from Zergnet&lt;/div&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  &lt;div id=&quot;zergnet-widget-29000&quot;&gt;&lt;/div&gt;
  &lt;script language=&quot;javascript&quot; type=&quot;text/javascript&quot;&gt;
    (function() {
      var zergnet = document.createElement('script');
      zergnet.type = 'text/javascript'; zergnet.async = true;
      zergnet.src = 'http://www.zergnet.com/zerg.js?id=29000';
      var znscr = document.getElementsByTagName('script')[0];
      znscr.parentNode.insertBefore(zergnet, znscr);
    })();
  &lt;/script&gt;
&lt;/section&gt; &lt;!-- /.you-might-like --&gt;
