&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 500 500&quot; enable-background=&quot;new 0 0 500 500&quot;&gt;
  &lt;title&gt;Grid View&lt;/title&gt;
  &lt;path fill=&quot;#A6A6A6&quot; d=&quot;M6 6h143v143H6zM178 178h144v144H178zM6 350h143v144H6zM6 178h143v144H6zM178 350h144v144H178zM350 178h144v144H350zM350 6h144v143H350zM350 350h144v144H350zM178 6h144v143H178z&quot;/&gt;
  &lt;!--[if lte IE 8]&gt;
  &lt;foreignObject&gt;
    &lt;img src=&quot;../../images/svg/output/png/grid.png&quot; alt=&quot;Grid View&quot; class=&quot;no-svg-png&quot;&gt;
  &lt;/foreignObject&gt;
  &lt;![endif]--&gt;
&lt;/svg&gt;
