&lt;div class=&quot;shift-left-flipped--700 revert-to-origin&quot;&gt;
  &lt;section class=&quot;ingredients recipe-info-section&quot;&gt;
    &lt;h2 class=&quot;heading&quot;&gt;What You Need&lt;/h2&gt;
    &lt;ol class=&quot;ingredient-list&quot;&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;Pie Plate&lt;/span&gt; with rolled out bottom crust&lt;/li&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;Pie filling&lt;/span&gt;&lt;/li&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;A second piece of rolled dough&lt;/span&gt;&lt;/li&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;Tap water&lt;/span&gt;&lt;/li&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;Pastry brush&lt;/span&gt;&lt;/li&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;Flour&lt;/span&gt;&lt;/li&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;One beaten egg&lt;/span&gt;&lt;/li&gt;
      &lt;li class=&quot;ingredient ingredient--no-amt cl-item js-toggle&quot;&gt;&lt;span class=&quot;cb&quot;&gt;{{&gt; atoms-check }}&lt;/span&gt; &lt;span itemprop=&quot;ingredients&quot;&gt;Granulated sugar&lt;/span&gt;&lt;/li&gt;
    &lt;/ol&gt; &lt;!-- /.ingredient-list --&gt;
  &lt;/section&gt; &lt;!-- /.ingredients --&gt;
&lt;/div&gt; &lt;!-- /.shift-left-flipped--700 --&gt;

&lt;div class=&quot;shift-right-flipped--700 revert-to-origin&quot;&gt;
  &lt;div class=&quot;shift-right-flipped-inner--700 revert-to-origin&quot;&gt;
    &lt;section class=&quot;directions recipe-info-section&quot; itemprop=&quot;recipeInstructions&quot;&gt;
      &lt;h2 class=&quot;heading&quot;&gt;Follow These Steps&lt;/h2&gt;
      &lt;ol class=&quot;step-list&quot;&gt;
        &lt;li class=&quot;step&quot;&gt;
          Heat oven to 400&deg; F. &lt;br&gt;
          &lt;em&gt;Tip: Flour your fingertips so the dough doesn't stick to them&lt;/em&gt;
        &lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Place the cauliflower in a single layer on the bottom of a large roasting pan. Drizzle with 2 tablespoons of the oil, &frac12; teaspoon salt, and &frac14; teaspoon pepper. &lt;br&gt;
          &lt;em&gt;Tip: Bake the crust right away, or refrigerate or freeze it for later use.&lt;/em&gt;
        &lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Place the chicken on top and drizzle with 1 tablespoon of the oil, &frac12; teaspoon salt, and &frac14; teaspoon pepper. Roast until an instant-read thermometer inserted in the thickest part of a breast and thigh (avoiding the bone) registers 165&deg; F, 50 minutes to 1 hour, 10 minutes.&lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Transfer the cauliflower to a serving dish.&lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Let the chicken rest for 10 minutes before carving on a cutting board.&lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Transfer the chicken to the serving dish with the cauliflower.&lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Pour 3 tablespoons of the pan juices into a small bowl. (If you don&rsquo;t have enough pan juices, make up the difference with water; first spoon water into the roasting pan and scrape up the browned bits.)&lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Add the parsley, lemon juice, capers, and the remaining 3 tablespoons of oil and mix to combine.&lt;/li&gt;
        &lt;li class=&quot;step&quot;&gt;Serve the sauce over the chicken and cauliflower.&lt;/li&gt;
      &lt;/ol&gt; &lt;!-- /.step-list --&gt;
    &lt;/section&gt; &lt;!-- /.directions --&gt;
  &lt;/div&gt; &lt;!-- /.shift-right-flipped-inner--700 --&gt;
&lt;/div&gt; &lt;!-- /.shift-right-flipped--700 --&gt;
