&lt;section class=&quot;section four-links pad&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h2 class=&quot;s-title&quot;&gt;Four Short Links&lt;/h2&gt;
    {{&gt; molecules-byline }}
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
	&lt;ol class=&quot;block-list&quot;&gt;
    {{# number-blocks }}
		  &lt;li&gt;{{!&gt; molecules-number-block }}&lt;/li&gt;
    {{/ number-blocks }}
	&lt;/ol&gt; &lt;!-- /.block-list --&gt;
  &lt;footer class=&quot;s-footer t-bdr&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;more&quot;&gt;All Short Links &lt;span class=&quot;icon icon-round&quot;&gt;{{&gt; atoms-arrow }}&lt;/span&gt;&lt;/a&gt;
  &lt;/footer&gt; &lt;!-- /.s-footer --&gt;
&lt;/section&gt; &lt;!-- /.four-links --&gt;
