<nav class="primary-nav" role="navigation">
	<ul class="nav-list">
		<li class="l-top {{ hide-class }}">
      <a href="{{ url }}">Food</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Accessories</a></li>
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}">Home</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}">Style</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Clothing</a></li>
        <li class="l-sub"><a href="">Accessories</a></li>
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}">Life</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Accessories</a></li>
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}">Shop</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}">Holidays</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top l-follow {{ hover-class }}" data-toggled="header" data-prefix="follow">
      <a href="{{ url }}">Follow</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="https://www.facebook.com/RealSimple"><span class="no-bg icon rounded icon-facebook icon--large">{{> atoms-facebook }}</span></a></li>
        <li class="l-sub"><a href="https://twitter.com/realsimple"><span class="no-bg icon rounded icon-twitter icon--large">{{> atoms-twitter }}</span></a></li>
        <li class="l-sub"><a href="http://instagram.com/real_simple"><span class="no-bg icon rounded icon-instagram icon--large">{{> atoms-instagram }}</span></a></li>
        <li class="l-sub"><a href="http://www.pinterest.com/realsimple/"><span class="no-bg icon rounded icon-pinterest icon--large">{{> atoms-pinterest }}</span></a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }} l-subscribe {{ subscribe-class }}">
      <a href="{{ url }}">
        <span>Subscribe</span>
        {{# subscribe-class }}
          <div class="pop-out">
            <img src="../../images/stub_subscribe-pop-out.jpg" height="376" width="432" alt="Subscribe &amp; Save">
          </div> <!-- /.pop-out -->
        {{/ subscribe-class }}
      </a>
    </li> <!-- /.l-top {{ hide-class }} -->
	</ul> <!-- /.nav-list -->
</nav> <!-- .nav -->
