<nav id="nav" class="primary-nav">
	<ul class="nav-list">
		<li class="l-top">
      <a href="{{ url }}">Food</a> <span class="aw js-toggle-parent"><span class="arrow arrow--down"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Accessories</a></li>
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top -->
    <li class="l-top">
      <a href="{{ url }}">Home</a> <span class="aw js-toggle-parent"><span class="arrow arrow--down"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top -->
    <li class="l-top">
      <a href="{{ url }}">Style</a> <span class="aw js-toggle-parent"><span class="arrow arrow--down"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Clothing</a></li>
        <li class="l-sub"><a href="">Accessories</a></li>
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top -->
    <li class="l-top">
      <a href="{{ url }}">Life</a> <span class="aw js-toggle-parent"><span class="arrow arrow--down"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Accessories</a></li>
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top -->
    <li class="l-top">
      <a href="{{ url }}">Shop</a> <span class="aw js-toggle-parent"><span class="arrow arrow--down"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top -->
    <li class="l-top">
      <a href="{{ url }}">Holidays</a> <span class="aw js-toggle-parent"><span class="arrow arrow--down"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="">Shoes</a></li>
        <li class="l-sub"><a href="">Clothing Care</a></li>
        <li class="l-sub"><a href="">Hair Care</a></li>
        <li class="l-sub"><a href="">Makeup</a></li>
        <li class="l-sub"><a href="">Skincare</a></li>
        <li class="l-sub"><a href="">Fragrance</a></li>
        <li class="l-sub"><a href="">Makeovers</a></li>
        <li class="l-sub"><a href="">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top -->
    <li class="l-top">
      <a href="{{ url }}">Subscribe</a>
    </li> <!-- /.l-top -->
	</ul> <!-- /.nav-list -->
</nav> <!-- .nav -->
