<nav class="primary-nav" role="navigation" id="{{ rs-site-nav-id }}">
  <ul class="nav-list">
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}" aria-controls="primary-inner">Food</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="" aria-controls="primary-inner">Accessories</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Shoes</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Clothing Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Hair Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeup</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Skincare</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}" aria-controls="primary-inner">Home</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="" aria-controls="primary-inner">Clothing Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Hair Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeup</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Skincare</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Fragrance</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeovers</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}" aria-controls="primary-inner">Style</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="" aria-controls="primary-inner">Clothing</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Accessories</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Shoes</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Clothing Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Hair Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeup</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Skincare</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Fragrance</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeovers</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}" aria-controls="primary-inner">Life</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="" aria-controls="primary-inner">Accessories</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Shoes</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Clothing Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Hair Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeup</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}" aria-controls="primary-inner">Shop</a>
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }}">
      <a href="{{ url }}" aria-controls="primary-inner">Holidays</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="" aria-controls="primary-inner">Shoes</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Clothing Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Hair Care</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeup</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Skincare</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Fragrance</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Makeovers</a></li>
        <li class="l-sub"><a href="" aria-controls="primary-inner">Timesavers</a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top l-follow {{ hover-class }}" data-toggled="header" data-prefix="follow">
      <a href="{{ url }}">Follow</a> <span class="aw js-toggle-parent"><span class="arrow arrow--right"></span></span>
      <ul class="nav-sub">
        <li class="l-sub"><a href="https://www.facebook.com/RealSimple"><span class="no-bg icon rounded icon-facebook icon--large">{{> atoms-facebook }}</span></a></li>
        <li class="l-sub"><a href="https://twitter.com/realsimple"><span class="no-bg icon rounded icon-twitter icon--large">{{> atoms-twitter }}</span></a></li>
        <li class="l-sub"><a href="http://instagram.com/real_simple"><span class="no-bg icon rounded icon-instagram icon--large">{{> atoms-instagram }}</span></a></li>
        <li class="l-sub"><a href="http://www.pinterest.com/realsimple/"><span class="no-bg icon rounded icon-pinterest icon--large">{{> atoms-pinterest }}</span></a></li>
      </ul> <!-- /.nav-sub -->
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top l-give-a-gift {{ hide-class }}">
      <a href="{{ url }}" aria-controls="primary-inner">Give a Gift</a>
    </li> <!-- /.l-top {{ hide-class }} -->
    <li class="l-top {{ hide-class }} l-subscribe {{ subscribe-class }}">
      <a href="{{ url }}">
        <span>Subscribe</span>
        {{# subscribe-class }}
          <div class="pop-out">
            <img src="../../images/stub_subscribe-pop-out.jpg" height="376" width="432" alt="Subscribe &amp; Save">
          </div> <!-- /.pop-out -->
        {{/ subscribe-class }}
      </a>
    </li> <!-- /.l-top {{ hide-class }} -->
  </ul> <!-- /.nav-list -->
</nav> <!-- .nav -->
