<nav class="secondary-nav">
  <ul>
  	<li><a href="{{ url }}">Weddings</a></li>
  	<li><a href="{{ url }}">Checklists</a></li>
  	<li><a href="{{ url }}">Games</a></li>
  	<li><a href="{{ url }}">Makeover in Minutes</a></li>
  	<li><a href="{{ url }}">No-Obligation Book Club</a></li>
    <li><a href="{{ url }}">RS Lifestylers</a></li>
    <li><a href="{{ url }}">Real Simple Rewards</a></li>
    <li><a href="{{ url }}">Real Simple Products</a></li>
    <li><a href="{{ url }}">Meal Planner</a></li>
    <li class="l-padded"><a href="{{ url }}">My Account</a></li>
    <li class="l-alt"><a href="{{ url }}">Contact Us</a></li>
    <li class="l-alt"><a href="{{ url }}">Customer Services</a></li>
  </ul>
</nav> <!-- /.secondary-nav -->
