<!-- HAT Implementation-->
<div id="hatmain" class="hatmain">
  <div class="hatmenu" id="hatgrey">
    <ul class="hatslots" id="hatslots">
      <li> <h3 id='hattitle'> Time Inc. Network </h3></li>
      <li id='realsimplehat'><a class='current' onclick="getOmniture('realsimple');" target='' href='http://www.realsimple.com?xid=logobar-realsimple'><p>Real Simple</p></a></li>
      <li id='cozihat'><a onclick="getOmniture('cozi');" target='' href='http://www.cozi.com?xid=logobar-realsimple'><p>Cozi</p></a></li>
      <li id='foodwinehat'><a onclick="getOmniture('foodwine');" target='' href='http://www.foodandwine.com?xid=logobar-realsimple'><p>Food & Wine</p></a></li>
      <li id='cookinglighthat' class='hat1024'><a onclick="getOmniture('cookinglight');" target='' href='http://www.cookinglight.com?xid=logobar-realsimple'><p>Cooking Light</p></a></li>
      <li id='myrecipeshat' class='hat1100'><a onclick="getOmniture('myrecipes');" target='' href='http://www.myrecipes.com?xid=logobar-realsimple'><p>My Recipes</p></a></li>
      <li id='instylehat' class='hat1175'><a onclick="getOmniture('instyle');" target='' href='http://www.instyle.com/instyle/?xid=logobar-realsimple'><p>InStyle</p></a></li>
      <li id='travelleisurehat' class='hat1250'><a onclick="getOmniture('travelleisure');" target='' href='http://www.travelandleisure.com?xid=logobar-realsimple'><p>Travel + Leisure</p></a></li>
      <li id="morelink"><a href="http://www.timeinc.com/brands/"><p>MORE</p></a></li>
    </ul>
  </div>
</div>
