<div class="h-hide">
  <nav class="util-nav js-hover" data-prefix="util">
  	<ul class="util-nav-list">
  		<li class="li-vis"><a href="">Welcome, Michelle's RS</a></li>
      <li><a href="">Subscriptions</a></li>
      <li><a href="">Preferences</a></li>
      <li><a href="">Favorites</a></li>
      <li><a href="">Log Out</a></li>
  	</ul> <!-- /.util-nav-list -->
  </nav> <!-- .util-nav -->
</div> <!-- /.h-hide -->
