&lt;p&gt;Primary font: &quot;ff-dagny-web-pro&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: &quot;ff-dagny-web-pro&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;ff-dagny-web-pro&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;Secondary font: &quot;futura-pt&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;em&gt;Secondary font italic: &quot;futura-pt&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;strong&gt;Secondary font bold: &quot;futura-pt&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
