&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
  {{&gt; molecules-search }}
  &lt;div class=&quot;header-inner t-bkg&quot;&gt;
    &lt;a href=&quot;#nav&quot; class=&quot;nav-toggler js-toggle&quot; data-toggled=&quot;header&quot; data-prefix=&quot;main-nav&quot;&gt;
      &lt;span class=&quot;nt-inner&quot;&gt;
        &lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;
        &lt;span&gt;&lt;/span&gt;
      &lt;/span&gt; &lt;!-- /.nt-inner --&gt;
    &lt;/a&gt; &lt;!-- /.nav-toggler --&gt;
    {{&gt; atoms-logo }}
    &lt;a href=&quot;#search&quot; class=&quot;search-toggler js-toggle&quot; data-toggled=&quot;header&quot; data-prefix=&quot;search&quot;&gt;
      &lt;span class=&quot;icon icon--small icon-magnifying-glass&quot;&gt;{{&gt; atoms-magnifying-glass }}&lt;/span&gt;
    &lt;/a&gt; &lt;!-- /.search-toggler --&gt;
  &lt;/div&gt; &lt;!-- /.header-inner --&gt;
  &lt;div class=&quot;nav-wrap&quot;&gt;
    {{&gt; molecules-primary-nav }}
  &lt;/div&gt; &lt;!-- /.nav-wrap --&gt;
&lt;/header&gt; &lt;!-- .header --&gt;
