&lt;div class=&quot;top-hat&quot;&gt;{{&gt; molecules-top-hat }}&lt;/div&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;header-inner t-bkg&quot;&gt;
    &lt;div class=&quot;lc&quot;&gt;
      &lt;a href=&quot;#nav&quot; class=&quot;nav-toggler js-toggle&quot; data-toggled=&quot;header, .overlay&quot; data-prefix=&quot;main-nav&quot;&gt;
        &lt;span class=&quot;nt-inner&quot;&gt;
          &lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;
          &lt;span&gt;&lt;/span&gt;
        &lt;/span&gt; &lt;!-- /.nt-inner --&gt;
      &lt;/a&gt; &lt;!-- /.nav-toggler --&gt;
      {{&gt; atoms-logo }}
      {{&gt; molecules-util-nav }}
      &lt;div class=&quot;horiz-nav&quot;&gt;
        {{# wide-nav }}
          {{&gt; molecules-primary-nav }}
        {{/ wide-nav }}
      &lt;/div&gt; &lt;!-- /.horiz-nav --&gt;
      &lt;a href=&quot;#search&quot; class=&quot;search-toggler js-toggle h-hide&quot; data-toggled=&quot;header&quot; data-prefix=&quot;search&quot; data-remove=&quot;main-nav-is-active&quot;&gt;
        &lt;span class=&quot;icon icon--small icon-magnifying-glass&quot;&gt;&lt;/span&gt;
      &lt;/a&gt; &lt;!-- /.search-toggler --&gt;
    &lt;/div&gt; &lt;!-- /.lc --&gt;
  &lt;/div&gt; &lt;!-- /.header-inner --&gt;
  &lt;div class=&quot;nav-wrap&quot;&gt;
    &lt;div class=&quot;nav-wrap-inner&quot;&gt;
      {{&gt; molecules-primary-nav }}
      {{&gt; molecules-secondary-nav }}
    &lt;/div&gt; &lt;!-- /.nav-wrap-inner --&gt;
  &lt;/div&gt; &lt;!-- /.nav-wrap --&gt;
  &lt;div class=&quot;search-overlay&quot;&gt;
    &lt;a href=&quot;#close-search&quot; class=&quot;close js-toggle&quot; data-toggled=&quot;header&quot; data-prefix=&quot;search&quot;&gt;
      &lt;span class=&quot;icon icon--small icon-x&quot;&gt;{{&gt; atoms-x }}&lt;/span&gt;
    &lt;/a&gt; &lt;!-- /.search-toggler --&gt;
    {{&gt; molecules-search }}
  &lt;/div&gt; &lt;!-- /.search-overlay --&gt;
  &lt;div class=&quot;ad-block ad-leaderboard&quot;&gt;
    &lt;a href=&quot;&quot; class=&quot;ad-block ad-300x50&quot;&gt;&lt;img src=&quot;http://placehold.it/300x50&quot;&gt;&lt;/a&gt;
    &lt;a href=&quot;&quot; class=&quot;ad-block ad-728x90&quot;&gt;&lt;img src=&quot;http://placehold.it/728x90&quot;&gt;&lt;/a&gt;
  &lt;/div&gt; &lt;!-- /.ad-leaderboard --&gt;
&lt;/header&gt; &lt;!-- .header --&gt;
