&lt;header class=&quot;article-header cf&quot;&gt;
  &lt;div&gt;{{&gt; molecules-kicker }}&lt;/div&gt;
  {{^ has-video }}
    &lt;h1 class=&quot;lead-headline left-halved&quot; itemprop=&quot;name&quot;&gt;{{ title }}&lt;/h1&gt;
    &lt;div class=&quot;primary-image right-halved&quot;&gt;
      {{&gt; molecules-image-with-social }}
    &lt;/div&gt; &lt;!-- /.primary-image --&gt;
  {{/ has-video }}
  {{# has-video }}
    &lt;div class=&quot;unify__headline-media rel&quot;&gt;
      &lt;div class=&quot;js-stop-video pointer js-toggle-parent icon-close-wrap&quot;&gt;&lt;span class=&quot;icon icon-x icon--small icon-close&quot;&gt;{{&gt; atoms-x }}&lt;/span&gt;&lt;/div&gt;
      &lt;div class=&quot;video-hero&quot;&gt;
        {{&gt; atoms-brightcove-video }}
      &lt;/div&gt; &lt;!-- /.video-hero --&gt;
      &lt;h1 class=&quot;lead-headline left-halved&quot; itemprop=&quot;name&quot;&gt;{{ title }}&lt;/h1&gt;
      &lt;div class=&quot;primary-image right-halved&quot;&gt;
        &lt;div class=&quot;pointer js-play-video&quot;&gt;{{&gt; molecules-image-with-social }}&lt;/div&gt;
      &lt;/div&gt; &lt;!-- /.primary-image --&gt;
  {{/ has-video }}
  &lt;div class=&quot;recipe-meta left-halved&quot;&gt;
    &lt;div class=&quot;five-star-wrap&quot;&gt;
      &lt;div class=&quot;five-star-rated recipe-five-star&quot;&gt;
        &lt;span class=&quot;title light&quot;&gt;Rating&lt;/span&gt;
        &lt;div class=&quot;rating&quot;&gt;
          &lt;span class=&quot;star star--active&quot;&gt;&amp;#9733;&lt;/span&gt;
          &lt;span class=&quot;star star--active&quot;&gt;&amp;#9733;&lt;/span&gt;
          &lt;span class=&quot;star star--active&quot;&gt;&amp;#9733;&lt;/span&gt;
          &lt;span class=&quot;star star--inactive&quot;&gt;&amp;#9733;&lt;/span&gt;
          &lt;span class=&quot;star star--inactive&quot;&gt;&amp;#9733;&lt;/span&gt;
          &lt;span itemprop=&quot;aggregateRating&quot; class=&quot;is-vishidden&quot; itemscope itemtype=&quot;http://schema.org/AggregateRating&quot;&gt;
            &lt;span itemprop=&quot;ratingValue&quot;&gt;4.0&lt;/span&gt; stars based on
            &lt;span itemprop=&quot;reviewCount&quot;&gt;35&lt;/span&gt; reviews
          &lt;/span&gt;
        &lt;/div&gt; &lt;!-- /.rating --&gt;
      &lt;/div&gt; &lt;!-- /.five-star --&gt;
      &lt;a href=&quot;&quot; class=&quot;alt text--m&quot;&gt;Read Reviews&lt;/a&gt;
    &lt;/div&gt; &lt;!-- /.five-star-wrap --&gt;
    &lt;div class=&quot;recipe-data&quot;&gt;
      &lt;ul class=&quot;dl&quot;&gt;
        &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Serves&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;2&lt;/span&gt;&lt;/li&gt;
        &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Prep Time&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;&lt;time datetime=&quot;PT30M&quot; itemprop=&quot;prepTime&quot;&gt;30 min&lt;/time&gt;&lt;/span&gt;&lt;/li&gt;
        &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Cook Time&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;&lt;time datetime=&quot;PT1H&quot; itemprop=&quot;cookTime&quot;&gt;1 hour&lt;/time&gt;&lt;/span&gt;&lt;/li&gt;
        &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Total Time&lt;/span&gt; &lt;span class=&quot;dd&quot;&gt;&lt;time datetime=&quot;PT1H30M&quot; itemprop=&quot;totalTime&quot;&gt;1 hour 30 min&lt;/time&gt;&lt;/span&gt;&lt;/li&gt;
        &lt;li class=&quot;data-nutrition&quot; itemprop=&quot;nutrition&quot; itemscope itemtype=&quot;http://schema.org/NutritionInformation&quot;&gt;
          &lt;a href=&quot;&quot; class=&quot;alt text--m js-toggle has-close&quot; data-toggled=&quot;recipe-data&quot; data-prefix=&quot;nutrition&quot;&gt;Nutritional Information&lt;/a&gt;
          &lt;div class=&quot;nutrition-info-wrap&quot;&gt;
            &lt;a href=&quot;#close&quot; class=&quot;icon icon-x icon--small js-close&quot;&gt;{{&gt; atoms-x }}&lt;/a&gt;
            &lt;div class=&quot;nutrition-info&quot;&gt;
              &lt;h3 class=&quot;upper text--r title space-half-btm&quot;&gt;&lt;strong&gt;Nutritional Information&lt;/strong&gt;&lt;/h3&gt;
              &lt;h4 class=&quot;light space-btm font--m&quot;&gt;Per Serving&lt;/h4&gt;
              &lt;ul class=&quot;dl&quot;&gt;
                &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Calories&lt;/span&gt; &lt;span class=&quot;dd&quot; itemprop=&quot;calories&quot;&gt;556 calories&lt;/span&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Fat&lt;/span&gt; &lt;span class=&quot;dd&quot; itemprop=&quot;fatContent&quot;&gt;29 g (4 g saturated fat)&lt;/span&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Cholesterol&lt;/span&gt; &lt;span class=&quot;dd&quot; itemprop=&quot;cholesterolContent&quot;&gt;62 mg&lt;/span&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Sodium&lt;/span&gt; &lt;span class=&quot;dd&quot; itemprop=&quot;sodiumContent&quot;&gt;269 mg&lt;/span&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Protein&lt;/span&gt; &lt;span class=&quot;dd&quot; itemprop=&quot;proteinContent&quot;&gt;31 g&lt;/span&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Carbohydrate&lt;/span&gt; &lt;span class=&quot;dd&quot; itemprop=&quot;carbohydrateContent&quot;&gt;43 g&lt;/span&gt;&lt;/li&gt;
                &lt;li&gt;&lt;span class=&quot;dt&quot;&gt;Sugar&lt;/span&gt; &lt;span class=&quot;dd&quot; itemprop=&quot;sugarContent&quot;&gt;1 g&lt;/span&gt;&lt;/li&gt;
              &lt;/ul&gt; &lt;!-- /.dl --&gt;
            &lt;/div&gt; &lt;!-- /.nutrition-info --&gt;
          &lt;/div&gt; &lt;!-- /.nutrition-info-wrap --&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;span class=&quot;text--s-m light&quot;&gt;{{ date }}&lt;/span&gt;&lt;/li&gt;
      &lt;/ul&gt; &lt;!-- /.dl --&gt;
    &lt;/div&gt; &lt;!-- /.recipe-data --&gt;
  &lt;/div&gt; &lt;!-- /.recipe-meta --&gt;
  {{# has-video }}
    &lt;/div&gt; &lt;!-- /.unify__headline-media --&gt;
  {{/ has-video }}
  &lt;div class=&quot;article-tools&quot;&gt;
    {{&gt; molecules-social-share }}
    {{&gt; molecules-content-utility }}
  &lt;/div&gt; &lt;!-- /.article-tools --&gt;
&lt;/header&gt; &lt;!-- /.article-header --&gt;
