&lt;div class=&quot;social-share&quot;&gt;
	&lt;ul class=&quot;ss-list&quot;&gt;
    &lt;li class=&quot;ss-item&quot;&gt;
      &lt;a class=&quot;ss-link&quot; href=&quot;{{ url }}&quot;&gt;
        &lt;span class=&quot;ss-count&quot;&gt;2k&lt;/span&gt;
        &lt;span class=&quot;no-bg icon rounded icon-facebook icon--medium&quot;&gt;{{&gt; atoms-facebook }}&lt;/span&gt;
      &lt;/a&gt; &lt;!-- /.ss-link --&gt;
    &lt;/li&gt; &lt;!-- /.ss-item --&gt;
    &lt;li class=&quot;ss-item&quot;&gt;
      &lt;a class=&quot;ss-link&quot; href=&quot;{{ url }}&quot;&gt;
        &lt;span class=&quot;ss-count&quot;&gt;936&lt;/span&gt;
        &lt;span class=&quot;no-bg icon rounded icon-twitter icon--medium&quot;&gt;{{&gt; atoms-twitter }}&lt;/span&gt;
      &lt;/a&gt; &lt;!-- /.ss-link --&gt;
    &lt;/li&gt; &lt;!-- /.ss-item --&gt;
    &lt;li class=&quot;ss-item&quot;&gt;
      &lt;a class=&quot;ss-link&quot; href=&quot;{{ url }}&quot;&gt;
        &lt;span class=&quot;ss-count&quot;&gt;782&lt;/span&gt;
        &lt;span class=&quot;no-bg icon rounded icon-pinterest icon--medium&quot;&gt;{{&gt; atoms-pinterest }}&lt;/span&gt;
      &lt;/a&gt; &lt;!-- /.ss-link --&gt;
    &lt;/li&gt; &lt;!-- /.ss-item --&gt;
  &lt;/ul&gt; &lt;!-- /.ss-list --&gt;
&lt;/div&gt; &lt;!-- /.social-share --&gt;
