&lt;nav class=&quot;secondary-nav&quot; role=&quot;navigation&quot; id=&quot;rs-hamburger-secondary-nav&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Weddings&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Checklists&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Games&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Makeover in Minutes&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;No-Obligation Book Club&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;RS Lifestylers&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Real Simple Rewards&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Real Simple Products&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Meal Planner&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;l-padded&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;My Account&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;l-alt&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;l-alt&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Customer Services&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt; &lt;!-- /.secondary-nav --&gt;
