&lt;section class=&quot;section daily-finds&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title heading&quot;&gt;Daily Finds&lt;/h3&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  {{# daily-finds }}
	  {{&gt; molecules-block-thumb-headline }}
  {{/ daily-finds }}
&lt;/section&gt; &lt;!-- /.daily-finds --&gt;
