@import "bourbon/bourbon";
@import "generic/variables";
@import "generic/mixins";
@import "generic/flex";
@import "neat/neat";

/*------------------------------------*\
    $COOKIE CALENDAR CSS
\*------------------------------------*/

$pink-lighter: rgba($pink, .3);

.cc__cookies {
  overflow: hidden;
  @include mq($px800) {
    margin-bottom: $space-double;
  }
}
.cc__headline {
  font-weight: bold;
  letter-spacing: 1px;
  @include mq($px500) {
    letter-spacing: 2px;
  }
  @media (min-width: $px750) and (min-height: $px750) {
    font-size: rem(45);
  }
  @include mq($px800) {
    font-size: rem(54);
  }
  @include mq($px1000) {
    margin-top: $space-and-half;
    padding-bottom: $pad;
  }
}
.cc__sponsored-by {
  @include mq($px500) {
    margin-top: rem(-6);
  }
  @include mq($px1000) {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: rem(30);
    text-align: left;
  }
}
.cc__article-tools {
  @media (min-width: $px750) and (min-height: $px750) {
    position: absolute;
    left: rem(5);
    bottom: rem(5);
    .social-share {
      margin-bottom: 0;
    }
  }
}
.cc__months {
  position: relative;
  overflow: hidden;
  @media (min-width: $px750) and (min-height: $px750) {
    margin-left: rem(140);
    margin-right: rem(140);
  }
  @include mq($px1000, max) {
    .touch & {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 20px;
        z-index: 10;
        right: 0;
        box-shadow: inset -25px 0px 15px -8px $white;
      }
    }
  }
}
.touch .cc__months-inner {
  @include mq($px1000, max) {
    white-space: nowrap;
    overflow: auto;
    margin: 0 5px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.cc__month {
  text-transform: uppercase;
  color: $black;
  border: 1px solid $pink-lighter;
  font-size: rem(13);
  padding: 11px 14px 9px;
  background-color: $white;
  display: inline-block;
  line-height: 1;
  @media (min-width: $px750) and (min-height: $px750) {
    font-size: rem(17);
    margin-bottom: rem(5);
  }
}

.cc__month--active,
.cc__month--active:focus {
  background-color: $red;
  color: $white;
  &:hover {
    color: $white;
  }
}
.cc__cookie-list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  .owl-buttons {
    text-align: center;
    div {
      display: inline-block;
      margin-left: rem(5);
      margin-right: rem(5);
    }
  }
  @media (min-width: $px750) and (min-height: $px750) {
    min-height: rem(530);
  }
  @include mq($px900) {
    min-height: rem(650);
  }
  @include mq($px1000) {
    min-height: rem(720);
  }
  @include mq($px1100) {
    min-height: rem(800);
  }
  @include mq($px1300) {
    min-height: rem(900);
  }
}
.js .cc__cookie-list {
  display: none;
  @media (min-width: $px750) and (min-height: $px750) {
    display: block;
  }
}
.cc__cookie-list-item {
  height: 100%;
  width: 100%;
  padding-left: rem(5);
  padding-right: rem(5);
  float: left;
  @media (min-width: $px750) and (min-height: $px750) {
    width: 14.2857143%;
    opacity: 0;
    @include transition(opacity .4s $cubic-bezier);
    &.fadein {
      opacity: 1;
    }
  }
}


/**
 * Cookie Block
 */
.cc__block {
  border: 1px solid $pink-lighter;
  margin-bottom: $space-half;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  .lazy--hidden {
    @media (max-height: $px750) {
      display: none;
    }
  }
  @media (min-height: $px750) {
    .lazyOwl,
    .img-wrap {
      display: none;
    }
    &:hover,
    .active-item & {
      border-width: 5px;
      .cc__block-inner{
        margin: -4px;
      }
    }
  }
  .has-social {
    position: static;
    overflow: visible;
  }
}
.cc__block-text {
  white-space: normal;
}
.cc__block-text-inner {
  height: calc(100% - 18px);
  padding-bottom: 0;
  overflow: auto;
}
.cc__number {
  position: absolute;
  right: rem(12);
  top: $space-half;
  width: rem(130);
  font-family: $font-secondary;
  font-size: rem(100);
  color: $red;
  z-index: 10;
  text-align: right;
  //text-shadow: 0 0 5px rgba($black, .4);
  @media (min-width: $px750) and (min-height: $px750) {
    font-size: rem(40);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    padding-top: $pad-half;
    padding-right: rem(12);
  }
  @include mq($px1200) {
    font-size: rem(60);
  }
}
.cc__corner {
  border-bottom: 75px solid $red;
  border-left: 75px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  @include transition(bottom .3s $cubic-bezier, right .3s $cubic-bezier);
  &:hover {
    border-bottom-color: $white;
    .cc__corner-label {
      color: $white;
    }
  }
  @media (min-width: $px750) and (min-height: $px750) {
    display: none;
  }
}
.cc__corner--more {
  .is-active & {
    bottom: -76px;
    right: -76px;
  }
}
.cc__corner--less {
  border-bottom-color: $white;
  bottom: -76px;
  right: -76px;
  z-index: 25;
  .cc__corner-label {
    color: $red;
    left: -47px;
    top: 36px;
  }
  &:hover {
    .cc__corner-label {
      color: $pink;
    }
  }
  .is-active & {
    bottom: 0;
    right: 0;
  }
}
.cc__corner-label {
  position: absolute;
  left: -58px;
  top: 39px;
  color: $white;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: rem(12);
  @include transform(rotate(-45deg));
}

.cc__block-text {
  background-color: $red;
  padding: $pad-and-half;
  color: $white;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  bottom: -101%;
  @include transition(all .3s $cubic-bezier);
  .is-active & {
    bottom: 0;
  }
  @media (min-width: $px750) and (min-height: $px750) {
    display: none;
  }
}
.cc__kicker {
  text-transform: uppercase;
  font-size: rem(11);
  display: block;
  margin-bottom: rem(5);
}
.cc__title {
  font-family: $font-secondary;
  margin-bottom: rem(10);
  font-weight: 400;
  a {
    color: $white;
  }
}
.cc__dek .p {
  color: $white;
  font-size: rem(15);
  font-family: $font-secondary;
  margin-bottom: rem(6);
  line-height: 1.45;
}
.cc__cta {
  color: $white;
  font-size: rem(16);
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: rem(6);
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.cc__credit {
  font-size: rem(11);
  margin-bottom: rem(15);
  display: inline-block;
}
.cc__social-wrap {
  position: absolute;
  z-index: 22;
  left: 0;
  width: 100%;
  bottom: -50px;
  margin-bottom: 0;
  background-color: $pink;
  padding: rem(6) rem(27) rem(8);
  box-shadow: 0 0 10px rgba($black, .2);
  @include transition(bottom .25s ease-out);
  .is-active & {
    bottom: 0;
    @include transition(bottom .25s ease-out .4s);
  }
  .icon {
    border: 1px solid $white;
  }
}
.cc__social.social-share {
  margin-bottom: 0;
}
.cc__credit--btm {
  padding-left: rem(5);
}


/*------------------------------------*\
    $MODAL GALLERY
\*------------------------------------*/

.cc__slide-img {
  border: 1px solid $pink;
  .hover-slide-navigation {
    opacity: 1;
    .icon {
      background-color: $white;
      border: 1px solid $pink;
      path {
        fill: $pink;
      }
      &:hover {
        path {
          fill: $white;
        }
      }
    }
    .icon-arrow-left {
      border-left: none;
    }
    .icon-arrow-right {
      border-right: none;
    }
  }
}
.cc__gallery {
  .slide-title {
    font-size: rem(32);
    margin-bottom: $space-half;
  }
}
.cc__slide-text {
  .slide-controls {
    max-width: none;
    float: none;
  }
  p {
    font-family: $font-secondary;
    color: $gray-dark;
  }
  .credit {
    text-align: left;
    font-family: $font-secondary;
    font-style: normal;
  }
}
.cc__slide-cta {
  font-family: $font;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-bottom: $space;
  display: inline-block;
  @include mq($px1200) {
    margin-bottom: $space-double;
  }
}

/**
 * Push Days
 */
@media (min-width: $px750) and (min-height: $px750) {
  .push-day-1 {
    margin-left: 14.2857143%;
  }
  .push-day-2 {
    margin-left: calc(14.2857143% * 2);
  }
  .push-day-3 {
    margin-left: calc(14.2857143% * 3);
  }
  .push-day-4 {
    margin-left: calc(14.2857143% * 4);
  }
  .push-day-5 {
    margin-left: calc(14.2857143% * 5);
  }
  .push-day-6 {
    margin-left: calc(14.2857143% * 6);
  }
}


/*------------------------------------*\
    $THEMES
\*------------------------------------*/

// Theme specific color palettes
@mixin theme-color($theme-color) {
  .cc__headline,
  .cc__number,
  .cc__slide-text .cc__slide-cta,
  .cc__month:hover,
  .cc__month:focus,
  .slide-title a {
    color: $theme-color;
  }
  .cc__month,
  .cc__block,
  .cc__gallery,
  .cc__slide-img,
  .cc__slide-img .hover-slide-navigation .icon,
  .gallery__modal {
    border-color: rgba($theme-color, .3);
    @include mq($px600) {
      border-color: $theme-color;
    }
  }
  .cc__month--active,
  .cc__month--active:focus,
  .cc__month--active:hover,
  .cc__social-wrap {
    background-color: $theme-color;
    color: $white;
  }
  .cc__block-text {
    background-color: rgba($theme-color, .85);
  }
  .cc__corner {
    border-bottom-color: $theme-color;
  }
  .cc__corner--less {
    border-bottom-color: $white;
    .cc__corner-label {
      color: $theme-color;
    }
    &:hover {
      .cc__corner-label {
        color: $theme-color;
      }
    }
  }
  .cc__slide-img .hover-slide-navigation .icon {
    path {
      fill: $theme-color;
    }
    &:hover {
      background-color: $theme-color;
      path {
        fill: $white;
      }
    }
  }
  // Override color with white for contrast
  .cc__number.white {
    color: $white;
  }
}

// Theme color setup
.cc--blue { @include theme-color($strong-blue); }
.cc--pink { @include theme-color($soft-red); }
.cc--red { @include theme-color($vivid-red); }
.cc--orange { @include theme-color($bright-orange); }
.cc--gray { @include theme-color($grayish-cyan); }
.cc--black { @include theme-color($dark-gray); }
