@import "bourbon/bourbon";
@import "generic/variables";
@import "generic/mixins";
@import "generic/flex";
@import "neat/neat";

/*------------------------------------*\
    $COOKIE CALENDAR CSS
\*------------------------------------*/

$pink-lighter: rgba($pink, .3);

.cc__cookies {
  overflow: hidden;
  @include mq($px800) {
    margin-bottom: $space-double;
  }
}
.cc__headline {
  font-weight: bold;
  letter-spacing: 1px;
  @include mq($px500) {
    letter-spacing: 2px;
  }
  @include mq($px700) {
    padding-bottom: $pad-and-half;
    margin-top: $space-and-half;
  }
  @include mq($px800) {
    font-size: rem(54);
  }
}
.cc__article-tools {
  @include mq($px700) {
    position: absolute;
    left: rem(5);
    bottom: rem(-8);
    .social-share {
      margin-bottom: 0;
    }
  }
}
.cc__month {
  text-transform: uppercase;
  color: $black;
  border: 1px solid $pink-lighter;
  font-size: rem(13);
  padding: rem(6) rem(13);
  @include mq($px700) {
    font-size: rem(17);
    padding: rem(8) rem(18);
  }
}

.cc__month--active {
  background-color: $red;
  color: $white;
  &:hover {
    color: $white;
  }
}
.cc__cookie-list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  @include css3(scroll-snap-type, mandatory);
  @include css3(scroll-snap-points-x, repeat(100%));
}
.cc__cookie-list-item {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
  padding-left: rem(5);
  padding-right: rem(5);
  @include mq($px700) {
    width: 14.2857143%;
    opacity: 0;
    @include transition(opacity .4s $cubic-bezier);
    &.fadein {
      opacity: 1;
    }
  }
}

/**
 * Cookie Block
 */
.cc__block {
  border: 1px solid $pink-lighter;
  margin-bottom: $space-half;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  @include mq($px600) {
    &:hover,
    .active-item & {
      border-width: 5px;
      .cc__block-inner{
        margin: -4px;
      }
    }
  }
}
.cc__block-text {
  white-space: normal;
}
.cc__block-text-inner {
  height: 100%;
  padding-bottom: rem(28);
  max-height: rem(250);
  overflow: auto;
}
.cc__number {
  position: absolute;
  right: rem(12);
  top: $space-half;
  width: rem(130);
  font-family: $font-secondary;
  font-size: rem(100);
  color: $red;
  z-index: 10;
  text-align: right;
  @include mq($px700) {
    font-size: rem(40);
  }
  @include mq($px1200) {
    font-size: rem(60);
  }
}
.cc__corner {
  border-bottom: 75px solid $red;
  border-left: 75px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  @include transition(bottom .3s $cubic-bezier, right .3s $cubic-bezier);
  &:hover {
    border-bottom-color: $white;
    .cc__corner-label {
      color: $white;
    }
  }
  @include mq($px600) {
    display: none;
  }
}
.cc__corner--more {
  .is-active & {
    bottom: -76px;
    right: -76px;
  }
}
.cc__corner--less {
  border-bottom-color: $white;
  bottom: -76px;
  right: -76px;
  z-index: 25;
  .cc__corner-label {
    color: $red;
    left: -47px;
    top: 36px;
  }
  &:hover {
    .cc__corner-label {
      color: $pink;
    }
  }
  .is-active & {
    bottom: 0;
    right: 0;
  }
}
.cc__corner-label {
  position: absolute;
  left: -58px;
  top: 39px;
  color: $white;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: rem(12);
  @include transform(rotate(-45deg));
}

.cc__block-text {
  background-color: $red;
  padding: $pad-and-half;
  color: $white;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  bottom: -101%;
  @include transition(all .3s $cubic-bezier);
  .is-active & {
    bottom: 0;
  }
  @include mq($px600) {
    display: none;
  }
}
.cc__kicker {
  text-transform: uppercase;
  font-size: rem(11);
  display: block;
  margin-bottom: rem(5);
}
.cc__title {
  font-family: $font-secondary;
  margin-bottom: rem(10);
  font-weight: 400;
}
.cc__dek p {
  color: $white;
  font-size: rem(15);
  font-family: $font-secondary;
  margin-bottom: rem(6);
  line-height: 1.45;
}
.cc__cta {
  color: $white;
  font-size: rem(14);
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: rem(6);
}
.cc__credit {
  font-size: rem(11);
}
.cc__social-wrap {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -30px;
  margin-bottom: 0;
  background-color: $pink;
  padding: rem(6) rem(27) rem(8);
  box-shadow: 0 0 10px rgba($black, .2);
  @include transition(bottom .3s ease-out .4s);
  .is-active & {
    bottom: 0;
  }
  .icon {
    border: 1px solid $white;
  }
}
.cc__social {
  margin-bottom: 0;
}
.cc__credit--btm {
  @include mq($px400) {
    padding-left: rem(5);
  }
}


/*------------------------------------*\
    $MODAL GALLERY
\*------------------------------------*/

.cc__slide-img {
  border: 1px solid $pink;
  .hover-slide-navigation {
    opacity: 1;
    .icon {
      background-color: $white;
      border: 1px solid $pink;
      path {
        fill: $pink;
      }
      &:hover {
        path {
          fill: $white;
        }
      }
    }
    .icon-arrow-left {
      border-left: none;
    }
    .icon-arrow-right {
      border-right: none;
    }
  }
}
.cc__gallery {
  .slide-title {
    font-size: rem(32);
    margin-bottom: $space-half;
  }
}
.cc__slide-text {
  .slide-controls {
    max-width: none;
    float: none;
  }
  p {
    font-family: $font-secondary;
    color: $gray-dark;
  }
  .credit {
    text-align: left;
    font-family: $font-secondary;
    font-style: normal;
  }
}
.cc__slide-cta {
  font-family: $font;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-bottom: $space;
  display: inline-block;
  @include mq($px1200) {
    margin-bottom: $space-double;
  }
}



/*------------------------------------*\
    $THEMES
\*------------------------------------*/

// Theme specific color palettes
@mixin theme-color($theme-color) {
  .cc__headline,
  .cc__number,
  .cc__slide-text .cc__slide-cta {
    color: $theme-color;
  }
  .cc__month,
  .cc__block,
  .cc__gallery,
  .cc__slide-img,
  .cc__slide-img .hover-slide-navigation .icon {
    border-color: rgba($theme-color, .3);
    @include mq($px600) {
      border-color: $theme-color;
    }
  }
  .cc__month--active {
    background-color: $theme-color;
  }
  .cc__block-text {
    background-color: rgba($theme-color, .85);
  }
  .cc__corner {
    border-bottom-color: $theme-color;
  }
  .cc__corner--less {
    border-bottom-color: $white;
    .cc__corner-label {
      color: $theme-color;
    }
    &:hover {
      .cc__corner-label {
        color: $theme-color;
      }
    }
  }
  .cc__slide-img .hover-slide-navigation .icon {
    path {
      fill: $theme-color;
    }
    &:hover {
      background-color: $theme-color;
      path {
        fill: $white;
      }
    }
  }
}

// Theme color setup
.cc--blue { @include theme-color($strong-blue); }
.cc--pink { @include theme-color($soft-red); }
.cc--red { @include theme-color($vivid-red); }
.cc--orange { @include theme-color($bright-orange); }
.cc--gray { @include theme-color($grayish-cyan); }
.cc--black { @include theme-color($dark-gray); }
