&lt;div class=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
		{{# sponsored }}
			{{&gt; molecules-sponsor-header }}
		{{/ sponsored }}
		&lt;div class=&quot;primary&quot;&gt;
			&lt;section class=&quot;primary-inner&quot;&gt;
				&lt;article class=&quot;article article-checklist&quot;&gt;

					{{# checklist-head }}
						&lt;header class=&quot;article-header center article-header--checklist cf&quot;&gt;
							{{&gt; molecules-kicker }}
							&lt;div class=&quot;header-img&quot;&gt;{{&gt; atoms-image }}&lt;/div&gt;
							&lt;h1 class=&quot;lead-headline&quot; itemprop=&quot;name&quot;&gt;{{ title }}&lt;/h1&gt;
							&lt;h2 class=&quot;lead-subtitle&quot; itemprop=&quot;alternativeHeadline&quot;&gt;{{ subtitle }}&lt;/h2&gt;
							&lt;div class=&quot;article-tools&quot;&gt;
								{{&gt; molecules-social-share }}
								{{&gt; molecules-content-utility }}
							&lt;/div&gt; &lt;!-- /.article-tools --&gt;
						&lt;/header&gt; &lt;!-- /.article-header --&gt;
					{{/ checklist-head }}

					&lt;div class=&quot;ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm&quot;&gt;
						&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg&quot;&gt;&lt;/a&gt;
					&lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;

					&lt;section class=&quot;section checklist-body cf&quot;&gt;
						{{&gt; organisms-checklist-body }}
					&lt;/section&gt; &lt;!-- /.checklist-body --&gt;

					&lt;footer class=&quot;article-footer&quot;&gt;

						{{&gt; molecules-content-utilities }}

						&lt;div class=&quot;narrow&quot;&gt;
							{{# checklist-app }}
								{{&gt; molecules-block-thumb-dek }}
							{{/ checklist-app }}
						&lt;/div&gt; &lt;!-- /.narrow --&gt;

					&lt;/footer&gt; &lt;!-- /.article-footer --&gt;

				&lt;/article&gt; &lt;!-- /.article-standard --&gt;

				{{&gt; organisms-content-footer }}
			&lt;/section&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;

		&lt;div class=&quot;secondary&quot;&gt;
			{{&gt; organisms-sidebar }}
		&lt;/div&gt; &lt;!-- /.secondary --&gt;

	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
