&lt;li class=&quot;carousel-item {{ carousel-item-class }}&quot; data-slide=&quot;{{ slide-num }}&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    {{# is-starter-item }}
      &lt;span class=&quot;upper&quot;&gt;Start&lt;/span&gt;
    {{/ is-starter-item }}
    {{&gt; atoms-image }}
  &lt;/a&gt;
&lt;/li&gt; &lt;!-- /.carousel-item --&gt;
