{{# checklist }}
  <section class="section checklist-items">
    <header class="s-header">
      <h2 class="s-title alt-heading--pink align-left">{{ cl-title }}</h2>
    </header> <!-- /.s-header -->
    <ol class="cl-task-list">
      {{# cl-items }}
        <li class="cl-item js-toggle {{ cl-item-class }}">
          <div class="cl-task">
            <span class="cb cb--large">{{> atoms-check }}</span>
            <strong class="has-strike text--l"><span>{{ cl-task }}</span></strong>
          </div> <!-- /.cl-task -->
          {{# cl-desc }}
            <div class="cl-desc text">
              <p class="text--r">{{ cl-desc }}</p>
            </div> <!-- /.cl-desc -->
          {{/ cl-desc }}
        </li> <!-- .cl-item -->
      {{/ cl-items }}
    </ol> <!-- /.cl-task-list -->
  </section> <!-- /.checklist-items -->
{{/ checklist }}
