<section class="section checklist-items">
  <header class="s-header">
    <h2 class="s-title alt-heading--pink">Sixteen to Nine Months Before</h2>
  </header> <!-- /.s-header -->
  <ol class="cl-task-list">
    <li class="cl-item js-toggle">
      <div class="cl-task">
        <span class="cb cb--large">{{> atoms-check }}</span>
        <strong class="has-strike text--l">Start a wedding folder or binder.</strong>
      </div> <!-- /.cl-task -->
      <div class="cl-desc text">
        <p class="text--r">Begin leafing through bridal, lifestyle, fashion, gardening, design, and food magazines for inspiration.</p>
      </div> <!-- /.cl-desc -->
    </li> <!-- .cl-item -->
  </ol> <!-- /.cl-task-list -->
</section> <!-- /.checklist-items -->
