{{# checklist }}
  <section class="section checklist-items">
    <header class="s-header">
      <h2 class="s-title alt-heading--pink align-left">{{ cl-title }}</h2>
    </header> <!-- /.s-header -->
    <ol class="cl-task-list">
      {{# cl-items }}
        <li class="cl-item js-toggle {{ cl-item-class }}">
          <div class="cl-task">
            <span class="cb cb--large">{{> atoms-check }}</span>
            <strong class="has-strike text--l"><span>{{ cl-task }}</span></strong>
          </div> <!-- /.cl-task -->
          {{# cl-desc }}
            <div class="cl-desc text">
              <p class="text--r">{{ cl-desc }}</p>
            </div> <!-- /.cl-desc -->
          {{/ cl-desc }}
        </li> <!-- .cl-item -->
      {{/ cl-items }}
    </ol> <!-- /.cl-task-list -->
  </section> <!-- /.checklist-items -->

  {{# ad-instream }}
    <div class="ad-blocks ad-responsive ad-instream space-double-btm">
      <div class="ad-block ad-300x250 hide-larger"><a href=""><img src="http://dqckmuwjiytix.cloudfront.net/a/8933/img/300x250_Free%20Sample_static.jpg"></a></div>
      <div class="ad-block ad-728x90 hide-large hide-med hide-small"><a href=""><img src="http://s1.2mdn.net/viewad/3340030/clx_clb_e40024_value-oxi_rev_728x90.jpg"></a></div>
    </div> <!-- /.ad-responsive -->
  {{/ ad-instream }}

{{/ checklist }}
