<h2>Things Cooks Know</h2>

<p>A weekly podcast where a professional cook, RealSimple.com’s food editor Sarah Karnasiewicz, shares insider advice and secrets that a busy, hungry, amateur cook, <em>Real Simple</em>’s executive editor Sarah Humphreys, can use in her own kitchen.</p>

<figure class="embed"><iframe frameborder="no" height="166" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221762022&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" width="100%"></iframe></figure>

<h3>Recent Episodes:</h3>

<ul><li><a href="https://soundcloud.com/panoply/things-cooks-know-the-summer-bucket-list" target="_blank" title="Listen Now">Ep 26: The Summer Bucket List</a></li>
  <li><a href="https://soundcloud.com/panoply/things-cooks-know-campfire-cooking/s-gO3yh" target="_blank" title="Listen Now">Ep 25: Campfire Cooking</a></li>
  <li><a href="https://soundcloud.com/panoply/things-cooks-know-tomatoes" target="_blank" title="Listen Now">Ep 24: Tomatoes</a></li>
</ul>

<p class="text--s upper t-sans"><a href="#" id="tck_more">Show More »</a></p>



<hr />
<h2>The Labor of Love</h2>

<p>A podcast where love and laundry collide. In every episode, RealSimple.com editor Lori Leibovich offers advice to a couple whose source of tension stems from the everyday trials of managing a household and a partnership. Lori consults with organizational experts and therapists to help couples work through their issues.</p>

<figure class="embed"><iframe frameborder="no" height="166" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/222043511&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" width="100%"></iframe></figure>

<h3>Recent Episodes:</h3>

<ul><li><a href="https://soundcloud.com/panoply/the-labor-of-love-back-to-school-stress-in-kids" target="_blank" title="Listen Now">Ep 25: Relieving Kids' Back-To-School Stress</a></li>
  <li><a href="https://soundcloud.com/panoply/the-labor-of-love-lets-talk-about-sext-ing" target="_blank" title="Listen Now">Ep 24: Let's Talk About Sext(ing)</a></li>
  <li><a href="https://soundcloud.com/panoply/the-labor-of-love-how-to-improve-your-odds-of-finding-love" target="_blank" title="Listen Now">Ep 23: How to Improve Your Odds of Finding Love</a></li>
</ul>
<p class="text--s upper t-sans"><a href="#" id="tlol_more">Show More »</a></p>

<hr />

<h2>Things Cooks Know</h2>

<p>A weekly podcast where a professional cook, RealSimple.com’s food editor Sarah Karnasiewicz, shares insider advice and secrets that a busy, hungry, amateur cook, <em>Real Simple</em>’s executive editor Sarah Humphreys, can use in her own kitchen.</p>

<figure class="embed"><iframe frameborder="no" height="166" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221762022&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" width="100%"></iframe></figure>

<h3>Recent Episodes:</h3>

<ul><li><a href="https://soundcloud.com/panoply/things-cooks-know-the-summer-bucket-list" target="_blank" title="Listen Now">Ep 26: The Summer Bucket List</a></li>
  <li><a href="https://soundcloud.com/panoply/things-cooks-know-campfire-cooking/s-gO3yh" target="_blank" title="Listen Now">Ep 25: Campfire Cooking</a></li>
  <li><a href="https://soundcloud.com/panoply/things-cooks-know-tomatoes" target="_blank" title="Listen Now">Ep 24: Tomatoes</a></li>
</ul>

<p class="text--s upper t-sans"><a href="#" id="tck_more">Show More »</a></p>



<hr />
<h2>The Labor of Love</h2>

<p>A podcast where love and laundry collide. In every episode, RealSimple.com editor Lori Leibovich offers advice to a couple whose source of tension stems from the everyday trials of managing a household and a partnership. Lori consults with organizational experts and therapists to help couples work through their issues.</p>

<figure class="embed"><iframe frameborder="no" height="166" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/222043511&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" width="100%"></iframe></figure>

<h3>Recent Episodes:</h3>

<ul><li><a href="https://soundcloud.com/panoply/the-labor-of-love-back-to-school-stress-in-kids" target="_blank" title="Listen Now">Ep 25: Relieving Kids' Back-To-School Stress</a></li>
  <li><a href="https://soundcloud.com/panoply/the-labor-of-love-lets-talk-about-sext-ing" target="_blank" title="Listen Now">Ep 24: Let's Talk About Sext(ing)</a></li>
  <li><a href="https://soundcloud.com/panoply/the-labor-of-love-how-to-improve-your-odds-of-finding-love" target="_blank" title="Listen Now">Ep 23: How to Improve Your Odds of Finding Love</a></li>
</ul>
<p class="text--s upper t-sans"><a href="#" id="tlol_more">Show More »</a></p>

<hr />

