<div class="directions recipe-info-section no-float" itemprop="recipeInstructions">
  <h2 class="heading">Directions</h2>
  <ol class="step-list">
    <li class="step">
      <strong class="font--primary">Flour your rolling surface and rolling pin</strong>
      <p>Place a well-chilled piece of dough shaped into a disk onto a floured surface. Dust the rolling pin and your fingers with flour to prevent sticking. <br>
      <em>Tip: Flour your fingertips so the dough doesn't stick to them</em></p>
    </li>
    <li class="step">
      <!-- <strong class="font--primary">Roll out the dough, rotating the dough as you go</strong> -->
      <p>Applying even pressure, press your rolling pin into the dough, rolling away from you and back. Rotate the disk as you go, and flip it over occasionally, to create an even circle. When the dough starts to feel sticky, apply a light dusting of flour.</p>
      <p>When the dough is a little less than a quarter of an inch thick, place your pie plate in the center of the dough, face up, to check that the dough you’ve rolled out is large enough to fit the dish. <br>
      <em>Tip: Bake the crust right away, or refrigerate or freeze it for later use.</em></p>
    </li>
    <li class="step">
      <strong class="font--primary">Transfer the dough into the pie plate</strong>
      <p>Flip the rolled dough in half toward you, creating a half-moon shape, and lift it over the plate. Set it down so that it covers half the plate; then open it so it forms a circle again and covers the entire pie plate.</p>
    </li>
    <li class="step">
      <strong class="font--primary">Press the dough into the pie plate</strong>
      <p>With your fingertips, gently push the pie dough into the bottom and sides of the plate.</p>
    </li>
    <li class="step">
      <strong class="font--primary">Trim the edges</strong>
      <p>Use a scissor to cut any extra dough along the edge, leaving a 1/2-inch border. Fold the edge of the dough underneath itself so that it creates a thicker, 1/4-inch border that rests on the lip of the plate.</p>
    </li>
    <li class="step">
      <strong class="font--primary">Crimp the edges</strong>
      <p>Create a patterned edge by pressing the thumb of one hand against the edge of the dough from the outside of the dish while gently pressing with the thumb and forefinger of the other hand from the inside. Rotate the pie plate until you’ve completed the pattern along the entire edge.</p>
    </li>
  </ol> <!-- /.step-list -->
</div> <!-- /.directions -->
<strong class="gray font--primary text--m" itemprop="author">By Dawn Perry</strong>

