<div class="shift-left-flipped--700 revert-to-origin">
  <section class="ingredients recipe-info-section">
    <h2 class="heading">What You Need</h2>
    <ol class="ingredient-list">
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">Pie Plate</span> with rolled out bottom crust</li>
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">Pie filling</span></li>
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">A second piece of rolled dough</span></li>
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">Tap water</span></li>
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">Pastry brush</span></li>
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">Flour</span></li>
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">One beaten egg</span></li>
      <li class="ingredient ingredient--no-amt cl-item js-toggle"><span class="cb">{{> atoms-check }}</span> <span itemprop="ingredients">Granulated sugar</span></li>
    </ol> <!-- /.ingredient-list -->
  </section> <!-- /.ingredients -->
</div> <!-- /.shift-left-flipped--700 -->

<div class="shift-right-flipped--700 revert-to-origin">
  <div class="shift-right-flipped-inner--700 revert-to-origin">
    <section class="directions recipe-info-section" itemprop="recipeInstructions">
      <h2 class="heading">Follow These Steps</h2>
      <ol class="step-list">
        <li class="step">
          Heat oven to 400° F. <br>
          <em>Tip: Flour your fingertips so the dough doesn't stick to them</em>
        </li>
        <li class="step">Place the cauliflower in a single layer on the bottom of a large roasting pan. Drizzle with 2 tablespoons of the oil, ½ teaspoon salt, and ¼ teaspoon pepper. <br>
          <em>Tip: Bake the crust right away, or refrigerate or freeze it for later use.</em>
        </li>
        <li class="step">Place the chicken on top and drizzle with 1 tablespoon of the oil, ½ teaspoon salt, and ¼ teaspoon pepper. Roast until an instant-read thermometer inserted in the thickest part of a breast and thigh (avoiding the bone) registers 165° F, 50 minutes to 1 hour, 10 minutes.</li>
        <li class="step">Transfer the cauliflower to a serving dish.</li>
        <li class="step">Let the chicken rest for 10 minutes before carving on a cutting board.</li>
        <li class="step">Transfer the chicken to the serving dish with the cauliflower.</li>
        <li class="step">Pour 3 tablespoons of the pan juices into a small bowl. (If you don’t have enough pan juices, make up the difference with water; first spoon water into the roasting pan and scrape up the browned bits.)</li>
        <li class="step">Add the parsley, lemon juice, capers, and the remaining 3 tablespoons of oil and mix to combine.</li>
        <li class="step">Serve the sauce over the chicken and cauliflower.</li>
      </ol> <!-- /.step-list -->
    </section> <!-- /.directions -->
  </div> <!-- /.shift-right-flipped-inner--700 -->
</div> <!-- /.shift-right-flipped--700 -->
