<div class="ad-block ad-300x250 block">
  <span class="upper text--tiny center t-sans light">Advertisement</span>
  <a href=""><img src="http://s1.2mdn.net/viewad/3521978/SINS_WebBanner_300x250.jpg"></a>
</div> <!-- /.ad-300x250 -->
