&lt;div class=&quot;slide-navigation&quot;&gt;
  &lt;span class=&quot;icon no-bg rounded icon-arrow-left icon--alt icon--medium js-slide-hover-prev&quot;&gt;{{&gt; atoms-arrow-left }}&lt;/span&gt;
  &lt;span class=&quot;icon no-bg rounded icon-arrow-right icon--alt icon--medium js-slide-hover-next&quot;&gt;{{&gt; atoms-arrow-right }}&lt;/span&gt;
  &lt;div class=&quot;slide-count&quot;&gt;&lt;span class=&quot;slide-index&quot;&gt;&lt;/span&gt; of 9&lt;/div&gt;
&lt;/div&gt; &lt;!-- /.slide-navigation --&gt;
