&lt;div class=&quot;page&quot;&gt;
  {{&gt; organisms-header }}
    &lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
      &lt;div class=&quot;primary&quot;&gt;
        &lt;div class=&quot;primary-inner&quot;&gt;

          {{# package-head }}
            &lt;header class=&quot;article-header package-header cf center&quot;&gt;
              &lt;h1 class=&quot;lead-headline upper pink&quot; itemprop=&quot;headline&quot;&gt;{{ title }}&lt;/h1&gt;
              &lt;h2 class=&quot;lead-subtitle narrow&quot; itemprop=&quot;alternativeHeadline&quot;&gt;{{ subtitle }}&lt;/h2&gt;
            &lt;/header&gt; &lt;!-- /.package-header --&gt;
          {{/ package-head }}

          &lt;section class=&quot;section package-featured space-double-btm pad-btm&quot;&gt;
            &lt;div class=&quot;g g-3up-v2&quot;&gt;
              {{# package-featured }}
                &lt;div class=&quot;gi&quot;&gt;{{&gt; molecules-block-thumb-headline }}&lt;/div&gt;
              {{/ package-featured }}
            &lt;/div&gt; &lt;!-- /.g-3up-v2 --&gt;
          &lt;/section&gt; &lt;!-- /.package-featured --&gt;

          &lt;section class=&quot;section content-modules&quot;&gt;
            &lt;header class=&quot;s-header space-double-btm&quot;&gt;
              &lt;h3 class=&quot;s-title heading with-wings&quot;&gt;&lt;span&gt;Snack Chat&lt;/span&gt;&lt;/h3&gt;
            &lt;/header&gt; &lt;!-- /.s-header --&gt;
            {{# content-modules-1 }}
              {{&gt; molecules-block-thumb-headline }}
            {{/ content-modules-1 }}
          &lt;/section&gt; &lt;!-- /.content-modules --&gt;

          {{# checklist-section }}
            &lt;section class=&quot;section checklist-promo center space-double-btm&quot;&gt;
              &lt;header class=&quot;s-header space-double-btm&quot;&gt;
                &lt;h3 class=&quot;s-title heading with-wings&quot;&gt;&lt;span&gt;Checklist&lt;/span&gt;&lt;/h3&gt;
              &lt;/header&gt; &lt;!-- /.s-header --&gt;
              &lt;div class=&quot;narrow&quot;&gt;
                {{&gt; molecules-block-thumb-headline }}
              &lt;/div&gt; &lt;!-- /.narrow --&gt;
            &lt;/section&gt; &lt;!-- /.checklist-promo --&gt;
          {{/ checklist-section }}

          &lt;section class=&quot;section content-modules&quot;&gt;
            &lt;header class=&quot;s-header space-double-btm&quot;&gt;
              &lt;h3 class=&quot;s-title heading with-wings&quot;&gt;&lt;span&gt;Ingredient Guide&lt;/span&gt;&lt;/h3&gt;
            &lt;/header&gt; &lt;!-- /.s-header --&gt;
            {{# content-modules-2 }}
              {{&gt; molecules-block-thumb-headline }}
            {{/ content-modules-2 }}
          &lt;/section&gt; &lt;!-- /.content-modules --&gt;

        &lt;/div&gt; &lt;!-- /.primary-inner --&gt;
      &lt;/div&gt; &lt;!-- /.primary --&gt;

      &lt;div class=&quot;secondary no-pad-top&quot;&gt;
        {{&gt; organisms-sidebar }}
      &lt;/div&gt; &lt;!-- /.secondary --&gt;
    &lt;/div&gt;&lt;!-- /role=main --&gt;

  {{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
