  &lt;div id=&quot;video__container&quot; class=&quot;video__outer-container&quot;&gt;

      {{&gt; atoms-loading }}

      &lt;!-- Start of Brightcove Player --&gt;

      &lt;div style=&quot;display: block; position: relative;&quot;&gt;
        &lt;div class=&quot;sixteen-nine&quot;&gt;
          &lt;video data-video-id=&quot;3431438767001&quot;
                 data-account=&quot;507936866&quot;
                 data-player=&quot;HyByeUad&quot;
                 data-embed=&quot;default&quot;
                 class=&quot;video-js aspect-ratio-content&quot;
                 controls&gt;
                 &lt;!--autoplay--&gt;
          &lt;/video&gt;

          &lt;script src=&quot;//players.brightcove.net/507936866/HyByeUad_default/index.min.js&quot;&gt;&lt;/script&gt;
        &lt;/div&gt;
      &lt;/div&gt;

    &lt;!-- End of Brightcove Player --&gt;

  &lt;/div&gt; &lt;!-- /.video__outer-container --&gt;

