&lt;div id=&quot;video__container&quot; class=&quot;video__outer-container&quot;&gt;
  {{&gt; atoms-loading }}
  &lt;div style=&quot;display: block; position: relative;&quot;&gt;
    &lt;div class=&quot;brightcove-jumpstart&quot;&gt;
      &lt;video id=&quot;bc_player_3431438767001&quot;
        data-video-id=&quot;3431438767001&quot;
        data-account=&quot;507936866&quot;
        data-player=&quot;HyByeUad&quot;
        data-embed=&quot;default&quot;
        class=&quot;video-js aspect-ratio-content&quot;
        data-autoplay=&quot;true&quot;
        data-stickyplay=&quot;desktop&quot;
        controls&gt;
      &lt;/video&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
