{{!
  This markup is taken from the realsimple.com production markup. To make it
  easier on development and since the new design looks and performs the same as
  the current comment system, we're recycling it and not creating new functionality.
}}
<div class="comment_form">
  <form action="" id="new_comment_form" name="new_comment_form">
    <div class="your_comment_form">
      <div>
        <a class="profile_sign_up" href="#">Sign Up</a> Or <a class="profile_log_in" href="#">Sign In</a> To Add Your Comment
      </div>
      <img alt="Real Simple Profile Icon" class="your_profile_icon" height="31" src="http://www.realsimple.com/static/i/community/rs_profile_sm.gif" width="30">
      <textarea class="your_comment" cols="70" disabled="disabled" id="comment_body" name="comment[body]" rows="10">
</textarea>
      <div class="commenting_action_bar clr">
        <input alt="Add My Comment" class="btn_add_my_comment" disabled="disabled" id="btn_add_my_comment" name="btn_add_my_comment" src=
        "http://www.realsimple.com/static/i/community/btn_add_my_comment_disabled.gif" type="image">
        <!-- <button class="btn comment_submit_btn">Submit</button> -->
        <span class="disabled_link">Cancel</span>
      </div>
      <div class="errors"></div>
    </div>
  </form>
</div>
<ul class="rails-comments__comments-list" id="comments">
  <li class="rsEmpty"></li>
  <li class="comment" id="comment_533ddad2ca9f70055005f39b">
    <div class="user_comment clear">
      <div class="comment_author"><img alt="Real Simple Author Icon" class="comment_author_icon" height="75" src="http://profiles.realsimple.com/photos/medium/missing.png"></div>
      <div class="comment_body">
        <div class="comment_txt">
          Becks416: I added some soy sauce to the dressing, as well as toasted sesame seeds, fresh ginger, and red pepper slices...it was delicious!
        </div>
        <div class="comment_ts">
          Posted Tue 6/25/13 01:33 PM <a class="get report_inappropriate_link" href="#">Report as inappropriate?</a>
        </div>
        <div class="comment_reply_tb">
          <a class="get expand_replies_link empty" href="#">Read Replies (0)</a> <a class="get add_reply_link" href="#">Add Reply</a>
        </div>
        <div class="comment_delete">
          <a href="#">Delete My Comment</a>
        </div><span class="clr"></span>
      </div>
    </div>
    <div class="form"></div>
    <ul class="replies"></ul>
  </li>
  <li class="comment" id="comment_533ddaadca9f70386105cbe4">
    <div class="user_comment clear">
      <div class="comment_author"><img alt="Real Simple Author Icon" class="comment_author_icon" height="75" src="http://profiles.realsimple.com/photos/medium/missing.png"></div>
      <div class="comment_body">
        <div class="comment_txt">
          jerodjoe: this meal is delicious.
        </div>
        <div class="comment_ts">
          Posted Mon 10/15/12 05:05 PM <a class="get report_inappropriate_link" href="#">Report as inappropriate?</a>
        </div>
        <div class="comment_reply_tb">
          <a class="get expand_replies_link empty" href="#">Read Replies (0)</a> <a class="get add_reply_link" href="#">Add Reply</a>
        </div>
        <div class="comment_delete">
          <a href="#">Delete My Comment</a>
        </div><span class="clr"></span>
      </div>
    </div>
    <div class="form">
      <form action="">
        <div class="your_comment_form">
          <div>
            <a href="#" class="profile_sign_up" sl-processed="1">Sign Up</a> Or <a href="#" class="profile_log_in" sl-processed="1">Sign In</a> To Add Your Comment
          </div>
          <img src="http://www.realsimple.com/static/i/community/rs_profile_sm.gif" width="30" height="31" alt="Real Simple Profile Icon" class="your_profile_icon">
          <textarea id="comment_body" name="comment[body]" class="your_comment" rows="10" cols="70" disabled="disabled"></textarea>
          <div class="commenting_action_bar clr">
            <button class="btn comment_submit_btn">Submit</button>
            <span class="disabled_link">Cancel</span>
          </div>
          <div class="errors"></div>
        </div>
        <input type="hidden" name="comment[parent_id]" value="533dd96bca9f70055005a8a8">
      </form>
    </div>
    <ul class="replies"></ul>
  </li>
  <li class="comment" id="comment_533dda87ca9f70055005e273">
    <div class="user_comment clear">
      <div class="comment_author"><img alt="Real Simple Author Icon" class="comment_author_icon" height="75" src="http://profiles.realsimple.com/photos/medium/missing.png"></div>
      <div class="comment_body">
        <div class="comment_txt">
          lovescooking: This was a really simple dinner. I added some napa cabbage to the mix. I think I might go with a little more heat, but we added some Sriracha to heat it up =)
        </div>
        <div class="comment_ts">
          Posted Fri 5/18/12 04:00 PM <a class="get report_inappropriate_link" href="#">Report as inappropriate?</a>
        </div>
        <div class="comment_reply_tb">
          <a class="get expand_replies_link empty" href="#">Read Replies (0)</a> <a class="get add_reply_link" href="#">Add Reply</a>
        </div>
        <div class="comment_delete">
          <a href="#">Delete My Comment</a>
        </div><span class="clr"></span>
      </div>
    </div>
    <div class="form"></div>
    <ul class="replies"></ul>
  </li>
  <li class="comment lastComment" id="comment_533ddaa3ca9f707e9c05f595">
    <div class="user_comment clear">
      <div class="comment_author"><img alt="Real Simple Author Icon" class="comment_author_icon" height="75 width=" src=
      "http://profiles.realsimple.com/system/photos/000/165/134/medium.jpg?946684800"></div>
      <div class="comment_body">
        <div class="comment_txt">
          seabelis: Easy and tasty. I couldn't find soba noodles so I used whole wheat spaghetti. I think the right noodles would have been better, but the spaghetti was acceptable.
        </div>
        <div class="comment_ts">
          Posted Fri 5/18/12 01:57 AM <a class="get report_inappropriate_link" href="#">Report as inappropriate?</a>
        </div>
        <div class="comment_reply_tb">
          <a class="get expand_replies_link empty" href="#">Read Replies (0)</a> <a class="get add_reply_link" href="#">Add Reply</a>
        </div>
        <div class="comment_delete">
          <a href="#">Delete My Comment</a>
        </div><span class="clr"></span>
      </div>
    </div>
    <div class="form"></div>
    <ul class="replies"></ul>
  </li>
</ul>
<a class="rails-comments__expand-link" href="#" id="view_earlier_comments" style="display: none;">View Earlier Comments</a>
