&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 500 500&quot; enable-background=&quot;new 0 0 500 500&quot;&gt;
  &lt;title&gt;Enlarge&lt;/title&gt;
  &lt;path d=&quot;M271 229V28h-42v201H28v42h201v201h42V271h201v-42z&quot;/&gt;
  &lt;!--[if lte IE 8]&gt;
  &lt;foreignObject&gt;
    &lt;img src=&quot;../../images/svg/output/png/plus.png&quot; alt=&quot;Enlarge&quot; class=&quot;no-svg-png&quot;&gt;
  &lt;/foreignObject&gt;
  &lt;![endif]--&gt;
&lt;/svg&gt;
