&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;45 45 38 38&quot; enable-background=&quot;new 45 45 38 38&quot;&gt;&lt;path fill=&quot;#fff&quot; d=&quot;M67.4 60.6V45h-6.8v15.6H45v6.8h15.6V83h6.8V67.4H83v-6.8z&quot;/&gt;&lt;/svg&gt;