&lt;div class=&quot;img-wrap {{# credit }} has-credit {{/ credit }}&quot;&gt;
  &lt;div class=&quot;img-inner rel&quot;&gt;
    {{# social-tools }}
      &lt;div class=&quot;has-social {{ social-class }}&quot;&gt;
    {{/ social-tools }}

    {{# has-link }}
      &lt;a href=&quot;{{ url }}&quot; class=&quot;img-link&quot;&gt;
    {{/ has-link }}

    {{&gt; atoms-image }}

    {{# has-link }}
      &lt;/a&gt;
    {{/ has-link }}

    {{# social-tools }}
      &lt;div class=&quot;img-overlay o-social&quot;&gt;{{&gt; molecules-social-share-on-image }}&lt;/div&gt;
    {{/ social-tools }}

    {{# large-image }}
      &lt;div class=&quot;img-overlay o-enlarge&quot;&gt;
        &lt;a href=&quot;{{ large-image }}&quot; class=&quot;enlarge no-bg icon rounded icon--standard icon--medium&quot;&gt;{{&gt; atoms-plus }}&lt;/a&gt;
      &lt;/div&gt; &lt;!-- /.img-overlay --&gt;
    {{/ large-image }}

    {{# social-tools }}
      &lt;/div&gt; &lt;!-- /.has-social --&gt;
    {{/ social-tools }}

    {{# has-video-icon }}
      &lt;span class=&quot;icon icon-play icon--big rounded&quot;&gt;{{&gt; atoms-play }}&lt;/span&gt;
    {{/ has-video-icon }}
  &lt;/div&gt; &lt;!-- /.img-inner --&gt;

  {{^ has-side-credit }}
    {{# credit }}
      &lt;span class=&quot;credit&quot;&gt;Photo by {{ credit }}&lt;/span&gt;
    {{/ credit }}
  {{/ has-side-credit }}

  {{# caption }}
    &lt;figcaption class=&quot;caption&quot;&gt;{{ caption }}&lt;/figcaption&gt;
  {{/ caption }}
&lt;/div&gt; &lt;!-- /.img-wrap --&gt;
