&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot;&gt;
		&lt;div class=&quot;primary&quot;&gt;
			&lt;div class=&quot;primary-inner&quot;&gt;

				&lt;section class=&quot;section gallery&quot;&gt;
					&lt;header class=&quot;content-header cf&quot;&gt;
						{{# image-list-head }}
							{{&gt; molecules-kicker }}
							&lt;h1 class=&quot;lead-headline&quot;&gt;{{ title }}&lt;/h1&gt;
							&lt;div class=&quot;content-tools&quot;&gt;
								{{&gt; molecules-social-share }}
								{{&gt; molecules-content-utility }}
							&lt;/div&gt; &lt;!-- /.content-tools --&gt;
						&lt;/header&gt; &lt;!-- /.content-header --&gt;
					{{/ image-list-head }}
				&lt;/section&gt; &lt;!-- /.gallery --&gt;

				{{!&gt; organisms-follow-footer }}
			&lt;/div&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;
		&lt;div class=&quot;secondary&quot;&gt;
    	{{&gt; organisms-sidebar }}
    &lt;/div&gt; &lt;!-- /.secondary --&gt;
	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
