&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot;&gt;
		&lt;div class=&quot;primary&quot;&gt;
			&lt;div class=&quot;primary-inner&quot;&gt;
				{{&gt; organisms-follow-footer }}
			&lt;/div&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;
		&lt;div class=&quot;secondary&quot;&gt;
    	{{&gt; organisms-sidebar }}
    &lt;/div&gt; &lt;!-- /.secondary --&gt;
	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
