&lt;div class=&quot;content-utilities&quot;&gt;
  &lt;a href=&quot;&quot; class=&quot;btn--util btn--util-save&quot;&gt;
    &lt;span class=&quot;icon icon--disc&quot;&gt;{{&gt; atoms-disc }}&lt;/span&gt;
    &lt;span class=&quot;btn-text&quot;&gt;Save This {{ content-type }}&lt;/span&gt;
  &lt;/a&gt; &lt;!-- /.btn--util --&gt;
  &lt;a href=&quot;&quot; class=&quot;btn--util btn--util-all&quot;&gt;
    &lt;span class=&quot;icon icon--all-list&quot;&gt;{{&gt; atoms-all-list }}&lt;/span&gt;
    &lt;span class=&quot;btn-text&quot;&gt;All &lt;br&gt; {{ content-type }}s&lt;/span&gt;
  &lt;/a&gt; &lt;!-- /.btn--util --&gt;
  &lt;a href=&quot;&quot; class=&quot;btn--util btn--util-print&quot;&gt;
    &lt;span class=&quot;icon icon--print-fill&quot;&gt;{{&gt; atoms-print-fill }}&lt;/span&gt;
    &lt;span class=&quot;btn-text&quot;&gt;Print This {{ content-type }}&lt;/span&gt;
  &lt;/a&gt; &lt;!-- /.btn--util --&gt;
&lt;/div&gt; &lt;!-- /.content-utilities --&gt;
