<div class="img-wrap">
  <div class="img-inner">
    {{# social-tools }}
      <div class="has-social">
    {{/ social-tools }}

    {{> atoms-image }}

    {{# social-tools }}
      <div class="img-overlay o-social">{{> molecules-social-share }}</div>
    {{/ social-tools }}

    {{# large-image }}
      <div class="img-overlay o-enlarge">
        <a href="{{ large-image }}" class="enlarge no-bg icon rounded icon--standard icon--medium">{{> atoms-plus }}</a>
      </div> <!-- /.img-overlay -->
    {{/ large-image }}

    {{# social-tools }}
      </div> <!-- /.has-social -->
    {{/ social-tools }}
  </div> <!-- /.img-inner -->
  {{# credit }}
    <span class="credit">Photo by {{ credit }}</span>
  {{/ credit }}
  {{# caption }}
    <figcaption class="caption">{{ caption }}</figcaption>
  {{/ caption }}
</div> <!-- /.img-wrap -->
