<div class="img-wrap">
  {{# large-image }}
    <a href="{{ large-image }}" class="enlarge">
  {{/ large-image }}
    {{> atoms-image }}
  {{# large-image }}
    </a>
  {{/ large-image }}
  {{# credit }}
    <span class="credit">Photo by {{ credit }}</span>
  {{/ credit }}
</div> <!-- /.img-wrap -->
