&lt;section class=&quot;section also-on-rs&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title heading&quot;&gt;Also On Real Simple&lt;/h3&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  &lt;div class=&quot;cf-blocks also-blocks cf&quot;&gt;
    {{# also-blocks }}
      {{&gt; molecules-block-thumb-headline }}
    {{/ also-blocks }}
  &lt;/div&gt; &lt;!-- /.cf-blocks --&gt;
&lt;/section&gt; &lt;!-- /.also-on-rs --&gt;
