&lt;div class=&quot;dropdown&quot;&gt;
  &lt;div class=&quot;dd-title&quot;&gt;{{ dd-title }} &lt;span class=&quot;arrow--down&quot;&gt;&lt;/span&gt;&lt;/div&gt;
  &lt;div class=&quot;dd-menu&quot;&gt;
    &lt;ul class=&quot;headline-list dd-list&quot;&gt;
      {{# dd-list }}
        &lt;li class=&quot;dd-item&quot;&gt;&lt;a class=&quot;upper&quot; href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/li&gt;
      {{/ dd-list }}
    &lt;/ul&gt; &lt;!-- /.dd-list --&gt;
  &lt;/div&gt; &lt;!-- /.dd-menu --&gt;
&lt;/div&gt; &lt;!-- /.dropdown --&gt;
