&lt;div class=&quot;content-footer&quot;&gt;
  &lt;hr class=&quot;hr--m h-center&quot;&gt;
  {{&gt; organisms-you-might-like-footer }}
  &lt;hr class=&quot;hr--m h-center&quot;&gt;
  {{&gt; organisms-follow-footer }}
  {{&gt; molecules-newsletters }}
  {{&gt; organisms-rs-apps }}
&lt;/div&gt; &lt;!-- /.content-footer --&gt;
