&lt;article class=&quot;slide {{ slide-class }}&quot; data-url=&quot;{{ data-url }}&quot;&gt;
  &lt;div class=&quot;slide-inner cf&quot;&gt;
    &lt;div class=&quot;slide-img&quot;&gt;
      &lt;div class=&quot;hover-slide-navigation&quot;&gt;
        &lt;span class=&quot;icon no-bg icon-arrow-left js-slide-hover-prev&quot;&gt;{{&gt; atoms-arrow-left }}&lt;/span&gt;
        &lt;span class=&quot;icon no-bg icon-arrow-right js-slide-hover-next&quot;&gt;{{&gt; atoms-arrow-right }}&lt;/span&gt;
      &lt;/div&gt; &lt;!-- /.hover-slide-navigation --&gt;
      {{&gt; molecules-image-with-social }}
    &lt;/div&gt; &lt;!-- /.slide-img --&gt;

    {{# is-welcome-slide }}
      &lt;div class=&quot;slide-intro slide-text&quot;&gt;
        &lt;p class=&quot;dek&quot;&gt;{{ slide-intro }}&lt;/p&gt;
        {{&gt; molecules-byline }}
        &lt;div class=&quot;btn btn--gallery-start js-btn--gallery-start&quot;&gt;Start &lt;span class=&quot;icon icon-arrow-right no-bg&quot;&gt;{{&gt; atoms-arrow-right }}&lt;/span&gt;&lt;/div&gt;
      &lt;/div&gt; &lt;!-- /.slide-intro --&gt;
    {{/ is-welcome-slide }}
    {{^ is-welcome-slide }}
      &lt;div class=&quot;slide-text&quot;&gt;
        &lt;div class=&quot;slide-controls&quot;&gt;
          {{&gt; molecules-slide-counter }}
          &lt;a href=&quot;{{ url }}&quot; class=&quot;replay js-replay&quot;&gt;&lt;span class=&quot;icon icon-replay icon--alt rounded icon--medium&quot;&gt;{{&gt; atoms-replay }}&lt;/span&gt; &lt;span class=&quot;light&quot;&gt;Replay&lt;/span&gt;&lt;/a&gt;
        &lt;/div&gt; &lt;!-- /.slide-controls --&gt;
        &lt;div class=&quot;text&quot;&gt;
          &lt;h2 class=&quot;slide-title&quot;&gt;{{ slide-title }}&lt;/h2&gt;
          &lt;p&gt;{{{ slide-dek }}}&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt; &lt;!-- /.slide-text --&gt;
    {{/ is-welcome-slide }}

  &lt;/div&gt; &lt;!-- /.slide-inner --&gt;
&lt;/article&gt; &lt;!-- /.slide --&gt;
