&lt;article class=&quot;slide {{ slide-class }}&quot;&gt;
  &lt;div class=&quot;slide-inner cf&quot;&gt;
    &lt;div class=&quot;slide-img&quot;&gt;
      {{&gt; molecules-image-with-social }}
    &lt;/div&gt; &lt;!-- /.slide-img --&gt;
    &lt;div class=&quot;slide-text text&quot;&gt;
      &lt;h2 class=&quot;slide-title&quot;&gt;{{ slide-title }}&lt;/h2&gt;
      &lt;p&gt;{{{ slide-dek }}}&lt;/p&gt;
    &lt;/div&gt; &lt;!-- /.slide-text --&gt;
  &lt;/div&gt; &lt;!-- /.slide-inner --&gt;
&lt;/article&gt; &lt;!-- /.slide --&gt;
