&lt;div class=&quot;kicker dib&quot;&gt;&lt;a itemprop=&quot;articleSection&quot; href=&quot;{{ url }}&quot;&gt;{{ kicker }}&lt;/a&gt; {{# sub-kicker }} &lt;span class=&quot;divider&quot;&gt;/&lt;/span&gt; &lt;a itemprop=&quot;articleSection&quot; href=&quot;{{ url }}&quot;&gt;{{ sub-kicker }}&lt;/a&gt; {{/ sub-kicker }} {{# level-3-kicker }} &lt;span class=&quot;divider&quot;&gt;/&lt;/span&gt; &lt;a itemprop=&quot;articleSection&quot; href=&quot;{{ url }}&quot;&gt;{{ level-3-kicker }}&lt;/a&gt; {{/ level-3-kicker }}&lt;/div&gt;
