&lt;section class=&quot;section you-might-like&quot;&gt;
  &lt;header class=&quot;s-header&quot;&gt;
    &lt;h3 class=&quot;s-title heading&quot;&gt;You Might Like&lt;/h3&gt;
    &lt;!-- &lt;span class=&quot;text--s light t-sans&quot;&gt;from Outbrain&lt;/span&gt; --&gt;
  &lt;/header&gt; &lt;!-- /.s-header --&gt;
  &lt;div class=&quot;OUTBRAIN&quot; data-src=&quot;http://www.realsimple.com/food-recipes&quot; data-widget-id=&quot;SB_2&quot; data-ob-template=&quot;realsimple&quot; &gt;&lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot; async=&quot;async&quot; src=&quot;http://widgets.outbrain.com/outbrain.js&quot;&gt;&lt;/script&gt;
&lt;/section&gt; &lt;!-- /.you-might-like --&gt;
