&lt;div class=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
		{{# sponsored }}
			{{&gt; molecules-sponsor-header }}
		{{/ sponsored }}
		&lt;div class=&quot;primary&quot;&gt;
			&lt;section class=&quot;primary-inner&quot;&gt;
				&lt;article class=&quot;article article-gallery {{ article-class }}&quot; itemscope itemtype=&quot;http://schema.org/Article&quot;&gt;

					{{# article-head }}
						&lt;header class=&quot;article-header {{ header-class }} cf&quot;&gt;
							{{&gt; molecules-kicker }}
							&lt;h1 class=&quot;lead-headline&quot; itemprop=&quot;headline&quot;&gt;{{ title }}&lt;/h1&gt;
							&lt;div class=&quot;article-tools&quot;&gt;
								{{&gt; molecules-social-share }}
								{{&gt; molecules-content-utility }}
							&lt;/div&gt; &lt;!-- /.article-tools --&gt;
						&lt;/header&gt; &lt;!-- /.article-header --&gt;
					{{/ article-head }}

					&lt;section class=&quot;section gallery-container&quot; itemprop=&quot;articleBody&quot;&gt;

						&lt;div class=&quot;gallery&quot;&gt;
							&lt;div class=&quot;slides js-slides&quot;&gt;
								{{# slides }}
									{{&gt; molecules-gallery-slide }}
								{{/ slides }}
								{{# last-slide }}
								&lt;article class=&quot;slide slide--end {{ slide-class }}&quot; data-url=&quot;{{ data-url }}&quot;&gt;
									&lt;div class=&quot;slide-inner cf&quot;&gt;
										&lt;h4 class=&quot;more-title upper light&quot;&gt;More In Food&lt;/h4&gt;
										&lt;div class=&quot;slide-controls&quot;&gt;
											{{&gt; molecules-slide-counter }}
											&lt;a href=&quot;{{ url }}&quot; class=&quot;replay js-replay&quot;&gt;&lt;span class=&quot;icon icon-replay icon--alt rounded icon--medium&quot;&gt;{{&gt; atoms-replay }}&lt;/span&gt; &lt;span class=&quot;light&quot;&gt;Replay&lt;/span&gt;&lt;/a&gt;
										&lt;/div&gt; &lt;!-- /.slide-controls --&gt;
										&lt;div class=&quot;end-slide-blocks&quot;&gt;
											{{# end-slide-blocks }}
												{{&gt; molecules-block-thumb-headline }}
											{{/ end-slide-blocks }}
										&lt;/div&gt; &lt;!-- /.end-slide-blocks --&gt;
									&lt;/div&gt; &lt;!-- /.slide-inner --&gt;
								&lt;/article&gt; &lt;!-- /.slide --&gt;
								{{/ last-slide }}
							&lt;/div&gt; &lt;!-- /.slides --&gt;
						&lt;/div&gt; &lt;!-- /.gallery --&gt;

						&lt;div class=&quot;carousel&quot;&gt;
							&lt;ul class=&quot;carousel-item-list js-carousel&quot;&gt;
								{{# carousel-items }}
									{{&gt; molecules-carousel-item }}
								{{/ carousel-items }}
							&lt;/ul&gt; &lt;!-- /.carousel-item-list --&gt;
						&lt;/div&gt; &lt;!-- /.carousel --&gt;

					&lt;/section&gt; &lt;!-- /.gallery-container --&gt;

				&lt;/article&gt; &lt;!-- /.article-gallery --&gt;

				{{&gt; organisms-content-footer }}
			&lt;/section&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;

		&lt;div class=&quot;secondary&quot;&gt;
			{{&gt; organisms-sidebar }}
		&lt;/div&gt; &lt;!-- /.secondary --&gt;

	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
