/*------------------------------------*\
    $ADS
\*------------------------------------*/

.ad-leaderboard {
  margin-bottom: $space-half;
  text-align: center;
  .ad-300x50 {
    @include mq($px750) {
      display: none;
    }
  }
  .ad-728x90 {
    display: none;
    @include mq($px750) {
      display: block;
    }
  }
}
.ad-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  a {
    display: block;
    line-height: 0;
  }
}
.ad-300x50 {
  width: rem(300);
}
.ad-728x90 {
  width: rem(728);
}

// Ads that appear within article list-types
.ad-instream {
  position: relative;
  line-height: 0;
  margin-bottom: rem(20);
}
