// Article
.article-header {
	h1 {
		font-size: 2.5em;
	}
}

.title {
	margin-bottom: rem(14);
}

.byline {
	font-size: rem(12);
	margin-bottom: $space-half;
	color: $gray-dark;
}

// Social Share & Content Utilities
.social-share,
.content-utility {
	float: left;
	overflow: hidden;
	margin-bottom: $space;
	li {
		float: left;
		margin-right: $space;
	}
	a {
		display: block;
	}
}
.social-share {
	margin-right: rem(20);
}
