// Article
.article-header {
	margin-bottom: $space;
}
.article-body {
	 margin-bottom: rem(40);
}
.lead-headline {
	margin-bottom: rem(10);
	@include mq($micro-break) {
		margin-bottom: rem(12);
	}
}
// Smaller header version. Used on paginated pages.
.compact-header {
	padding-bottom: $pad-and-half;
	margin-bottom: $space-and-half;
	border-bottom: $border-style;
	.kicker {
		margin-bottom: rem(17);
	}
	.lead-headline {
		font-size: rem(22);
		margin-bottom: rem(18);
	}
}
.lead-subtitle {
	font-family: $font-secondary;
	font-weight: normal;
	font-size: rem(20);
	margin-bottom: $space;
	color: $gray-dark-2;
	@include mq($micro-break) {
		font-size: rem(24);
		margin-bottom: $space-half;
	}
}
.byline {
	font-size: rem(18);
	font-weight: bold;
	@include mq($micro-break) {
		margin-bottom: $space-half;
	}
}

// Figures within Articles
.figure {
	padding-top: rem(6);
	@include center-block;
	.caption,
	.credit {
		line-height: 1.2;
	}
	.caption {
		//padding-top: rem(2)
	}
}
// Figure Placement
.figure--right {
	@include mq($micro-break) {
		float: right;
		width: 50%;
		margin-left: $space;
	}
	@include mq($medium-break) {
		// Negative indent the right aligned article images to extend beyonf the
		// article content column to allow for more room for text.
		margin-right: rem(-25);
	}
}
// Figure Sizing
.figure--l {
	max-width: rem(436);
	@include mq($large-break) {
		width: 60%;
	}
}
.figure--m {
	max-width: rem(300);
	@include mq($large-break) {
		width: 37%;
	}
}

// Article byline and date format
.article-meta {
	margin-bottom: rem(12);
	@include mq($micro-break) {
		margin-bottom: $space-half;
	}
	.byline {
		display: inline-block;
		margin-right: $space;
	}
	.date {
		display: inline-block;
	}
}

// Intro text
.intro {
	font-size: rem(18);
	margin-bottom: rem(8);
}

// Social Share & Content Utilities
.social-share,
.content-utility {
	display: inline-block;
	overflow: hidden;
	margin-bottom: $space;
	vertical-align: bottom;
	@include mq($large-break) {
		margin-bottom: $space-half;
	}
	li {
		display: inline-block;
		margin-right: rem(10);
		@include mq($micro-break) {
			margin-right: rem(14);
		}
	}
	a {
		display: block;
		line-height: 1;
	}
}
.social-share {
	//margin-right: rem(14);
	@include mq($micro-break) {
		//margin-right: rem(20);
	}
}
.ss-link .icon {
	display: block;
}
.ss-count {
	display: block;
	color: $gray-med;
	text-align: center;
	font-size: rem(11);
	margin-bottom: rem(2);
}
.cu-save {
	vertical-align: top;
}

// Image List Articles (Listicles)
.article-list-type  {
	padding-top: $pad-half;
	hr {
		margin-top: 0;
		width: $hr-width;
		// Can't have 2 hr's back to back. This should only happen if an ad doesn't
		// fill it's slot.
		+ hr {
			display: none;
		}
	}
	.newsletter-form {
		margin-bottom: rem(70);
	}
}

// Social Sharing Image Overlay
.has-social {
	position: relative;
	overflow: hidden;
	&:hover {
		.img-overlay {
			bottom: 0;
		}
	}
}
.img-overlay {
	position: absolute;
	bottom: rem(-50);
	left: 0;
	z-index: 10;
	padding: $pad-half;
	@include transition(bottom, .3s, $cubic-bezier);
	.social-share {
		margin: 0;
	}
}
.o-enlarge {
	left: auto;
	right: 0;
}

// Article: Standard Layout


