
// Block
.block {
	overflow: hidden;
	p:last-child {
		margin-bottom: 0;
	}
	.byline {
		span {
			font-weight: bold;
			font-size: rem(12);
		}
	}
	.kicker {
		display: block;
		margin-bottom: rem(5);
	}
}

.b-title,
.b-title a,
.recirc-headline a {
  color: $black;
  font-weight: normal;
  font-size: rem(21);
}
// Block title hover styles
// Blocks that are wrapped in an <a>
a.b-inner:hover {
  .b-title {
    color: $pink;
    span {
      @include underline;
    }
  }
}
// Blocks where the <a> is inside the .b-title or .recirc-headline
.b-title a:hover,
.recirc-headline a:hover {
  color: $pink;
  span {
    @include underline;
  }
}

// Block Thumbnail with Headline
.block-thumb {
	width: 100%;
	.b-inner {
  	overflow: hidden;
	}
  &.table-layout {
    @include table-layout(50%, 50%);
  }
}

// Block with flipped title and image
.block-flipped {
  .b-inner {
    display: table;
  }
  .b-title {
    margin-bottom: rem(6);
  }
  .b-thumb {
    display: table-footer-group;
  }
}
// Featured Stories headband subscription block (at the end)
.subscription-block {
  &.table-layout {
    .b-thumb {
      max-width: rem(100);
    }
    @include table-layout(28%, 72%);
  }
}

// Block Headline Summary
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

// Block Inset
.block-inset {
	position: relative;
	.headline {
		font-size: rem(28);
		@include rem(margin-bottom, 10);
	}
	.b-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background: rgba($black, .35);
		color: $white;
		padding: rem(20);
		display: flex;
  	align-items: center;
  	justify-content: center;
	}
	.unify {
		position: relative;
	}
	.byline {
		color: $white;
		font-size: rem(14);
	}
	.kicker {
		opacity: .75;
		@include rem(margin-bottom, 14);
	}
}

// Block Headline
.block-headline {
  .b-title {
    font-weight: bold;
  }
  .date-city {
    color: $gray;
    font-size: rem(13);
  }
}

// Listicle Blocks
.block-listicle-item {
  position: relative;
  margin-bottom: rem(45);
  .b-thumb {
    margin-bottom: rem(10);
    text-align: center;
    @include mq($micro-break) {
      width: 50%;
      float: right;
      padding-top: $pad-half;
      margin-bottom: 0;
    }
    @include mq($px700) {
      padding-top: 0;
    }
    @include mq($large-break) {
      width: 54%;
    }
  }
  .img-wrap {
    display: inline-block;
  }
  .b-head {
    display: table;
    width: 100%;
    margin-bottom: rem(6);
    @media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
      display: inline;
    }
  }
  .number--large {
    display: table-cell;
    vertical-align: middle;
    padding-top: rem(3);
    @media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
      float: left;
      margin-top: rem(10);
    }
    @media (min-width: $px700) and (max-width: $medium-break), (min-width: $px950) {
      margin-top: rem(30);
    }
    @include mq($large-break) {
      margin-top: rem(40);
    }
    @include mq($larger-break) {
      margin-top: rem(80);
    }
  }
  .b-title {
    margin-bottom: $space-half;
    display: table-cell;
    vertical-align: middle;
    padding-top: rem(4);
    @media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
      margin-top: rem(10);
      margin-bottom: rem(4);
      padding-top: 0;
      padding-bottom: 0;
      display: block;
      width: 50%;
      float: left;
      margin-right: rem(-100);
      padding-right: rem(110);
    }
    @media (min-width: $px700) and (max-width: $medium-break), (min-width: $px950) {
      margin-top: rem(30);
    }
    @include mq($large-break) {
      width: 46%;
      margin-top: rem(40);
    }
    @include mq($larger-break) {
      margin-top: rem(80);
    }
  }
  .b-title {
    font-size: rem(26);
    font-weight: bold;
  }
  .b-text {
    @include mq($micro-break) {
      padding-right: $pad;
      width: 50%;
    }
    // @media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
    //   padding-right: $pad;
    // }
    @include mq($large-break) {
      padding-right: $pad-and-half;
      width: 46%;
    }
  }
  &.block--no-img {
    .b-title {
      width: auto;
      float: none;
    }
    .b-text {
      width: 100%;
      padding-right: 0;
    }
  }
}
// Blocks of mostly text with some smaller images
.block-article-list-item {
  margin-bottom: rem(70);
  &:last-child {
    margin-bottom: rem(50);
  }
  .b-title,
  .number--large {
    margin-top: 0;
  }
  .b-title {
    @media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
      width: 60%;
    }
    @include mq($large-break) {
      width: 65%;
    }
  }
  .b-text {
    @include mq($micro-break) {
      width: 60%;
    }
    @include mq($large-break) {
      width: 65%;
    }
  }
  .b-thumb {
    @include mq($micro-break) {
      width: 40%;
    }
    @include mq($large-break) {
      width: 35%;
    }
  }
}

// Block Social Feed
// .block-social-feed {
//   border-radius: rem(4);
//   box-shadow: 0 0 rem(3) rgba($black, .2);
//   width: rem(196);
//   height: rem(240);
//   padding: rem(3);
//   @include center-block;
//   .b-content {
//     height: rem(185);
//     margin-bottom: rem(6);
//     overflow: hidden;
//   }
//   .icon {
//     margin-left: rem(4);
//   }
//   .icon-logo-instagram {
//     width: rem(80);
//     height: rem(26);
//     vertical-align: middle;
//   }
//   .icon-logo-facebook {
//     width: rem(66);
//     height: rem(28);
//     vertical-align: top;
//   }
//   .icon-logo-pinterest {
//     width: rem(60);
//     height: rem(30);
//     vertical-align: top;
//   }
//   .icon-logo-twitter {
//     width: rem(20);
//     height: rem(21);
//     vertical-align: middle;
//   }
// }
// .feed-pinterest {
//   .pin-account {
//     display: table;
//     width: 100%;
//     margin-bottom: rem(6);
//   }
//   .avatar {
//     width: rem(40);
//     height: rem(40);
//     border-radius: rem(3);
//     display: block;
//     display: table-cell;
//   }
//   .accountname {
//     display: table-cell;
//     vertical-align: middle;
//     font-family: $sans;
//     font-weight: bold;
//     font-size: rem(13);
//     padding-left: rem(6);
//     color: $gray-dark-2;
//     padding-top: rem(2);
//   }
//   .b-thumbs {
//     overflow: scroll;
//     height: rem(140);
//   }
//   .pin-img {
//     display: block;
//     margin-bottom: rem(4);
//     img {
//       width: 100%;
//     }
//   }
// }
// .feed-twitter {
//   .b-text {
//     padding: $pad-half $pad-half 0;
//   }
//   .author-details {
//     margin-bottom: $space-half;
//     font-size: rem(14);
//     color: $gray-dark;
//   }
//   .timestamp {
//     font-family: $sans;
//   }
//   .screenname {
//     font-family: $serif;
//     font-style: italic;
//     font-size: rem(15);
//     color: $gray-med-2;
//     &:after {
//       content: "•";
//       display: inline-block;
//       margin: 0 rem(5);
//     }
//   }
//   p {
//     font-family: $serif;
//     font-style: italic;
//     font-size: rem(15);
//     line-height: 1.45;
//     margin: 0;
//     a {
//       color: $blue-light;
//       text-decoration: none;
//       &:hover {
//         text-decoration: underline;
//         color: $blue;
//       }
//     }
//   }
// }
