/*------------------------------------*\
		$BUTTONS
\*------------------------------------*/

.btn,
button {
	display: inline-block;
	color: $blue-light;
	line-height: 1.4;
	border: 2px solid $blue-light;
	text-align: center;
	font-size: rem(14);
	text-transform: uppercase;
	@include rem(padding, 13 28);
	background-color: $white;
	&:hover,
	&:focus {
		color: $white;
		background-color: $blue-light;
	}
	&.disabled {
		background: $gray-light-2;
		color: $gray;
	}
}

.btn--small {
	padding: $pad-half;
}

.btn--large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}

.text-btn {
	font-style: italic;
}

.btn--rounded {
	border-radius: rem(7);
	border: 1px solid $blue-light;
	background-color: $blue-light;
	color: $white;
	line-height: 1.1;
	padding: rem(7) $pad-half rem(6);
	text-transform: uppercase;
	font-size: rem(14);
	font-weight: 400;
	//height: $icon-medium;
	display: inline-block;
	&:hover {
		background-color: $white;
		color: $blue-light;
	}
}

// Button with shading
.btn-3d {
	cursor: pointer;
	text-shadow: 0 1px $white;
	display: block;
	text-align: center;
	border: $border-style;
	margin: rem(10) $space-half 0;
	height: rem(32);
	border-radius: rem(2);
	text-decoration: none;
	font-family: $sans;
	font-weight: bold;
	font-size: rem(13);
	color: $gray-dark;
	line-height: rem(32);
	vertical-align: top;
	@include background-image(linear-gradient($white, $gray-light-2));
	&:hover {
		background: $white;
	}
}
