/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  .logo-link {
    margin-bottom: $space-half;
    @include mq($medium-break) {
      margin-bottom: $space-and-half;
    }
  }
}
// Footer grid
.f-g {
  margin-bottom: $space-half;
  @include mq($medium-break) {
    margin-bottom: $space-and-half;
  }
}
// Footer grid item
.f-gi {
  margin-bottom: $space-half;
  a {
    font-family: $serif;
    font-size: rem(13);
    display: block;
    padding-bottom: rem(3);
    color: $gray-dark;
    &:hover {
      color: $pink;
    }
  }
}
// Foter social
.f-social {
  text-align: center;
  margin-bottom: $space;
  .icon {
    margin: 0 $space-half;
  }
}

.legal {
  clear: both;
  text-align: center;
  padding: $pad 0;
  border-top: $border-style;
}
.copyright {
  font-size: rem(11);
  margin-bottom: rem(4);
  color: $gray-dark;
  font-family: $serif;
}
