// Gallery Slides Styles
.gallery-container {
  margin-top: rem(-12);
}
.gallery {
  padding-bottom: $pad;
  margin-bottom: $space-half;
}
.js .slides {
  // Show slides once slider is initialized.
  display: none;
}
.slide-img {
  margin-bottom: $space;
  @include mq($micro-break) {
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  @include mq($large-break) {
    width: 53%;
  }
}
.slide-text {
  @include mq($micro-break) {
    width: 50%;
    float: left;
    padding-left: $pad-and-half;
  }
  @include mq($large-break) {
    width: 47%;
    padding-left: $pad-double;
  }
  // Attempting to capture WYSIWYG entered links and style them like sitewide
  // buttons. The most common "Get the Recipe" link all seem to have the
  // "sl-processed" attribute on them. Just in case there's any other links
  // within the slide dek, only look for the last one.
  a[sl-processed]:last-child {
    br {
      display: none;
    }
    @extend .btn;
    padding-left: $pad;
    padding-right: $pad;
    margin-top: $space-and-half;
    display: block;
    max-width: rem(170);
    &:hover {
      background-image: none;
      &:after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" enable-background="new 0 0 500 500"><path fill="#{$white}" d="M153.5 5.3l-31.7 31.6L334.9 250 121.8 463.1l31.7 31.6L398.2 250z"/></svg>');
      }
    }
    &:after {
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" enable-background="new 0 0 500 500"><path fill="#{$blue-light}" d="M153.5 5.3l-31.7 31.6L334.9 250 121.8 463.1l31.7 31.6L398.2 250z"/></svg>');
      display: inline-block;
      vertical-align: text-top;
      height: rem(16);
      width: rem(16);
      margin-left: rem(4);
    }
  }
}
.slide-intro {
  .dek {
    @media (min-width: $micro-break) and (max-width: $px650), (min-width: $medium-break) and (max-width: $large-break) {
      font-size: rem(20);
    }
  }
  .byline {
    margin-bottom: $space-and-half;
  }
}

// Carousel Styles
.js .carousel-item-list {
  // Show carousel once carousel is initialized.
  display: none;
}
.carousel {
  position: relative;
  max-width: rem(700);
  padding: rem(5) rem(6);
  background-color: $beige;
  @include center-block;
  .owl-buttons {
    div {
      position: absolute;
      top: 50%;
      margin-top: -$icon-medium/2;
      &:hover {
        path {
          fill: $white;
        }
      }
    }
    .icon {
      background-color: $beige;
      @extend .rounded;
      width: $icon-medium;
      height: $icon-medium;
      padding-top: rem(5);
      padding-bottom: rem(5);
    }
  }
  .owl-prev {
    left: rem(-22);
    .icon {
      padding-left: rem(2);
      padding-right: rem(6);
    }
  }
  .owl-next {
    right: rem(-22);
    .icon {
      padding-left: rem(6);
      padding-right: rem(2);
    }
  }
  .owl-carousel .owl-wrapper-outer {
    z-index: 100;
  }
}
.carousel-item {
  margin: rem(3);
  border: 2px solid transparent;
  &:hover {
    box-shadow: 0 0 0 1px $white;
  }
  img {
    width: 100%;
    display: block;
    height: auto;
  }
  a {
    display: block;
  }
}


