// Gallery Slides Styles
.gallery-container {
  margin-top: rem(-12);
}
.gallery {
  padding-bottom: $pad;
  margin-bottom: $space-half;
}

// Previous/Next arrows that appear over main image on hover.
.hover-slide-navigation {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: rem(-30);
  z-index: 20;
  opacity: 0;
  @include transition(opacity .2s ease-out);
  .icon {
    width: rem(42);
    height: rem(60);
    padding-top: rem(12);
    background-color: rgba($black, .5);
    position: absolute;
    top: 0;
    cursor: pointer;
    &:hover {
      background-color: $black;
    }
    path {
      fill :$white;
    }
  }
  .icon-arrow-right {
    right: 0;
    padding-right: rem(3);
    padding-left: rem(4);
  }
  .icon-arrow-left {
    left: 0;
    padding-right: rem(4);
    padding-left: rem(3);
  }
}
// Always show on touch devices.
.touch .hover-slide-navigation {
  opacity: 1;
}
// Slide navigation within the text section of slide.
.slide-navigation {
  margin-bottom: rem(20);
  display: inline-block;
  .icon {
    margin-right: rem(6);
    vertical-align: middle;
    cursor: pointer;
  }
}
// Slide counter
.slide-count {
  display: inline-block;
  color: $gray-med;
  font-weight: 400;
  font-size: rem(17);
  vertical-align: middle;
  padding: 0 rem(4);
}

// Show/Hide next/prev depending on active slide position.
.owl-item.active:first-child {
  .slide-img .icon-arrow-left {
    display: none;
  }
  .slide-text .icon-arrow-left {
    @extend .icon--disabled;
  }
}
.owl-item.active:last-child {
  .slide-img .icon-arrow-right {
    display: none;
  }
  .slide-text .icon-arrow-right {
    @extend .icon--disabled;
  }
}

.js .slides {
  // Show slides once slider is initialized.
  display: none;
}
.slide-img {
  margin-bottom: $space;
  position: relative;
  @include mq($micro-break) {
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  @include mq($large-break) {
    width: 53%;
  }
  &:hover {
    .hover-slide-navigation {
      opacity: 1;
    }
  }
}
.slide-text {
  @include mq($micro-break) {
    width: 50%;
    float: left;
    padding-left: $pad-and-half;
  }
  @include mq($large-break) {
    width: 47%;
    padding-left: $pad-double;
  }
  // Attempting to capture WYSIWYG entered links and style them like sitewide
  // buttons. The most common "Get the Recipe" link all seem to have the
  // "sl-processed" attribute on them. Just in case there's any other links
  // within the slide dek, only look for the last one.
  a[sl-processed]:last-child {
    br {
      display: none;
    }
    @extend .btn;
    padding-left: $pad;
    padding-right: $pad;
    margin-top: $space-and-half;
    display: block;
    max-width: rem(170);
    &:hover {
      background-image: none;
      &:after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" enable-background="new 0 0 500 500"><path fill="#{$white}" d="M153.5 5.3l-31.7 31.6L334.9 250 121.8 463.1l31.7 31.6L398.2 250z"/></svg>');
      }
    }
    &:after {
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" enable-background="new 0 0 500 500"><path fill="#{$blue-light}" d="M153.5 5.3l-31.7 31.6L334.9 250 121.8 463.1l31.7 31.6L398.2 250z"/></svg>');
      display: inline-block;
      vertical-align: text-top;
      height: rem(16);
      width: rem(16);
      margin-left: rem(4);
    }
  }
}
.slide-intro {
  .dek {
    @media (min-width: $micro-break) and (max-width: $px650), (min-width: $medium-break) and (max-width: $large-break) {
      font-size: rem(20);
    }
  }
  .byline {
    margin-bottom: $space-and-half;
  }
}

// Carousel Styles
.js .carousel-item-list {
  // Show carousel once carousel is initialized.
  display: none;
}
.carousel {
  position: relative;
  max-width: rem(700);
  padding: rem(5) rem(6);
  background-color: $beige;
  @include center-block;
  .owl-buttons {
    div {
      position: absolute;
      top: 50%;
      margin-top: -$icon-medium/2;
      &:hover {
        path {
          fill: $white;
        }
      }
    }
    .icon {
      background-color: $beige;
      @extend .rounded;
      width: $icon-medium;
      height: $icon-medium;
      padding-top: rem(5);
      padding-bottom: rem(5);
    }
  }
  .owl-prev {
    left: rem(-22);
    .icon {
      padding-left: rem(2);
      padding-right: rem(6);
    }
  }
  .owl-next {
    right: rem(-22);
    .icon {
      padding-left: rem(6);
      padding-right: rem(2);
    }
  }
  .owl-carousel .owl-wrapper-outer {
    z-index: 100;
  }
}
.carousel-item {
  margin: rem(3);
  border: 2px solid transparent;
  &.active-item,
  &:hover {
    box-shadow: 0 0 0 1px $white;
  }
  img {
    width: 100%;
    display: block;
    height: auto;
  }
  a {
    display: block;
  }
}
// Starter carousel item
.carousel-start {
  border: 2px solid $blue-light;
  text-align: center;
  position: relative;
  a {
    color: $blue-light;
    overflow: hidden;
  }
  img {
    opacity: 0;
  }
  span {
    position: absolute;
    left: rem(19);
    top: rem(30);
    font-size: rem(14);
  }
}

