
.header-inner {
  @extend .cf;
  position: relative;
  z-index: 5000001; // Appear over ads
  background-color: $white;
  border-bottom: $border-style;
  height: rem($mobile-header-height);
  margin-bottom: $space-half;
  @include transition(height .15s ease-in-out, background-color .15s ease-in-out);
  @include mq($medium-break) {
    height: auto;
  }
  @include mq($px950) {
    margin-bottom: 0;
  }
  + div {
    @include mq($medium-break) {
      @include trans;
      height: 0;
    }
  }
}
.header-inner.sticky-is-active {
  top: 0;
  height: rem($mobile-header-sticky-height);
  background-color: rgba($white, .85);
  .logo-link {
    padding-top: rem(10);
    padding-bottom: rem(7);
    max-width: rem(188);
  }
  .nav-toggler {
    top: rem(-2);
    @include mq($large-break) {
      top: rem(5);
    }
  }
  .search-toggler {
    top: rem(-1);
  }
  + div {
    @include mq($medium-break) {
      height: rem($mobile-header-sticky-height) !important;
    }
  }
}

.logo-link {
  display: block;
  max-width: rem(188);
  line-height: 1;
  margin: 0 auto;
  @include transition(padding .15s ease-in-out, max-width .15s ease-in-out);
  @include rem(padding, 16 12 13);
  @include mq($medium-break) {
    max-width: rem(295);
    padding-bottom: rem(7);
  }
}

.nav-toggler {
  display: block;
  position: absolute;
  z-index: 10;
  top: rem(4);
  @include rem(left, 4);
  @include rem(width, 40);
  @include rem(height, 40);
  @include rem(padding, 8);
  @include mq($large-break) {
    top: auto;
    left: rem(8);
    bottom: rem(-3);
  }
}
.nt-inner {
  position: relative;
  @include mq($large-break) {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.nt-inner span,
.nt-inner span:before,
.nt-inner span:after {
  cursor: pointer;
  width: 22px;
  height: rem(2.5);
  background-color: $black;
  position: absolute;
  display: block;
  content: '';
  top: rem(12);
  @include trans;
}
.nt-inner span:before {
  top: rem(-7);
}
.nt-inner span:after {
  top: rem(7);
}
.csstransforms {
  .main-nav-is-active .nt-inner {
    span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
        left: 0;
        display: block;
        @include transform(rotate(45deg));
      }
      &:after {
        @include transform(rotate(-45deg));
      }
    }
  }
}

.search-toggler {
  display: block;
  position: absolute;
  z-index: 10;
  top: rem(7);
  text-align: right;
  @include rem(right, 4);
  @include rem(width, 40);
  @include rem(height, 38);
  @include rem(padding, 8);
  @include mq($large-break) {
    @include rem(top, 46);
  }
}
