[class^="icon-"], [class*=" icon-"], .icon {
  background-size: 100%;
  background-position: center center;
}

.icon-round {
  width: rem(20);
  height: rem(20);
  border-radius: 50%;
  display: inline-block;
  line-height: .8;
  vertical-align: text-bottom;
  font-size: rem(16);
  @include rem(padding, 4);
  &.icon {
    background-size: 50%;
  }
  svg {
    width: rem(12);
    height: rem(12);
  }
}

.more {
  .icon-plus {
    @include css3(transform, rotate(0deg));
    @include trans;
  }
  &:hover {
    .icon-plus {
      @include css3(transform, rotate(180deg));
    }
  }
}

