[class^="icon-"], [class*=" icon-"], .icon {
  background-size: 100%;
  background-position: center center;
  display: inline-block;
}

.icon--round {
  width: rem(20);
  height: rem(20);
  border-radius: 50%;
  display: inline-block;
  line-height: .8;
  vertical-align: text-bottom;
  font-size: rem(16);
  @include rem(padding, 4);
  &.icon {
    background-size: 50%;
  }
  svg {
    width: rem(12);
    height: rem(12);
  }
}
.no-bg {
  background-image: none;
}

.icon--small {
  width: $icon-small;
  height: $icon-small;
  padding: rem(2);
}
.icon--medium {
  width: $icon-medium;
  height: $icon-medium;
  padding: rem(4);
}
.icon--large {
  width: $icon-large;
  height: $icon-large;
  padding: rem(8);
}

.more {
  .icon-plus {
    @include css3(transform, rotate(0deg));
    @include trans;
  }
  &:hover {
    .icon-plus {
      @include css3(transform, rotate(180deg));
    }
  }
}

.icon-facebook {
  background-color: $facebook-blue;
  border: 1px solid $facebook-blue;
  &:hover {
    background-color: $white;
    border-color: $facebook-blue;
    path {
      fill: $facebook-blue;
    }
  }
}
.icon-twitter {
  background-color: $twitter-blue;
  border: 1px solid $twitter-blue;
  &:hover {
    background-color: $white;
    border-color: $twitter-blue;
    path {
      fill: $twitter-blue;
    }
  }
}
.icon-instagram {
  background-color: $instagram-brown;
  border: 1px solid $instagram-brown;
  &:hover {
    background-color: $white;
    border-color: $instagram-brown;
    path {
      fill: $instagram-brown;
    }
  }
}
.icon-pinterest {
  background-color: $pinterest-red;
  border: 1px solid $pinterest-red;
  &:hover {
    background-color: $white;
    border-color: $pinterest-red;
    path {
      fill: $pinterest-red;
    }
  }
}
