[class^="icon-"], [class*=" icon-"], .icon {
  background-size: 100%;
  background-position: center center;
  display: inline-block;
}

.icon--standard {
  border: 1px solid $gray-med;
  background-color: $white;
  path {
    shape-rendering: auto;
  }
  &:hover {
    background-color: $blue;
    border-color: $blue;
    path {
      fill: $white;
    }
  }
}
.no-bg {
  background-image: none;
}

.icon--small {
  width: $icon-small;
  height: $icon-small;
  padding: rem(2);
}
.icon--medium {
  width: $icon-medium;
  height: $icon-medium;
  padding: rem(4);
}
.icon--large {
  width: $icon-large;
  height: $icon-large;
  padding: rem(8);
}

.more {
  .icon-plus {
    @include css3(transform, rotate(0deg));
    @include trans;
  }
  &:hover {
    .icon-plus {
      @include css3(transform, rotate(180deg));
    }
  }
}

.icon-facebook {
  background-color: $facebook-blue;
  border: 1px solid $facebook-blue;
  &:hover {
    background-color: $white;
    border-color: $facebook-blue;
    path {
      fill: $facebook-blue;
    }
  }
}
.icon-twitter {
  background-color: $twitter-blue;
  border: 1px solid $twitter-blue;
  &:hover {
    background-color: $white;
    border-color: $twitter-blue;
    path {
      fill: $twitter-blue;
    }
  }
}
.icon-instagram {
  background-color: $instagram-brown;
  border: 1px solid $instagram-brown;
  &:hover {
    background-color: $white;
    border-color: $instagram-brown;
    path {
      fill: $instagram-brown;
    }
  }
}
.icon-pinterest {
  background-color: $pinterest-red;
  border: 1px solid $pinterest-red;
  &:hover {
    background-color: $white;
    border-color: $pinterest-red;
    path {
      fill: $pinterest-red;
    }
  }
}
