/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	overflow: hidden;
  padding-top: $pad;
  @include mq($micro-break) {
    padding-top: $pad-double;
  }
}
