/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.primary-nav {
	@include rem(padding, 12 0 20);
	a {
		display: block;
		background-color: $white;
		text-align: center;
		line-height: 1;
		@include rem(padding, 17);
	}
	a span {
		font-family: $font-secondary;
		font-size: rem(52);
	}
	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;
		li {
			float: left;
		}
		a {
			border: 0;
		}
	}
}

.secondary-nav {
	background-color: $oreilly-gray;
	text-align: center;
	color: $white;
	@include rem(padding, 25 20 10);
	.nav-title {
		@include rem(margin-bottom, 20);
	}
	a {
		@extend .btn;
		@include rem(margin, 0 5 16);
	}
}

.nav-wrap {
	clear: both;
	overflow: hidden;
	position: absolute;
	top: rem(-700);
	z-index: 45;
	width: 100%;
	background-color: $white;
	@include trans;
	.menu-is-active & {
		top: $mobile-header-height;
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}