/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav-wrap {
	clear: both;
	overflow: hidden;
	z-index: 20;
	width: 90%;
	max-width: rem(300);
	background-color: $white;
	position: absolute;
	left: rem(-301);
	z-index: 1000;
	@include trans;
	a {
		display: block;
		line-height: 1;
		font-family: $font-secondary;
		@include rem(padding, 11 6);
	}
}
.main-nav-is-active {
	.nav-wrap {
		left: 0;
	}
}

.primary-nav {
	margin-bottom: $space-half;
	li {
		position: relative;
	}
	a {
		background-color: $gray-very-light;
		border-bottom: $border-style;
		font-size: rem(20);
	}
	.aw {
		height: 100%;
		position: absolute;
		width: rem(44);
		padding-top: rem(8);
		z-index: 10;
		top: 0;
		right: 0;
		text-align: center;
	}
	.arrow {
		@include trans;
		@include transform(rotate(0deg));
	}
}

// Secondary Nav
.secondary-nav {
	padding-bottom: $pad;
	a {
		color: $black;
		font-size: rem(18);
	}
}
.l-padded a {
	border-top: $border-style;
	border-bottom: $border-style;
	padding-top: rem(17);
	padding-bottom: rem(17);
	margin: rem(6) 0;
}
.l-alt a {
	color: $gray-med-2;
}

// Sub-navigation
.nav-sub {
	display: none;
	a {
		color: $black;
		padding-left: $pad;
	}
}
.l-top.is-active {
	a {
		border-bottom: $border-style-white;
		background-color: $gray-light-3;
	}
	.nav-sub {
		display: block;
	}
	.arrow {
		@include transform(rotate(180deg));
	}
}

// Pagination
.pagination {
	overflow: hidden;
	li {
		float: left;
		border-right: 1px solid $gray-light-2;
		&:last-child {
			border: 0;
		}
	}
	a {
		padding: $pad;
	}
}
