/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.top-hat {
	position: relative;
	z-index: 1005;
}
.nav-wrap {
	clear: both;
	overflow: auto;
	z-index: 20;
	width: 90%;
	max-width: rem(300);
	background-color: $white;
	position: fixed;
	left: rem(-301);
	z-index: 1002;
	top: 0;
	height: 100%;
	@include trans;
	a {
		display: block;
		line-height: 1;
		@include rem(padding, 11 14);
	}
}
.nav-wrap-inner {
	padding-top: rem($mobile-header-height);
	@include mq($medium-break) {
		padding-top: rem(123);
	}
}
.header-is-sticky {
	.nav-wrap-inner {
	  padding-top: rem($mobile-header-sticky-height);
	}
	.horiz-nav {
		display: none;
	}
	.util-nav {
		display: none;
	}
}
.main-nav-is-active {
	.nav-wrap {
		left: 0;
	}
	&.overlay {
	  background-color: $overlay;
	  z-index: 1000;
	  @include mq($medium-break) {
			background-color: $overlay-light;
	  }
	}
}

.primary-nav {
	margin-bottom: $space-half;
	.l-top {
		position: relative;
		> a {
			background-color: $gray-very-light;
		}
	}
	a {
		border-bottom: $border-style;
		font-size: rem(20);
	}
	.aw {
		height: rem(42);
		position: absolute;
		width: rem(140);
		padding-top: rem(12);
		padding-right: rem(14);
		z-index: 10;
		top: 0;
		right: 0;
		text-align: right;
	}
	.arrow {
		@include trans;
		@include transform(rotate(0deg));
	}
}

// Horizontal Nav (at wider breakpoints)
.horiz-nav {
	display: none;
	text-align: center;
	opacity: 1;
	position: relative;
	@include trans;
	@include mq($medium-break) {
		display: block;
	}
	.primary-nav {
		margin-bottom: 0;
	}
	.aw {
		display: none;
	}
	.l-top {
		display: inline-block;
		padding-left: 1.6%;
		padding-right: 1.6%;
		vertical-align: top;
		@include mq($px900) {
			padding-left: 2%;
			padding-right: 2%;
		}
		@include mq($larger-break) {
			padding-left: 2.3%;
			padding-right: 2.3%;
		}
		> a {
			background-color: transparent;
		}
		a {
			text-transform: uppercase;
			color: $black;
			text-align: center;
			border-bottom: none;
			display: block;
			font-size: rem(17);
			font-weight: 500;
			padding: rem(4) rem(6) rem(8);
			&:hover {
				color: $pink;
			}
		}
		&.is-hovered {
			> a {
				color: $pink;
			}
		}
		&:hover {
			.nav-sub {
				display: block;
			}
		}
	}
	.nav-sub {
		position: absolute;
		left: 0;
		top: rem(37);
		border: $border-style;
		background-color: $gray-very-light;
		width: rem(220);
		padding-top: rem(4);
		padding-bottom: rem(4);
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: rem(-8);
			left: 50%;
			margin-left: rem(-7);
			z-index: 10;
			@extend .arrow--up;
			border-bottom-color: $gray-very-light;
		}
		&:before {
			z-index: 8;
			top: rem(-9);
			border-bottom-color: $gray;
		}
	}
	.l-sub {
		a {
			text-transform: none;
			display: block;
			padding: rem(7);
			font-size: rem(16);
			font-weight: normal;
		}
	}
	.l-follow {
		.nav-sub {
			width: rem(300);
			padding-bottom: 0;
			@include mq($larger-break) {
				background-color: transparent;
				top: auto;
				border: none;
				bottom: rem(24);
				&:before,
				&:after {
					display: none;
				}
				.icon {
					width: rem(35);
					height: rem(35);
					padding: rem(5);
				}
			}
		}
	}
}

// Hide elements with .h-hide class when hovering over the "Follow" nav link.
@include mq($larger-break) {
	.h-hide {
		@include trans;
		opacity: 1;
	}
	.header.follow-is-active {
		.h-hide {
			opacity: 0;
		}
	}
}

// Secondary Nav
.secondary-nav {
	padding-bottom: $pad;
	a {
		color: $black;
		font-size: rem(18);
	}
}
.l-padded a {
	border-top: $border-style;
	border-bottom: $border-style;
	padding-top: rem(17);
	padding-bottom: rem(17);
	margin: rem(6) 0;
}
.l-alt a {
	color: $gray-med-2;
}

// Sub-navigation
.nav-sub {
	display: none;
	a {
		color: $black;
		padding-left: rem(25);
	}
}
// Sub-nav is open
.l-top.is-active {
	background-color: $gray-light-3;
	> a {
		background-color: $gray-light-3;
	}
	a {
		border-bottom: $border-style-white;
	}
	.nav-sub {
		display: block;
	}
	.arrow {
		@include transform(rotate(90deg));
	}
}
.l-follow.is-active {
	.l-sub a {
		border-bottom: none;
	}
}

// Follow social icons
.l-follow {
	.l-sub {
		display: inline-block;
		margin-right: rem(4);
		&:last-child {
			margin-right: 0;
		}
		a {
			padding: $pad-half;
		}
	}
}

// Subscribe CM pop out
.subscribe-pop {
	a > span {
		position: relative;
		z-index: 10;
	}
	.pop-out {
		display: none;
		position: absolute;
		top: 0;
		z-index: 0;
		padding: rem(24) rem(6) rem(6);
		width: rem(440);
		background-color: $gray-light-3;
		right: rem(8);
		@include mq($large-break) {
			right: rem(20);
		}
	}
	&:hover {
		.pop-out {
			display: block;
		}
	}
}

// Utility Nav
.util-nav {
	display: none;
	position: absolute;
	right: rem(50);
	top: rem(10);
	text-align: center;
	width: rem(170);
	z-index: 100;
	border: 1px solid transparent;
	@include mq($medium-break) {
		display: block;
	}
	@include mq($large-break) {
		right: rem(10);
	}
	&.util-is-active {
		border: $border-style;
		li {
			display: block;
		}
		a {
			border-bottom: $border-style;
		}
	}
	li {
		display: none;
	}
	.li-vis {
		display: block;
		a {
			background-color: $white;
			color: $pink;
		}
	}
	a {
		display: block;
		line-height: 1;
		padding: rem(10) 0 rem(9);
		font-size: rem(14);
		background-color: $gray-very-light;
		color: $black;
		&:hover {
			color: $pink;
		}
	}
	li:last-child a {
		border-bottom: none;
	}
}

// Pagination
.pagination {
	overflow: hidden;
	li {
		float: left;
		border-right: 1px solid $gray-light-2;
		&:last-child {
			border: 0;
		}
	}
	a {
		padding: $pad;
	}
}
