.section {
  position: relative;
  margin-bottom: $space;
}

.s-title {
  padding-bottom: rem(6);
  margin-bottom: rem(16);
  text-align: center;
}

// Featured Stories
.featured-stories {
  display: none;
  .gi {
    padding-left: 0;
    &:last-child {
      padding-right: 0;
    }
  }
  @include mq($px950) {
    display: block;
  }
  .b-title {
    font-size: rem(16);
    color: $pink;
    line-height: 1.2;
    @include mq($large-break) {
      font-size: rem(17);
    }
  }
}

// Daily Finds
.daily-finds {
  text-align: center;
  .block {
    max-width: rem(170);
    @include center-block;
  }
}

// Most Shared
.most-shared {
  .bi {
    padding-left: rem(50);
    position: relative;
  }
  .number {
    position: absolute;
    left: 0;
  }
}

// You Might Like / You May Also Like (Outbrain)
.you-might-like,
.you-may-also-like {
  .OUTBRAIN {
    max-width: rem(350);
    @include center-block;
    @include mq($px650) {
      max-width: rem(270);
    }
  }
  .ob_org_header {
    display: none;
  }
  .ob-tcolor {
    color: $black;
  }
  .ob-lcolor {
    color: $gray-med;
  }
  .item-link-container {
    float: none;
    width: 48.5%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: $space-half;
    &:nth-of-type(odd) {
      margin-right: 1.25%;
    }
  }
  .SB_2 .strip-img {
    width: 100%;
    height: auto;
  }
  .SB_2 .item-container {
    height: auto;
  }
  .SB_2 .ob-rec-link-img {
    float: none;
    margin-bottom: rem(4);
    max-height: rem(90);
    overflow: hidden;
    position: relative;
  }
  .SB_2 .item-container-ad .paid-distribution {
    top: rem(73);
  }
  .SB_2 .ob-text-content {
    padding-left: 0;
  }
  .SB_2 .strip-rec-link-title {
    @extend .delta;
    margin-bottom: rem(2);
  }
  .SB_2 .strip-rec-link-source {
    font-family: $sans;
    font-size: rem(11);
    line-height: 1;
  }
  .SB_2 .ob_what {
    padding: 0;
  }
}

// From our Partners
.from-partners {
  .text--s {
    color: $gray-med;
    font-family: $sans;
  }
}

// Follow Footer
.follow-footer {
  border-top: $border-style;
  padding-top: rem(24);
  margin-bottom: $space-double;
  .s-title {
    border-bottom: none;
    font-size: rem(28);
    font-weight: normal;
    color: $blue-light;
    padding-bottom: 0;
  }
  .g-4up-v2 {
    max-width: rem(830);
  }
  .gi {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: $space-half;
  }
}

// Sponsor Header Section
.sponsor-header {
  text-align: center;
  @include mq($medium-break) {
    margin-top: -$space;
  }
}
.spons-wrap {
  @include center-block;
  margin-bottom: rem(30);
  position: relative;
  z-index: 10;
}
.spons-title {
  text-transform: uppercase;
  color: $white;
  background-color: $red;
  font-size: rem(17);
  padding: rem(5) rem(10) rem(4);
  margin: 0;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: 11;
  span {
    border-top-color: $white;
    border-width: rem(6);
    display: inline-block;
    vertical-align: middle;
    margin-top: rem(-2);
  }
}
.spons-by {
  text-align: center;
  margin-bottom: rem(4);
  display: inline-block;
  span {
    font-family: $sans;
    color: $gray-dark;
    display: inline-block;
    vertical-align: middle;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
  @include mq($small-break) {
    display: inline-block;
  }
}
.spons-inner {
  cursor: pointer;
  background-color: $white;
  position: relative;
  display: inline-block;
  margin: 0 rem(4) $space-half;
}
.spons-inner:hover {
  box-shadow: 0 0 4px rgba($black, .5);
  .spons-menu {
    display: inline-block;
  }
}
.spons-menu {
  display: none;
  text-align: left;
  padding: $pad rem(20);
  background-color: $white;
  //border: $border-style;
  left: 0;
  width: 100%;
  position: absolute;
  margin-top: -1px;
  z-index: 10;
  box-shadow: 0 0 4px rgba($black, .5);
}
