// Dek
.dek {

}

// Pullquote
.pullquote {
	font-family: $font-secondary;
	font-size: $font-size-large;
}

// Kicker
.kicker {
	margin-bottom: rem(6);
}
.kicker a {
	font-size: rem(15);
	text-transform: uppercase;
	color: $gray-med;
	&:last-child {
		color: $pink;
	}
	&:hover {
		@include underline;
	}
}
// Divides kicker links
.divider {
	margin: 0 rem(4);
}

// Breadcrumb
.breadcrumb {
  color: $white;
  display: inline-block;
  padding: rem(7);
  font-size: rem(13);
  @include rem(margin, 0 6 10 0);
}

// Date/time
.date {
	font-size: rem(18);
	color: $gray-med;
}

// Styled Number
.number {
	border: $border-style-dark;
	font-size: rem(18);
	font-weight: 500;
	color: $black;
	width: rem(33);
	height: rem(33);
	display: block;
	padding: rem(4.5) rem(11) 0;
	text-align: center;
}
.number--large {
	display: block;
	text-align: center;
	color: $pink;
	margin-bottom: $space-half;
	line-height: 1;
	display: table-cell;
	vertical-align: middle;
	width: rem(80);
	font-family: $font-secondary;
	&.double-digit {
		width: rem(95);
	}
	@media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
		margin-bottom: 0;
		width: rem(100);
		&.double-digit {
			width: rem(110);
		}
	}
}
.listicle-number {
	font-size: rem(72);
	font-weight: 100;
}
.df-number {
	font-size: rem(64);
	font-weight: bold;
}

// Caption
.caption {
	font-style: italic;
}

// Make text a serif font
.t-serif {
	font-family: $serif;
}
.t-sans {
	font-family: $sans;
}

// Text Sizing
.text--m {
	font-size: rem(14);
}
.text--s {
	font-size: rem(11);
}
.text--tiny {
	font-size: rem(9);
}

.light {
	color: $gray-med;
}

// Photo Credit
.credit {
	display: block;
	text-align: right;
	font-family: $serif;
	font-style: italic;
	color: $gray-med;
	font-size: rem(12);
	line-height: 1;
	padding-bottom: rem(2);
}

// Uppercase Text
.upper {
  text-transform: uppercase;
}
// Lowercase Text
.lower {
	text-transform: lowercase;
}

// Horizontal Rules
.hr--l {
	margin-bottom: rem(70);
}
.hr--m {
	margin-bottom: rem(50);
}
.hr--s {
	margin-bottom: rem(20);
}

// Passages of text
.text {
	a {
		color: $blue-light;
		&:hover {
			@include underline;
		}
	}
	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;
		ul {
			margin-bottom: 0;
		}
	}
	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;
		ol {
			margin-bottom: 0;
		}
	}
}
