// Intro text
.intro {
	font-size: rem(18);
	margin-bottom: rem(8);
}

// Dek
.dek {
	font-size: rem(18);
}

// Pullquote
.pullquote {
	font-family: $font-secondary;
	font-size: $font-size-large;
}

// Kicker
.kicker {
	font-size: rem(12);
	letter-spacing: 1px;
	text-transform: uppercase;
}

// Breadcrumb
.breadcrumb {
  color: $white;
  display: inline-block;
  padding: rem(7);
  font-size: rem(13);
  @include rem(margin, 0 6 10 0);
}

// Date/time
.date {
	font-size: rem(12);
	text-transform: uppercase;
	color: $gray-light-4;
	letter-spacing: 1px;
	margin-bottom: rem(4);
	display: inline-block;
}

// Caption
.caption {
	font-style: italic;
}

// Passages of text
.text {
	a {
		text-decoration: underline;
		color: $blue;
	}
	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;
		ul {
			margin-bottom: 0;
		}
	}
	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;
		ol {
			margin-bottom: 0;
		}
	}
}
