&lt;div class=&quot;ad-block ad-300x250 block&quot;&gt;
  &lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/3521978/SINS_WebBanner_300x250.jpg&quot;&gt;&lt;/a&gt;
&lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;
