/*------------------------------------*\
    $ADS
\*------------------------------------*/

.main .ad-block {
  // Ads need to brek out of the margin for viewports smaller than 336px so
  // they don't get cut off.
  @include mq($px336, max) {
    margin-left: rem(-8);
  }
}
.ad-leaderboard {
  padding-top: $pad;
  padding-bottom: $pad-half;
  text-align: center;
  background-color: rgba($white, 0);
  @include transition(all .3s ease-out);
  &.sticky-is-active {
    padding-top: $pad-half;
    background-color: rgba($white, .85);
    z-index: 50000000; // Appear over ads;
  }
  div {
    text-align: center;
  }
  .ad-300x50 {
    @include mq($px750) {
      display: none;
    }
  }
  .ad-728x90 {
    display: none;
    @include mq($px750) {
      display: block;
    }
  }
}
.ad-994x250 {
  display: none;
  @include mq($px1000) {
    display: block;
  }
}
.has-994x250 {
  margin-top: rem(8);
  margin-bottom: rem(8);
  .ad-300x50 {
    display: block;
    @include mq($px1000) {
      display: none;
    }
  }
}
.ad-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  div {
    text-align: center;
  }
  a {
    display: block;
    line-height: 0;
  }
}
.ad-300x250 {
  width: rem(300);
}
.ad-300x50 {
  width: rem(300);
}
.ad-728x90 {
  width: rem(728);
}

// Anchored to bottom for < 800px viewports
.anchor-ad {
  @include mq($medium-break, max) {
    bottom: 0;
    left: 0;
    text-align: center;
    padding: rem(2);
    height: rem(54);
    position: fixed;
    width: 100%;
    z-index: 50000020; // Appear over ads;
    background-color: rgba($white, .85);
  }
}

// Ads that appear within article list-types
.ad-instream {
  position: relative;
  line-height: 0;
  margin-bottom: rem(20);
}

// Home Page specific for ad positioning
.home-right-blocks {
  @include mq($medium-break) {
    position: relative;
    height: rem(600);
    .ad-block {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
  }
}

// Little Sponsored Ad
.sponsored-by {
  @media (min-width: $px600) and (max-width: $medium-break), (min-width: $px950) {
    position: absolute;
    right: 0;
    top: 0;
  }
}
