// Article
.article-header {
	margin-bottom: $space;
	position: relative;
	&.center {
		margin-bottom: $space-double;
		.kicker {
			margin-bottom: $space;
		}
		.lead-headline {
			padding-top: $pad-half;
			margin-bottom: rem(20);
		}
		.lead-subtitle {
			margin-bottom: rem(24);
		}
	}
	&.package-header {
		.lead-subtitle {
			margin-bottom: 0;
		}
		.lead-headline {
			margin-bottom: rem(15);
		}
	}
}
.header-img {
	margin: $space 0 $space-half;
}
.article-body {
	margin-bottom: rem(40);
}
.lead-headline {
	margin-bottom: rem(10);
	@include mq($micro-break) {
		margin-bottom: rem(12);
	}
}
// Smaller header version. Used on paginated pages.
.compact-header {
	padding-bottom: $pad-and-half;
	margin-bottom: $space-and-half;
	border-bottom: $border-style;
	.kicker {
		margin-bottom: rem(17);
	}
	.lead-headline {
		font-size: rem(22);
		margin-bottom: rem(18);
	}
}
.lead-subtitle {
	font-weight: normal;
	font-size: rem(20);
	margin-bottom: $space;
	color: $gray-dark-2;
	font-family: $font-secondary;
	@include mq($micro-break) {
		font-size: rem(24);
		margin-bottom: $space-half;
	}
}
.byline {
	font-size: rem(18);
	font-weight: bold;
	@include mq($micro-break) {
		margin-bottom: $space-half;
	}
}
.byline--s {
	color: $gray-med;
	font-weight: normal;
	font-size: rem(14);
	margin-bottom: rem(14);
}

// Figures within Articles
.figure {
	padding-top: rem(6);
	@include center-block;
	.caption,
	.credit {
		line-height: 1.2;
	}
	.caption {
		//padding-top: rem(2)
	}
}
// Figure Placement
.figure--right {
	@include mq($micro-break) {
		float: right;
		width: 50%;
		margin-left: $space;
	}
	@include mq($medium-break) {
		// Negative indent the right aligned article images to extend beyonf the
		// article content column to allow for more room for text.
		margin-right: rem(-25);
	}
}
// Figure Sizing
.figure--l {
	max-width: rem(436);
	@include mq($large-break) {
		width: 60%;
	}
}
.figure--m {
	max-width: rem(300);
	@include mq($large-break) {
		width: 37%;
	}
}

// Article byline and date format
.article-meta {
	margin-bottom: rem(12);
	@include mq($micro-break) {
		margin-bottom: $space-half;
	}
	.byline {
		display: inline-block;
		margin-right: $space;
	}
	.date {
		display: inline-block;
	}
}

// Intro text
.intro {
	font-size: rem(18);
	margin-bottom: rem(8);
}

// Social Share & Content Utilities
.social-share,
.content-utility {
	display: inline-block;
	overflow: hidden;
	margin-bottom: $space;
	vertical-align: bottom;
	@include mq($large-break) {
		margin-bottom: $space-half;
	}
	li {
		display: inline-block;
		margin-right: rem(10);
		vertical-align: bottom;
		padding-top: rem(2);
		@include mq($micro-break) {
			margin-right: rem(14);
		}
	}
	a {
		display: block;
		line-height: 1;
	}
	.icon {
		vertical-align: bottom;
	}
}
.social-share {
	//margin-right: rem(14);
	@include mq($micro-break) {
		//margin-right: rem(20);
	}
}
.ss-link .icon {
	display: block;
}
.ss-count {
	display: block;
	color: $gray-med;
	text-align: center;
	font-size: rem(11);
	margin-bottom: rem(2);
}
.content-utility {
	li:last-child {
		margin-right: 0;
	}
}
.cu-save {
	vertical-align: top;
}

// Image List Articles (Listicles)
.article-list-type  {
	padding-top: $pad-half;
	hr {
		margin-top: 0;
		width: $hr-width;
		// Can't have 2 hr's back to back. This should only happen if an ad doesn't
		// fill it's slot.
		+ hr {
			display: none;
		}
	}
	.newsletter-form {
		margin-bottom: rem(70);
	}
}

// Social Sharing Image Overlay
.has-social {
	position: relative;
	overflow: hidden;
	&:hover {
		.img-overlay {
			bottom: 0;
		}
	}
}
// Display them for touch devices.
.touch .has-social {
	.img-overlay {
		bottom: 0;
	}
}
.img-overlay {
	position: absolute;
	bottom: rem(-50);
	left: 0;
	z-index: 10;
	padding: $pad-half;
	@include transition(bottom, .3s, $cubic-bezier);
	.social-share {
		margin: 0;
	}
}
.o-enlarge {
	left: auto;
	right: 0;
}

// Fivestar Ratings
.five-star {
	margin-bottom: $space-half;
	@include mq($medium-break) {
		margin-bottom: $space;
	}
	.rating {
		margin-left: rem(5);
	}
	.title {
		display: inline-block;
		vertical-align: bottom;
		margin-right: $space-half;
		padding-bottom: rem(8);
	}
	.response {
		color: $blue-light;
		vertical-align: text-bottom;
		display: inline-block;
		padding-bottom: $pad-half;
		opacity: 0;
		@include trans;
	}
	&.rated {
		.response {
			opacity: 1;
		}
	}
}
.rating {
	unicode-bidi: bidi-override;
	display: inline-block;
	vertical-align: bottom;
}
.rating .star {
	display: inline-block;
	position: relative;
	font-size: rem(35);
	width: rem(55);
	margin-left: rem(-16);
	cursor: pointer;
	text-align: center;
}
.rated .star {
	cursor: default;
}
.star {
	color: $gray-light-4;
}
.star--inactive {
	color: $gray-light-4;
}
.star--active {
	color: $blue-light;
}
.active-rating:not(.rated) {
	.rating {
		&:hover .star {
			@extend .star--active;
		}
		.star:hover {
			+ .star,
			+ .star + .star,
			+ .star + .star + .star,
			+ .star + .star + .star + .star,
			+ .star + .star + .star + .star + .star {
				@extend .star--inactive;
			}
		}
	}
}
// Rating: 5 Stars
.active-stars-5 {
	.star {
		@extend .star--active;
	}
}
// Rating: 4 Stars
.active-stars-4 {
	.star {
		@extend .star--active;
	}
	.star:nth-child(5) {
		@extend .star--inactive;
	}
}
// Rating: 3 Stars
.active-stars-3 {
	.star {
		@extend .star--active;
	}
	.star:nth-child(5),
	.star:nth-child(4) {
		@extend .star--inactive;
	}
}
// Rating: 2 Stars
.active-stars-2 {
	.star {
		@extend .star--inactive;
	}
	.star:nth-child(1),
	.star:nth-child(2) {
		@extend .star--active;
	}
}
// Rating: 1 Star
.active-stars-1 {
	.star {
		@extend .star--inactive;
	}
	.star:nth-child(1) {
		@extend .star--active;
	}
}

.five-star-wrap {
	padding-bottom: $pad;
}

// Disabled rated stars.
.five-star-rated {
	.title {
		display: inline-block;
		vertical-align: text-top;
		font-size: rem(13);
		margin-right: rem(4);
		padding-bottom: 0;
	}
	.star {
		font-size: rem(20);
		width: rem(19);
		margin-left: 0;
		margin-right: -2px;
		cursor: default;
	}
	.rating {
		vertical-align: middle;
		margin-right: 0;
		margin-bottom: rem(4);
	}
}

// Headline/Image halved sections
.left-halved {
	@media (min-width: $px500) and (max-width: $medium-break), (min-width: $px900) {
		float: left;
		width: 50%;
		clear: left;
	}
	@media (min-width: $px750) and (max-width: $medium-break), (min-width: $large-break) {
		width: 45%;
	}
	&.lead-headline {
		@media (min-width: $px500) and (max-width: $larger-break) {
			font-size: rem(34);
		}
	}
}
.right-halved {
	@media (min-width: $px500) and (max-width: $medium-break), (min-width: $px900) {
		float: right;
		width: 50%;
		padding-left: $pad;
	}
	@media (min-width: $px750) and (max-width: $medium-break), (min-width: $large-break) {
		width: 55%;
	}
}
// Recipe
.article-recipe {
	// All of the text links on Recipes are blue.
	a {
		color: $blue-light;
	}
	.primary-image {
		.img-wrap {
			display: inline-block;
		}
	}
	.article-tools {
		clear: both;
		margin-bottom: $space;
	}
	.narrow {
		padding-top: $pad-double;
		border-top: $border-style;
	}
}
.recipe-meta {
	margin-bottom: $space;
	padding-top: rem(6);
	.dt {
		width: rem(120);
	}
}
.recipe-data {
	padding-top: $pad;
	display: inline-block;
	border-top: $border-style;
}
.ingredient-amt {
	font-weight: 600;
	font-size: rem(18);
	width: rem(40);
	text-align: center;
	font-family: $font;
	display: block;
	position: absolute;
	left: rem(22);
	top: rem(2);
}
.recipe-info-section {
	width: 100%;
	@include mq($large-break) {
		float: left;
		margin-right: rem(-230);
	}
	.heading {
		margin-bottom: rem(12);
	}
	li {
		@include text-styles;
		position: relative;
	}
	.cb {
		top: rem(6);
	}
}
.nutrition-info-wrap {
	background-color: $gray-light-2;
	padding: rem(28);
	position: relative;
	width: rem(300);
	border: $border-style-dark;
	position: absolute;
	left: 50%;
	margin-left: rem(-150);
	bottom: 0;
	box-shadow: 0 0 5px rgba($black, .3);
	z-index: -1;
	opacity: 0;
	@include trans;
	.nutrition-is-active & {
		opacity: 1;
		z-index: 100;
	}
	@include mq($small-break) {
		width: rem(350);
		margin-left: rem(-175);
		bottom: auto;
		top: 20%;
	}
	.icon-x {
		position: absolute;
		right: rem(10);
		top: rem(10);
		path {
			fill: $gray-med;
		}
	}
}
.recipe-info-inner {
	@include mq($large-break) {
		margin-right: rem(230);
	}
}
.ingredients {
	margin-bottom: $space-and-half;
}
.ingredient {
	padding-top: 0;
	margin-bottom: rem(14);
	padding-left: rem(70);
	cursor: pointer;
}
.step-list {
	counter-reset: item;
}
.step {
	margin-bottom: $space;
	&:before {
		content: counter(item) ". ";
		counter-increment: item;
		display: inline-block;
		margin-right: rem(4);
		font-family: $font;
		font-weight: 600;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

// Tips
.tip {
	border: $border-style-light;
	padding: rem(16) $pad 0;
	margin-bottom: $space-and-half;
	@include mq($large-break) {
		float: right;
		width: rem(200);
	}
	.heading {
		margin-bottom: rem(4);
	}
	p {
		font-style: italic;
		font-size: rem(14);
		color: $gray-med;
		line-height: 1.75;
	}
}

.content-utilities {
	padding-top: rem(30);
	margin-bottom: rem(48);
	@include mq($large-break) {
		margin-bottom: rem(60);
	}
}
