// Tabbed Carousel
.js .carousel--tabbed {
	display: none;
	@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
		display: block;
	}
}
.carousel--tabbed {
	position: relative;
	margin-bottom: rem(12);
	@include center-block;
	@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
		padding: 35.8%;
	}
	@include mq($large-break) {
		margin-bottom: 0;
	}
}
.c-tabbed {
	position: relative;
	@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
		position: static;
	}
	img {
		width: 100%;
	}
	.img-wrap {
		width: 100%;
		@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
			width: 60%;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 0;
			display: none;
			//@include transition(opacity .3s $cubic-bezier);
		}
	}
	&.this-is-active {
		.c-tab {
			&:after {
				@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
					width: 110%;
				}
			}
		}
		.img-wrap {
			display: block;
		}
	}
	&:hover,
	&.this-is-active {
		.c-title {
			color: $pink;
		}
	}
}
.c-tab {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba($white, .8);
	z-index: 10;
	width: 100%;
	@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
		height: 25%;
		width: 14%;
		top: 0;
		bottom: auto;
		border-bottom: $border-style;
		padding-right: $pad;
		width: 40%;
	}
	&:after {
		@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
			content: "";
			display: block;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			background-color: rgba($white, .8);
			z-index: 10;
			@include transition(width .3s $cubic-bezier);
		}
	}
}
@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
	.c-item-2 .c-tab {
		top: 25%;
	}
	.c-item-3 .c-tab {
		top: 50%;
	}
	.c-item-4 .c-tab {
		top: 75%;
		border-bottom: none;
	}
}
.c-title {
	position: relative;
	z-index: 15;
	font-size: rem(18);
	color: $black;
	font-weight: 300;
	font-size: rem(18);
	padding: $pad;
	@media (min-width: $px500) and (max-width: $medium-break), (min-width: $large-break) {
		padding: 0;
		@include vertical-align;
	}
	@media (min-width: $px700) and (max-width: $medium-break), (min-width: $large-break) {
		font-size: rem(22);
	}
	@media (min-width: $medium-break) and (max-width: $large-break) {
		font-size: rem(26);
	}
	@include mq($larger-break) {
		font-size: rem(24);
	}
}
