/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  .logo-link {
    margin-bottom: $space-half;
    @include mq($medium-break) {
      margin-bottom: $space-and-half;
    }
  }
}
.sub--large {
  height: rem(375);
  text-align: center;
  margin-bottom: $space;
}
// Footer grid
.f-g {
  margin-bottom: $space-half;
  @include mq($medium-break) {
    margin-bottom: $space-and-half;
  }
}
.f-gi-title {
  margin-bottom: rem(16);
  @media (max-width: $px350), (min-width: $medium-break) and (max-width: $px850) {
    font-size: rem(14);
  }
}
// Footer grid item
.f-gi {
  margin-bottom: $space-half;
  @include mq($medium-break) {
    &.gi {
      width: 21%;
    }
    &:first-child {
      width: 17%;
    }
  }
  a {
    font-family: $serif;
    font-size: rem(13);
    display: block;
    padding: rem(3) 0;
    color: $gray-dark;
    &:hover {
      color: $pink;
    }
  }
}
// Foter social
.f-social {
  text-align: center;
  margin-bottom: $space;
  .icon {
    margin: 0 $space-half;
  }
}

.legal {
  clear: both;
  text-align: center;
  padding: $pad 0;
  border-top: $border-style;
}
.copyright {
  font-size: rem(11);
  margin-bottom: rem(4);
  color: $gray-dark;
  font-family: $serif;
}
