[class^="icon-"], [class*=" icon-"], .icon {
  background-size: 100%;
  background-position: center center;
  display: inline-block;
}

.icon--standard {
  border: 1px solid $blue-light;
  background-color: $blue-light;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $white;
    path {
      fill: $blue-light;
      shape-rendering: auto;
    }
  }
}
.icon--alt {
  border: 1px solid $gray-med;
  background-color: $white;
  path {
    fill: $black;
  }
  &:hover {
    border-color: $blue-light;
    background-color: $blue-light;
    path {
      fill: $white;
      shape-rendering: auto;
    }
  }
}
.icon--disabled {
  cursor: default;
  border-color: $gray;
  path {
    fill: $gray;
  }
  &:hover {
    border-color: $gray;
    background-color: $white;
    path {
      fill: $gray;
    }
  }
}
.no-bg {
  background-image: none;
}
.no-bdr {
  border: none;
}

.icon--small {
  width: $icon-small;
  height: $icon-small;
  padding: rem(2);
}
.icon--medium {
  width: $icon-medium;
  height: $icon-medium;
  padding: rem(5);
}
.icon--large {
  width: $icon-large;
  height: $icon-large;
  padding: rem(8);
}
.icon--big {
  width: $icon-big;
  height: $icon-big;
  padding: rem(2);
}

.icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$icon-big / 2;
  margin-top: -$icon-big / 2;
  z-index: 10;
  opacity: .8;
  padding: 0;
  box-shadow: 0 0 3px rgba($black, .5);
  @include trans;
  &.icon--large {
    margin-left: -$icon-large / 2;
    margin-top: -$icon-large / 2;
  }
  &.icon--medium {
    margin-left: -$icon-medium / 2;
    margin-top: -$icon-medium / 2;
  }
}
.is-playing {
  .icon-play {
    opacity: 1;
    padding: 2px;
    background-color: $white;
    box-shadow: none;
  }
  path {
    fill: $pink;
  }
}

// Fixed upper right button (usually a close button)
.icon--fixed {
  position: fixed;
  top: rem(10);
  right: rem(10);
  z-index: 10000;
  &.icon-x {
    padding: rem(6);
    background-color: $black;
  }
  path {
    fill: $white;
  }
}

.more {
  .icon-plus {
    @include css3(transform, rotate(0deg));
    @include trans;
  }
  &:hover {
    .icon-plus {
      @include css3(transform, rotate(180deg));
    }
  }
}

.icon-facebook {
  background-color: $facebook-blue;
  border: 1px solid $facebook-blue;
  &:hover {
    background-color: $white;
    border-color: $facebook-blue;
    path {
      fill: $facebook-blue;
    }
  }
}
.icon-twitter {
  background-color: $twitter-blue;
  border: 1px solid $twitter-blue;
  &:hover {
    background-color: $white;
    border-color: $twitter-blue;
    path {
      fill: $twitter-blue;
    }
  }
}
.icon-instagram {
  background-color: $instagram-brown;
  border: 1px solid $instagram-brown;
  &:hover {
    background-color: $white;
    border-color: $instagram-brown;
    path {
      fill: $instagram-brown;
    }
  }
}
.icon-pinterest {
  background-color: $pinterest-red;
  border: 1px solid $pinterest-red;
  &:hover {
    background-color: $white;
    border-color: $pinterest-red;
    path {
      fill: $pinterest-red;
    }
  }
}

.icon-replay {
  padding: 1px;
}
