.section {
  position: relative;
  margin-bottom: $space;
}
.s-title {
  padding-bottom: rem(6);
  margin-bottom: rem(16);
  text-align: center;
}

// Featured Stories
.featured-stories {
  display: none;
  margin-bottom: 0;
  .gi {
    padding-left: 0;
    &:last-child {
      padding-right: 0;
    }
  }
  @include mq($px950) {
    display: block;
  }
  .b-title {
    font-size: rem(16);
    color: $pink;
    line-height: 1.2;
    @include mq($large-break) {
      font-size: rem(17);
    }
  }
}

// Daily Finds
.daily-finds {
  text-align: center;
  .block {
    max-width: rem(170);
    padding-bottom: rem(4);
    @include center-block;
  }
}

// Most Shared
.most-shared {
  .bi {
    padding-left: rem(50);
    position: relative;
    max-width: rem(265);
    margin-left: auto;
    margin-bottom: rem(14);
  }
  .block {
    padding-bottom: rem(4);
  }
  .number {
    position: absolute;
    left: 0;
  }
}

// You Might Like (Outbrain)
.you-might-like,
.you-may-also-like {
  .OUTBRAIN {
    max-width: rem(350);
    @include center-block;
    @include mq($px650) {
      max-width: rem(270);
    }
  }
  .ob_org_header {
    display: none;
  }
  .ob-tcolor {
    color: $black;
  }
  .ob-lcolor {
    color: $gray-med;
  }
  .item-link-container {
    float: none;
    width: 48.5%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: $space-half;
    &:nth-of-type(odd) {
      margin-right: 1.25%;
    }
    &:hover {
      .strip-rec-link-title {
        color: $pink;
      }
    }
  }
  .SB_2 .strip-img {
    width: 100%;
    height: auto;
  }
  .SB_2 .item-container {
    height: auto;
  }
  .SB_2 .ob-rec-link-img {
    float: none;
    margin-bottom: rem(4);
    max-height: rem(90);
    overflow: hidden;
    position: relative;
  }
  .SB_2 .item-container-ad .paid-distribution {
    top: rem(73);
  }
  .SB_2 .ob-text-content {
    padding-left: 0;
  }
  .SB_2 .strip-rec-link-title {
    @extend .delta;
    margin-bottom: rem(2);
  }
  .SB_2 .strip-rec-link-source {
    font-family: $sans;
    font-size: rem(11);
    line-height: 1;
  }
  .SB_2 .ob_what {
    padding: 0;
  }
}

// You May Also Like in Sidebar (Zergnet 3rd Party code. Hence the !importants)
// Wrapping it all in .you-may-also-like for the extra specificity.
.you-may-also-like {
  #zerglayout {
    margin-bottom: rem(-12) !important;
  }
  #zergnet-widget-29000 .zergheadline a {
    font-family: $font !important;
    font-weight: normal !important;
    font-size: rem(15) !important;
  }
  #zergnet-widget-29000 .zergentity {
    margin-top: 0 !important;
    margin-bottom: $space !important;
  }
  #zergnet-widget-29000 .zergentity:nth-of-type(1) {
    margin-left: rem(12) !important;
    margin-right: rem(4) !important;
  }
  #zergnet-widget-29000 .zergentity:nth-of-type(2) {
    margin-left: rem(6) !important;
    margin-right: rem(9) !important;
  }
  .zergentity:hover {
    a {
      color: $pink !important;
    }
  }
}

// From our Partners
.from-partners {
  .text--s {
    color: $gray-med;
    font-family: $sans;
  }
}

// Content Footer
.content-footer {
  margin-bottom: $space-double;
  @include mq($medium-break) {
    padding-top: $pad-half;
  }
  .s-title {
    border-bottom: none;
    display: block !important; // There's Outbrain embedded styles targeting my markup?? This is overriding the Outbrain style.
    padding-bottom: rem(6);
  }
  .g-4up-v2 {
    max-width: rem(560);
    margin-bottom: $space-double;
    @include center-block;
    @include mq($large-break) {
      max-width: rem(830);
    }
  }
  .gi {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: $space-half;
  }
  .feed-title {
    margin-bottom: rem(6);
  }
}
.newsletter-form {
  margin-bottom: rem(45);
}
// Block Layout for Content Footer Blocks
@mixin cf-blocks {
  text-align: center;
  .block,
  .item-link-container {
    float: none;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: $space-and-half;
    &:first-child {
      margin-left: 0;
    }
    @media (min-width: $px450) {
      width: 31.8%;
      margin-left: 2.3%;
      margin-right: -4px;
      display: inline-block;
    }
    .b-inner {
      max-width: rem(225);
      @include center-block;
    }
    .b-title,
    .strip-rec-link-title {
      @extend .delta;
      margin-bottom: rem(4);
    }
  }
}
.cf-blocks {
  @include cf-blocks;
}
// You Might Like in Content Footer (Outbrain)
.you-might-like-footer {
  clear: both;
  .s-title {
    display: none;
  }
  .ob_org_header {
    display: none;
  }
  .ob-tcolor {
    color: $black;
  }
  .ob-lcolor {
    color: $gray-med;
  }
  .AR_9.ob_strip_container {
    @include cf-blocks;
  }
  .strip-rec-link-title {
    display: inline;
  }
  .AR_9.ob-widget .ob-widget-items-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .AR_9.ob-widget .ob-dynamic-rec-link {
    max-width: rem(225);
    @include center-block;
  }
  .AR_9.ob-two-rows-strip-layout .ob-dynamic-rec-container {
    max-width: none;
  }
  .item-link-container:hover {
    .strip-rec-link-title {
      color: $pink;
      @include underline;
    }
  }
  .AR_9 .strip-img {
    width: auto;
    height: auto;
  }
  .AR_9 .ob_container_recs {
    position: relative;
  }
  .AR_9 .ob_container_recs .item-container {
    margin-bottom: 0;
    padding-right: 0;
    float: none;
    width: auto;
  }
  .AR_9 .strip-rec-link-source {
    font-family: $sans;
    font-size: rem(11);
    line-height: 1;
    padding-top: rem(4);
  }
  .AR_9.ob-two-rows-strip-layout .ob-rec-text {
    line-height: 1.2;
  }
  .AR_9 .ob_container_shadow_outer {
    display: none;
  }
  .AR_9 .ob_what {
    padding: 0;
    margin-top: rem(-25);
    @include mq($larger-break) {
      padding-right: $pad;
    }
  }
}
// Real Simple Apps
.rs-apps {
  max-width: rem(600);
  @include center-block;
  .alt-heading {
    margin-bottom: rem(25);
  }
}
.app-item {
  margin-bottom: $space-half;
  @include mq($medium-break) {
    margin-bottom: rem(5);
  }
}
.app-link{
  display: table;
  width: 100%;
  .app-img {
    display: table-cell;
    width: rem(85);
    @include mq($micro-break) {
      vertical-align: middle;
    }
  }
  strong {
    display: block;
    color: $black;
  }
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  .unify {
    display: table-cell;
    vertical-align: middle;
  }
}

// Sponsor Header Section
.sponsor-header {
  @include mq($medium-break) {
    margin-top: -$space;
  }
}
.spons-wrap {
  @include center-block;
  margin-bottom: rem(6);
  position: relative;
  z-index: 10;
}
.spons-title {
  text-transform: uppercase;
  color: $white;
  background-color: $red;
  font-size: rem(17);
  padding: rem(5) rem(10) rem(4);
  margin: 0;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: 11;
  span {
    border-top-color: $white;
    border-width: rem(6);
    display: inline-block;
    vertical-align: middle;
    margin-top: rem(-2);
  }
}
.spons-by {
  text-align: center;
  margin-bottom: rem(4);
  display: inline-block;
  span {
    font-family: $sans;
    color: $gray-dark;
    display: inline-block;
    vertical-align: middle;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
  @include mq($small-break) {
    display: inline-block;
  }
}
.spons-inner {
  cursor: pointer;
  background-color: $white;
  position: relative;
  display: inline-block;
  margin: 0 rem(4) $space-half 0;
}
.spons-inner:hover {
  box-shadow: 0 0 4px rgba($black, .5);
  .spons-menu {
    display: inline-block;
  }
}
.spons-menu {
  display: none;
  text-align: left;
  padding: $pad rem(20);
  background-color: $white;
  left: 0;
  width: 100%;
  position: absolute;
  margin-top: -1px;
  z-index: 10;
  box-shadow: 0 0 4px rgba($black, .5);
}

// Checklist Sections
.checklist-items {
  .s-title {
    margin-bottom: 0;
  }
  .s-header {
    border-bottom: $border-style-dark-2;
  }
  .cl-item {
    padding: 0;
    @include table;
    cursor: pointer;
    border-bottom: $border-style-light;
  }
}
.cl-item {
  // Checked checklist item.
  &.this-is-active {
    .has-strike {
      color: $gray-med;
      &:after {
        width: 100%;
      }
    }
    .cl-desc {
      p {
        color: $gray-med;
      }
    }
  }
}
.has-strike {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    width: 0;
    height: 2px;
    top: 50%;
    background-color: $gray-med-2;
    @include transition(width .35s $cubic-bezier);
  }
}
.cl-task,
.cl-desc {
  display: table-cell;
  vertical-align: middle;
}
.cl-task {
  position: relative;
  width: 53%;
  padding: $pad $pad $pad rem(45);
}
.cl-desc {
  width: 47%;
  padding: $pad-and-half $pad;
  background-color: $pink-light-2;
  p {
    margin-bottom: 0;
  }
}
