.secondary {
  padding-top: rem(34);
  @include mq($medium-break, max) {
    display: none;
  }
}
.sidebar {
  @include center-block;
  > .block,
  > .section {
    margin-bottom: $space-and-half;
    padding-bottom: $pad-and-half;
    border-bottom: $border-style-light;
    &:last-child {
      border-bottom: none;
    }
  }
  @include mq($medium-break) {
    float: right;
  }
}

// Alternate sidebar used on Home and Landing pages.
.sidebar--alt {
  > .section {
    border-bottom: none;
    margin-bottom: 0;
  }
  .subscribe-promo {
    border-bottom: none;
    margin-bottom: $space;
    .b-text {
      @include center-block;
      width: 80%;
      border-bottom: $border-style;
      padding-bottom: $pad-and-half;
    }
  }
  .daily-finds {
    .block {
      margin-bottom: rem(24);
    }
    .heading {
      background-color: $red;
      color: $white;
      padding: rem(2) rem(4) 0;
      display: inline-block;
      font-size: rem(22);
      line-height: 1;
    }
  }
}
