.secondary {
  padding-top: rem(34);
  @include mq($medium-break, max) {
    display: none;
  }
}
.sidebar {
  @include center-block;
  > .block,
  > .section {
    margin-bottom: $space-and-half;
    padding-bottom: $pad-and-half;
    border-bottom: $border-style-light;
    &:last-child {
      border-bottom: none;
    }
  }
  @include mq($medium-break) {
    float: right;
  }
}
