&lt;script src='https://www.google.com/recaptcha/api.js'&gt;&lt;/script&gt;
&lt;div class=&quot;email-friend&quot;&gt;
	&lt;div class=&quot;email-friend-inner&quot;&gt;
		&lt;a href=&quot;#close&quot; class=&quot;icon icon-x icon--med no-bg js-toggle-parent&quot;&gt;{{&gt; atoms-x }}&lt;/a&gt;
		&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;email-friend-form&quot;&gt;
			&lt;fieldset&gt;
				&lt;header class=&quot;form-head&quot;&gt;
					&lt;legend class=&quot;form-title gamma upper&quot;&gt;Email a Friend&lt;/legend&gt;
					&lt;p class=&quot;text--m&quot;&gt;Email &quot;10 Delicious Recipes for Leftover Wine | Real Simple&quot; will be e-mailed to the address(es) below.&lt;/p&gt;
				&lt;/header&gt; &lt;!-- /.form-head --&gt;
				&lt;div class=&quot;field-container field-recipients-email&quot;&gt;
					&lt;label class=&quot;is-vishidden&quot; for=&quot;recipients-email&quot;&gt;Recipient's Email&lt;/label&gt;
					&lt;input id=&quot;recipients-email&quot; type=&quot;text&quot; placeholder=&quot;Recipient's Email (required)&quot; /&gt;
					&lt;span class=&quot;field-desc&quot;&gt;You can enter multiple e-mail(s), separated by a comma (maximum of 5)&lt;/span&gt;
				&lt;/div&gt; &lt;!-- /.field-recipients-email --&gt;
				&lt;div class=&quot;field-container field-your-email&quot;&gt;
					&lt;label class=&quot;is-vishidden&quot; for=&quot;your-email&quot;&gt;Your Email&lt;/label&gt;
					&lt;input id=&quot;your-email&quot; type=&quot;text&quot; placeholder=&quot;Your Email (required)&quot; /&gt;
				&lt;/div&gt; &lt;!-- /.field-your-email --&gt;
				&lt;div class=&quot;field-container field-first-name&quot;&gt;
					&lt;label class=&quot;is-vishidden&quot; for=&quot;your-first-name&quot;&gt;Your first name&lt;/label&gt;
					&lt;input id=&quot;your-first-name&quot; type=&quot;text&quot; placeholder=&quot;Your first name (required)&quot; /&gt;
				&lt;/div&gt; &lt;!-- /.field-first-name --&gt;
				&lt;div class=&quot;field-container field-message&quot;&gt;
					&lt;label for=&quot;message-field&quot;&gt;Add a message &lt;span&gt;(500 character limit)&lt;/span&gt;&lt;/label&gt;
					&lt;textarea id=&quot;message-field&quot; rows=&quot;5&quot; placeholder=&quot;Write your message here&quot;&gt;&lt;/textarea&gt;
				&lt;/div&gt; &lt;!-- /.field-message --&gt;
				&lt;div class=&quot;field-container field-recaptcha&quot;&gt;
					&lt;label for=&quot;message-field&quot;&gt;Are you human? &lt;span&gt;(required)&lt;/span&gt;&lt;/label&gt;
					&lt;div class=&quot;g-recaptcha&quot; data-sitekey=&quot;6LcxdwITAAAAADonTKwaAqfeJcTZ0uwE8Jhcl4YH&quot;&gt;&lt;/div&gt;
				&lt;/div&gt; &lt;!-- /.field-recaptcha --&gt;
				&lt;footer class=&quot;form-foot text&quot;&gt;
					&lt;button class=&quot;btn&quot;&gt;Send&lt;/button&gt;
					&lt;a href=&quot;&quot; class=&quot;lower text--m&quot;&gt;Privacy Policy&lt;/a&gt;
				&lt;/footer&gt; &lt;!-- /.form-foot --&gt;
			&lt;/fieldset&gt;
		&lt;/form&gt;
	&lt;/div&gt; &lt;!-- /.email-friend-inner --&gt;
&lt;/div&gt; &lt;!-- /.email-friend --&gt;
