.icon-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-google { background-image: url('png/google.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-logo-facebook { background-image: url('png/logo-facebook.png'); background-repeat: no-repeat; }

.icon-logo-instagram { background-image: url('png/logo-instagram.png'); background-repeat: no-repeat; }

.icon-logo-pinterest { background-image: url('png/logo-pinterest.png'); background-repeat: no-repeat; }

.icon-logo-twitter { background-image: url('png/logo-twitter.png'); background-repeat: no-repeat; }

.icon-magnifying-glass { background-image: url('png/magnifying-glass.png'); background-repeat: no-repeat; }

.icon-map-marker { background-image: url('png/map-marker.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-minus { background-image: url('png/minus.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('png/play.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-real-simple-logo { background-image: url('png/real-simple-logo.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-x { background-image: url('png/x.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

