<picture>
  {{# src-l }}
    <source srcset="{{ img.src-l }}" media="(min-width: {{ img-break-l }}px)">
  {{/ src-l }}
  <source srcset="{{ img.src-m }}" media="(min-width: {{ img-break-m }}px)">
  <img itemprop="image" srcset="{{ img.src-s }}" alt="{{ img.alt }}">
</picture>
