&lt;div class=&quot;content-utility&quot;&gt;
	&lt;ul class=&quot;cu-list&quot;&gt;
    &lt;li class=&quot;cu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;&lt;span class=&quot;no-bg icon rounded icon-twitter icon--medium&quot;&gt;{{&gt; atoms-twitter }}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;cu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;&lt;span class=&quot;no-bg icon rounded icon-facebook icon--medium&quot;&gt;{{&gt; atoms-facebook }}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;cu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;&lt;span class=&quot;no-bg icon rounded icon-pinterest icon--medium&quot;&gt;{{&gt; atoms-pinterest }}&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt; &lt;!-- /.cu-list --&gt;
&lt;/div&gt; &lt;!-- /.content-utility --&gt;
