<div class="block block-headline">
	<a href="{{ url }}" class="b-inner">
    {{# date }}
      {{> atoms-time }}
    {{/ date }}
		<h2 class="b-title">{{ title }}</h2>
    {{# byline }}
      {{> molecules-byline }}
    {{/ byline }}
	</a> <!-- /.b-inner -->
</div> <!-- /.block-headline -->