<div class="block block-hero">
  <div class="b-inner">
    {{# nope }}
  	<a href="{{ url }}" class="b-link">
  		<div class="b-thumb">
  			{{> atoms-landscape-16x9 }}
  		</div> <!-- /.b-thumb -->
  	</a> <!-- /.b-link -->
  	{{/ nope }}
		<div class="b-text pad">
		  {{# breadcrumb }}
        {{> molecules-breadcrumb }}
      {{/ breadcrumb }}
			<h2 class="b-title"><a href="{{ url }}">{{ headline.medium }}</a></h2>
			{{# byline }}
        {{> molecules-byline }}
      {{/ byline }}
      {{# dek }}
      <div class="dek">
        <p>{{ dek }}</p>
      </div> <!-- /.dek -->
      {{/ dek }}
		</div> <!-- /.b-text -->
	</div> <!-- /.b-inner -->
</div> <!-- /.block-hero -->