<div class="block block-thumb {{ block-class }}">
  {{# kicker-top }}
    {{> molecules-kicker }}
  {{/ kicker-top }}

  {{# kicker-btm }}
  <div class="b-inner">
  {{/ kicker-btm }}
  {{^ kicker-btm }}
  <a href="{{ url }}" class="b-inner">
  {{/ kicker-btm }}

    <div class="b-thumb">

      {{# kicker-btm }}
      <a href="{{ url }}">
      {{/ kicker-btm }}

      <div class="img-wrap">
        {{# picturefill }}
          {{> atoms-picturefill }}
        {{/ picturefill }}
        {{^ picturefill }}
          {{> atoms-image }}
        {{/ picturefill }}

        {{# is-video }}
          <span class="icon icon-play icon--big rounded">{{> atoms-play }}</span>
        {{/ is-video}}

      </div> <!-- /.img-wrap -->

      {{# kicker-btm }}
      </a>
      {{/ kicker-btm }}

    </div> <!-- /.b-thumb -->
    <div class="b-text">
      {{# date }}
        {{> atoms-time }}
      {{/ date }}
      {{# number }}
        <span class="rounded number">{{ number }}</span>
      {{/ number }}

      {{# kicker-btm }}
        {{> molecules-kicker }}
        {{# is_sponsored }}
          {{> molecules-sponsor }}
        {{/ is_sponsored }}
      {{/ kicker-btm }}

      {{# kicker-btm }}
      <a href="{{ url }}">
      {{/ kicker-btm }}

      <h3 class="b-title {{ title-class }}"><span>{{{ title }}}</span></h3>

      {{# kicker-btm }}
      </a>
      {{/ kicker-btm }}

      {{# byline }}
        {{> molecules-byline }}
      {{/ byline }}
      {{# dek }}
      <div class="dek {{ dek-class }}">
        <p>{{ dek }}</p>
      </div> <!-- /.dek -->
      {{/ dek }}
      {{# cta }}
        <span class="cta">{{ cta }}</span>
      {{/ cta }}

      {{# runtime }}
        <span class="light text--r runtime">({{ runtime }})</span>
      {{/ runtime }}
    </div> <!-- /.b-text -->

  {{# kicker-btm }}
  </div> <!-- /.b-inner -->
  {{/ kicker-btm }}
  {{^ kicker-btm }}
  </a> <!-- /.b-inner -->
  {{/ kicker-btm }}

</div> <!-- /.block-thumb -->
