<div class="block block-thumb {{ block-class }}">
	<a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			<div class="img-wrap">{{> atoms-image }}</div>
		</div> <!-- /.b-thumb -->
		<div class="b-text">
      {{# date }}
        {{> atoms-time }}
      {{/ date }}
      {{# kicker }}
        {{> molecules-kicker }}
      {{/ kicker }}
      {{# number }}
        <span class="rounded number">{{ number }}</span>
      {{/ number }}
			<h2 class="b-title"><span>{{{ title }}}</span></h2>
      {{# byline }}
        {{> molecules-byline }}
      {{/ byline }}
      {{# dek }}
      <div class="dek">
        <p>{{ dek }}</p>
      </div> <!-- /.dek -->
      {{/ dek }}
		</div> <!-- /.b-text -->
	</a> <!-- /.b-inner -->
</div> <!-- /.block-thumb -->
