<div class="block block-headline">
	<a href="{{ url }}">
		<h2 class="b-title">{{ title }}</h2>
		{{# dates }}
    <div class="date-city">
      {{{ dates }}}
    </div> <!-- /.dek -->
    {{/ dates }}
	</a>
</div> <!-- /.block-headline -->