<div class="block block-inset">
  <a href="{{ url }}" class="inner">
		<div class="b-thumb">
			{{> atoms-landscape-4x3 }}
		</div> <!-- /.b-thumb -->
		<div class="b-text">
      <div class="unify">
        {{> molecules-kicker }}
  			<h2 class="headline">{{ headline.short }}</h2>
        {{> molecules-byline }}
      </div> <!-- /.unify -->
		</div> <!-- /.b-text -->
	</a> <!-- /.inner -->
</div> <!-- /.block-inset -->