<div class="block block-listicle-item {{ block-class }}">
	<div class="b-inner cf">
    <div class="b-head">
      <span class="listicle-number number--large {{ number-class }}">{{ number }}</span>
		  <h2 class="b-title"><span><a href="{{ url }}">{{{ title }}}</a></span></h2>
    </div> <!-- /.b-head -->
    <div class="b-thumb">
      <a href="{{ url }}">{{> molecules-image-with-caption }}</a>
    </div> <!-- /.b-thumb -->
    <div class="b-text">
      <div class="dek text">
        <p>{{{ dek }}}</p>
        <p>Get the {{{ cta }}}</p>
      </div> <!-- /.dek -->
		</div> <!-- /.b-text -->
	</div> <!-- /.b-inner -->
</div> <!-- /.block-listicle-item -->
