<div class="block block-listicle-item {{ block-class }}">
	<div class="b-inner cf">
    <div class="b-head">
      <span class="listicle-number number--large {{ number-class }}">{{ number }}</span>
      <h2 class="b-title">{{{ title }}}</h2>
    </div> <!-- /.b-head -->
    {{# b-thumb }}
      <div class="b-thumb">
        {{> molecules-image-with-social }}
      </div> <!-- /.b-thumb -->
    {{/ b-thumb }}
    <div class="b-text">
      <div class="dek text">
        {{{ dek }}}
        {{# cta }}
          <p>Get the {{{ cta }}}</p>
        {{/ cta }}
      </div> <!-- /.dek -->
		</div> <!-- /.b-text -->
	</div> <!-- /.b-inner -->
</div> <!-- /.block-listicle-item -->
