<section class="section featured-stories cf b-btm">
	<div class="g-4up lc">
    {{# story-blocks }}
		  <div class="gi">{{> molecules-block-thumb-headline }}</div>
    {{/ story-blocks }}
	</div> <!-- /.g-4up -->
</section> <!-- /.featured-stories -->
