<section class="section four-links pad">
  <header class="s-header">
    <h2 class="s-title">Four Short Links</h2>
    {{> molecules-byline }}
  </header> <!-- /.s-header -->
	<ol class="block-list">
    {{# number-blocks }}
		  <li>{{!> molecules-number-block }}</li>
    {{/ number-blocks }}
	</ol> <!-- /.block-list -->
  <footer class="s-footer t-bdr">
    <a href="{{ url }}" class="more">All Short Links <span class="icon icon-round">{{> atoms-arrow }}</span></a>
  </footer> <!-- /.s-footer -->
</section> <!-- /.four-links -->
