<section class="section daily-finds">
  <header class="s-header">
    <h3 class="s-title">Daily Finds</h3>
  </header> <!-- /.s-header -->
  {{# daily-finds }}
	  {{> molecules-block-thumb-headline }}
  {{/ daily-finds }}
</section> <!-- /.daily-finds -->
