<section class="section most-shared">
  <header class="s-header">
    <h3 class="s-title">Most Shared</h3>
  </header> <!-- /.s-header -->
  <ol class="block-list">
    {{# most-shared }}
  	  <li class="bi">{{> molecules-block-thumb-headline }}</li>
    {{/ most-shared }}
  </ol> <!-- /.block-list -->
</section> <!-- /.most-shared -->
