<section class="section from-partners">
  <header class="s-header">
    <h3 class="s-title heading">From Our Partners</h3>
  </header> <!-- /.s-header -->
  <ul class="headline-list">
    {{# from-partners }}
  	  <li class="li">
        <h4 class="t-serif title"><a href="{{ url }}"><span>{{ title }}</span></a></h4>
        <span class="text--s">From {{ partner }}</span>
      </li> <!-- /.li -->
    {{/ from-partners }}
  </ul> <!-- /.ul -->
</section> <!-- /.from-partners -->
