<section class="section follow-footer">
  <header class="s-header">
    <h3 class="s-title upper">Follow Real Simple</h3>
  </header> <!-- /.s-header -->
  <div class="g-4up-v2 cf">
    <div class="gi">
      <h4 class="heading center">Instagram</h4>
      <div class="block block-social-feed feed-instagram">
        <div class="b-content">
          <div class="b-thumb">
            <a href="{{ url }}"><img src="http://photos-a.ak.instagram.com/hphotos-ak-xaf1/t51.2885-15/10986114_867319969986192_723374470_n.jpg"></a>
          </div> <!-- /.b-thumb -->
        </div> <!-- /.b-content -->
        <a href="{{ url }}" class="btn-3d">See On <span class="icon icon-logo-instagram"></span></a>
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
    <div class="gi">
      <h4 class="heading center">Facebook</h4>
      <div class="block block-social-feed feed-facebook">
        <div class="b-content">
          <div class="fb-activity" data-site="realsimple.com" data-action="likes, recommends" data-width="190" data-height="185" data-colorscheme="light" data-header="false"></div>
        </div> <!-- /.b-content -->
        <a href="{{ url }}" class="btn-3d">See On <span class="icon icon-logo-facebook"></span></a>
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
    <div class="gi">
      <h4 class="heading center">Pinterest</h4>
      <div class="block block-social-feed feed-pinterest">
        <div class="b-content">
          <h4 class="b-title">
            <a href="{{ url }}" class="pin-account">
              <span class="avatar"><img src="https://s-media-cache-ak0.pinimg.com/avatars/realsimple_1410968745_140.jpg"></span>
              <span class="accountname">Real Simple</span>
            </a>
          </h4>
          <div class="b-thumbs">
            <a href="" class="pin-img"><img src="https://s-media-cache-ak0.pinimg.com/736x/6f/6b/2b/6f6b2b911eca7ced99e6ae4dd32701af.jpg"></a>
            <a href="" class="pin-img"><img src="https://s-media-cache-ak0.pinimg.com/736x/fe/37/56/fe3756cc2612a943f5c2fd2281f46b5a.jpg"></a>
            <a href="" class="pin-img"><img src="https://s-media-cache-ak0.pinimg.com/736x/4e/42/b9/4e42b90aaee7c05725aafaf4e8c9cec1.jpg"></a>
            <a href="" class="pin-img"><img src="https://s-media-cache-ak0.pinimg.com/236x/64/74/f0/6474f0128315474ff399af0d98d09a07.jpg"></a>
          </div> <!-- /.b-thumbs -->
        </div> <!-- /.b-content -->
        <a href="{{ url }}" class="btn-3d">See On <span class="icon icon-logo-pinterest"></span></a>
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
    <div class="gi">
      <h4 class="heading center">Twitter</h4>
      <div class="block block-social-feed feed-twitter">
        <div class="b-content">
          <div class="b-text">
            <div class="author-details">
              <a href="" class="screenname">@RealSimple</a> &bull; <span class="timestamp">34m</span>
            </div> <!-- /.t-meta -->
            <p>6 healthy casseroles that are perfect for breakfast, lunch, or dinner: <a href="">http://ow.ly/IQbFB</a></p>
          </div> <!-- /.b-thumb -->
        </div> <!-- /.b-content -->
        <a href="{{ url }}" class="btn-3d">See On <span class="icon icon-logo-twitter"></span></a>
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
  </div> <!-- /.g-4up -->
</section> <!-- /.follow-footer -->
