<section class="section follow-footer">
  <header class="s-header">
    <h3 class="s-title alt-heading">Follow Real Simple</h3>
  </header> <!-- /.s-header -->
  <div class="g-4up-v2 cf">
    <div class="gi">
      <h4 class="feed-title center"><a href="" class="no-bg icon rounded icon-pinterest icon--medium">{{> atoms-pinterest }}</a></h4>
      <div class="block block-social-feed feed-pinterest">
        <div class="b-content">
          <div class="b-thumbs">
            <a href="" class="pin-img"><img src="https://s-media-cache-ak0.pinimg.com/736x/6f/6b/2b/6f6b2b911eca7ced99e6ae4dd32701af.jpg"></a>
          </div> <!-- /.b-thumbs -->
        </div> <!-- /.b-content -->
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
    <div class="gi">
      <h4 class="feed-title center"><a href="" class="no-bg icon rounded icon-facebook icon--medium">{{> atoms-facebook }}</a></h4>
      <div class="block block-social-feed feed-facebook">
        <a href="{{ url }}" class="b-link">
          <div class="b-thumb">
            <img src="http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/455586795.jpg?itok=N1euulGH">
          </div> <!-- /.b-thumb -->
          <div class="b-content">
            <div class="b-text p-abs p-btm">
              <p>5 Things You Shouldn’t Say to a Recent College Graduate</p>
            </div> <!-- /.b-thumb -->
          </div> <!-- /.b-content -->
        </a> <!-- /.b-link -->
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
    <div class="gi">
      <h4 class="feed-title center"><a href="" class="no-bg icon rounded icon-instagram icon--medium">{{> atoms-instagram }}</a></h4>
      <div class="block block-social-feed feed-instagram">
        <div class="b-content">
          <div class="b-thumb">
            <a href="{{ url }}"><img src="http://photos-a.ak.instagram.com/hphotos-ak-xaf1/t51.2885-15/10986114_867319969986192_723374470_n.jpg"></a>
          </div> <!-- /.b-thumb -->
        </div> <!-- /.b-content -->
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
    <div class="gi">
      <h4 class="feed-title center"><a href="" class="no-bg icon rounded icon-twitter icon--medium">{{> atoms-twitter }}</a></h4>
      <div class="block block-social-feed feed-twitter">
        <div class="b-content">
          <div class="b-text">
            <p><i>6 healthy casseroles that are perfect for breakfast, lunch, or dinner: <a href="">http://ow.ly/IQbFB</a></i></p>
          </div> <!-- /.b-thumb -->
        </div> <!-- /.b-content -->
      </div> <!-- /.block-social-feed -->
    </div> <!-- /.gi -->
  </div> <!-- /.g-4up-v2 -->
</section> <!-- /.follow-footer -->
