<section class="section you-might-like">
  <header class="s-header">
    <h3 class="s-title heading">You Might Like</h3>
    <!-- <span class="text--s light t-sans">from Outbrain</span> -->
  </header> <!-- /.s-header -->
  <div class="OUTBRAIN" data-src="http://www.realsimple.com/food-recipes" data-widget-id="SB_2" data-ob-template="realsimple" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>
</section> <!-- /.you-might-like -->
