<section class="section you-may-also-like">
  <header class="s-header">
    <h3 class="s-title heading no-space-btm">You May Also Like</h3>
    <div class="text--s center light t-sans space-btm">from Zergnet</div>
  </header> <!-- /.s-header -->
  <div id="zergnet-widget-29000"></div>
  <script language="javascript" type="text/javascript">
    (function() {
      var zergnet = document.createElement('script');
      zergnet.type = 'text/javascript'; zergnet.async = true;
      zergnet.src = 'http://www.zergnet.com/zerg.js?id=29000';
      var znscr = document.getElementsByTagName('script')[0];
      znscr.parentNode.insertBefore(zergnet, znscr);
    })();
  </script>
</section> <!-- /.you-might-like -->
