<section class="section rs-apps">
  <h3 class="alt-heading center">Real Simple Apps</h3>
  <ul class="app-list">
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="http://d.pr/i/12lje+" alt="No Time to Cook? App"></div>
        <div class="unify">
          <strong class="upper">No Time to Cook? App</strong>
          <p>A selection of 900 (and growing) delicious, easy recipes you can prepare in as little as 20 minutes.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="http://d.pr/i/BzWc+" alt="Checklists App"></div>
        <div class="unify">
          <strong class="upper">Checklists App</strong>
          <p>Create to-dos from scratch or choose from 100+ custom lists.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="http://d.pr/i/1a6gr+" alt="Wedding Checklists App"></div>
        <div class="unify">
          <strong class="upper">Wedding Checklists App</strong>
          <p>Take the stress out of planning your special day.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="../../../source/images/meal-planner-promo-img.png" height="100" width="83" alt="App Image"></div>
        <div class="unify">
          <strong class="upper">Weeknight Meal Planner</strong>
          <p>Get five complete weeknight dinner plans emailed to you each week.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
  </ul> <!-- /.app-list -->
</section> <!-- /.rs-apps -->
