<section class="section rs-apps">
  <h3 class="alt-heading center">Real Simple Apps</h3>
  <ul class="app-list">
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="http://d.pr/i/12lje+" alt="App Image"></div>
        <div class="unify">
          <strong class="upper">No Time to Cool?</strong>
          <p>Over 900 recipes updated monthly with instructions and timers.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="http://d.pr/i/BzWc+" alt="App Image"></div>
        <div class="unify">
          <strong class="upper">Checklists</strong>
          <p>Create to-do lists from scratch or choose from 100+ custom lists.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="http://d.pr/i/1a6gr+" alt="App Image"></div>
        <div class="unify">
          <strong class="upper">Wedding Checklists</strong>
          <p>Take the stress out of planning your special day.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
    <li class="app-item">
      <a href="" class="app-link">
        <div class="img-wrap app-img"><img src="http://d.pr/i/1aG0k+" alt="App Image"></div>
        <div class="unify">
          <strong class="upper">Gift Guide</strong>
          <p>Find great gifts under $50, plus dozens of creative ideas.</p>
        </div> <!-- /.unify -->
      </a> <!-- /.app-link -->
    </li> <!-- /.app-item -->
  </ul> <!-- /.app-list -->
</section> <!-- /.rs-apps -->
