<section class="section also-on-rs">
  <header class="s-header">
    <h3 class="s-title heading">Also On Real Simple</h3>
  </header> <!-- /.s-header -->
  <div class="OUTBRAIN" data-src="http://www.realsimple.com/home-organizing" data-widget-id="AR_9" data-ob-template="realsimple" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>
</section> <!-- /.also-on-rs -->
