<section class="section also-on-rs">
  <header class="s-header">
    <h3 class="s-title heading">Also On Real Simple</h3>
  </header> <!-- /.s-header -->
  <div class="cf-blocks also-blocks cf">
    {{# also-blocks }}
      {{> molecules-block-thumb-headline }}
    {{/ also-blocks }}
  </div> <!-- /.cf-blocks -->
</section> <!-- /.also-on-rs -->
