<section class="section you-might-like-footer">
  {{# nope }}
    <header class="s-header">
      <h3 class="s-title heading">You Might Like</h3>
    </header> <!-- /.s-header -->
  {{/ nope }}
  <div class="OUTBRAIN" data-src="http://www.realsimple.com/home-organizing" data-widget-id="AR_9" data-ob-template="realsimple" ></div>
  <script type="text/javascript" async="async" src="http://widgets.outbrain.com/outbrain.js"></script>
</section> <!-- /.you-might-like-footer -->
