/* Links */
a {
  text-decoration: none;
  color: $pink;
  &:hover, &:focus {
    color: darken($pink, 10);
  }
  p {
    color: $gray-dark-2;
  }
}
a.alt {
  color: $blue-light;
  &:hover {
    @include underline;
  }
}
a img {
  border: none;
}
.more {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.cta {
  text-transform: uppercase;
}
