<div class="social-share">
	<ul class="ss-list">
    <li class="ss-item"><a href="{{ url }}"><span class="no-bg icon rounded icon-twitter icon--medium">{{> atoms-twitter }}</span></a></li>
    <li class="ss-item"><a href="{{ url }}"><span class="no-bg icon rounded icon-facebook icon--medium">{{> atoms-facebook }}</span></a></li>
    <li class="ss-item"><a href="{{ url }}"><span class="no-bg icon rounded icon-pinterest icon--medium">{{> atoms-pinterest }}</span></a></li>
  </ul> <!-- /.ss-list -->
</div> <!-- /.social-share -->
