<div class="social-share">
	<ul class="ss-list">
    <li class="ss-item">
      <a class="ss-link" href="{{ url }}">
        {{# has-social-count }}<span class="ss-count">2k</span>{{/ has-social-count }}
        <span class="no-bg icon rounded icon-facebook icon--medium">{{> atoms-facebook }}</span>
      </a> <!-- /.ss-link -->
    </li> <!-- /.ss-item -->
    <li class="ss-item">
      <a class="ss-link" href="{{ url }}">
        {{# has-social-count }}<span class="ss-count">936</span>{{/ has-social-count }}
        <span class="no-bg icon rounded icon-twitter icon--medium">{{> atoms-twitter }}</span>
      </a> <!-- /.ss-link -->
    </li> <!-- /.ss-item -->
    <li class="ss-item">
      <a class="ss-link" href="{{ url }}">
        {{# has-social-count }}<span class="ss-count">782</span>{{/ has-social-count }}
        <span class="no-bg icon rounded icon-pinterest icon--medium">{{> atoms-pinterest }}</span>
      </a> <!-- /.ss-link -->
    </li> <!-- /.ss-item -->
  </ul> <!-- /.ss-list -->
</div> <!-- /.social-share -->
