<div class="content-utility">
	<ul class="cu-list">
    <li class="cu-item"><a href="{{ url }}"><span class="no-bg icon rounded icon-twitter icon--medium">{{> atoms-twitter }}</span></a></li>
    <li class="cu-item"><a href="{{ url }}"><span class="no-bg icon rounded icon-facebook icon--medium">{{> atoms-facebook }}</span></a></li>
    <li class="cu-item"><a href="{{ url }}"><span class="no-bg icon rounded icon-pinterest icon--medium">{{> atoms-pinterest }}</span></a></li>
  </ul> <!-- /.cu-list -->
</div> <!-- /.content-utility -->
