<section class="sponsor-header">
  <div class="spons-wrap">
    <div class="spons-inner">
      <h4 class="spons-title">{{ sponsor-title }} <span class="arrow--down"></span></h4>
      <div class="spons-menu">
        <ul class="headline-list spons-list">
          {{# sponsor-list }}
            <li><a href="{{ url }}">{{ title }}</a></li>
          {{/ sponsor-list }}
        </ul> <!-- /.spons-list -->
        <a href="{{ url }}" class="upper alt">See All</a>
      </div> <!-- /.spons-menu -->
    </div> <!-- /.spons-inner -->
    <div class="spons-by"><span class="text--s-m">presented by</span> {{> atoms-image }}</div>
  </div> <!-- /.spons-wrap -->
</section> <!-- /.sponsor-header -->
