<article class="slide {{ slide-class }}">
  <div class="slide-inner cf">
    <div class="slide-img">
      {{> molecules-image-with-social }}
    </div> <!-- /.slide-img -->
    <div class="slide-text text">
      <h2 class="slide-title">{{ slide-title }}</h2>
      <p>{{{ slide-dek }}}</p>
    </div> <!-- /.slide-text -->
  </div> <!-- /.slide-inner -->
</article> <!-- /.slide -->
