<article class="slide {{ slide-class }}">
  <div class="slide-inner cf">
    <div class="slide-img">
      {{> molecules-image-with-social }}
    </div> <!-- /.slide-img -->

    {{# is-welcome-slide }}
      <div class="slide-intro slide-text">
        <p class="dek">{{ slide-intro }}</p>
        {{> molecules-byline }}
        <a href="" class="btn btn--start">Start <span class="icon icon-arrow-right no-bg">{{> atoms-arrow-right }}</span></a>
      </div> <!-- /.slide-intro -->
    {{/ is-welcome-slide }}
    {{^ is-welcome-slide }}
      <div class="slide-text text">
        <h2 class="slide-title">{{ slide-title }}</h2>
        <p>{{{ slide-dek }}}</p>
      </div> <!-- /.slide-text -->
    {{/ is-welcome-slide }}

  </div> <!-- /.slide-inner -->
</article> <!-- /.slide -->
