<li class="carousel-item {{ carousel-item-class }}">
  <a href="{{ url }}">
    {{# is-starter-item }}
      <span class="upper">Start</span>
    {{/ is-starter-item }}
    {{> atoms-image }}
  </a>
</li> <!-- /.carousel-item -->
