<div class="slide-navigation">
  <span class="icon no-bg rounded icon-arrow-left icon--alt icon--medium js-slide-hover-prev">{{> atoms-arrow-left }}</span>
  <span class="icon no-bg rounded icon-arrow-right icon--alt icon--medium js-slide-hover-next">{{> atoms-arrow-right }}</span>
  <div class="slide-count"><span class="slide-index"></span> of 9</div>
</div> <!-- /.slide-navigation -->
