<div class="slide-navigation">
  <a href="{{ url }}" class="icon no-bg rounded icon-arrow-left icon--alt icon--medium js-slide-hover-prev">{{> atoms-arrow-left }}</a>
  <a href="{{ url }}" class="icon no-bg rounded icon-arrow-right icon--alt icon--medium js-slide-hover-next">{{> atoms-arrow-right }}</a>
  <div class="slide-count"><span class="slide-index"></span> of 31</div>
</div> <!-- /.slide-navigation -->
