<div class="content-utilities">
  <a href="" class="btn--util btn--util-save">
    <span class="icon icon--disc">{{> atoms-disc }}</span>
    <span class="btn-text">Save This {{ content-type }}</span>
  </a> <!-- /.btn--util -->
  <a href="" class="btn--util btn--util-all">
    <span class="icon icon--all-list">{{> atoms-all-list }}</span>
    <span class="btn-text">All <br> {{ content-type }}s</span>
  </a> <!-- /.btn--util -->
  <a href="" class="btn--util btn--util-print">
    <span class="icon icon--print-fill">{{> atoms-print-fill }}</span>
    <span class="btn-text">Print This {{ content-type }}</span>
  </a> <!-- /.btn--util -->
</div> <!-- /.content-utilities -->
