<div class="dropdown">
  <div class="dd-title">{{ dd-title }} <span class="arrow--down"></span></div>
  <div class="dd-menu">
    <ul class="headline-list dd-list">
      {{# dd-list }}
        <li class="dd-item"><a class="upper" href="{{ url }}">{{ title }}</a></li>
      {{/ dd-list }}
    </ul> <!-- /.dd-list -->
  </div> <!-- /.dd-menu -->
</div> <!-- /.dropdown -->
