<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #e31e30;"></span>
		<span class="sg-label">$red: #e31e30</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ef4e74;"></span>
		<span class="sg-label">$pink: #ef4e74</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f06793;"></span>
		<span class="sg-label">$pink-light: #f06793</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #264770;"></span>
		<span class="sg-label">$blue-dark: #264770</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0074bc;"></span>
		<span class="sg-label">$blue: #0074bc</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #479cd6;"></span>
		<span class="sg-label">$blue-light: #479cd6</span>
	</li>
</ul>
