&lt;div class=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;main cf lc&quot; role=&quot;main&quot; aria-live=&quot;polite&quot;&gt;
		{{# sponsored }}
			{{&gt; molecules-sponsor-header }}
		{{/ sponsored }}
		&lt;div class=&quot;primary&quot;&gt;
			&lt;section class=&quot;primary-inner&quot;&gt;
				&lt;article class=&quot;article article-list-type daily-finds-list-type&quot; itemscope itemtype=&quot;http://schema.org/Article&quot;&gt;

					{{# article-list-head }}
						&lt;header class=&quot;article-header cf&quot;&gt;
							{{&gt; molecules-kicker }}
							&lt;h1 class=&quot;lead-headline&quot; itemprop=&quot;headline&quot;&gt;{{ title }}&lt;/h1&gt;
							&lt;h2 class=&quot;lead-subtitle&quot; itemprop=&quot;alternativeHeadline&quot;&gt;{{ subtitle }}&lt;/h2&gt;
							&lt;div class=&quot;article-meta&quot;&gt;
								{{&gt; molecules-byline }}
								{{&gt; atoms-time }}
							&lt;/div&gt; &lt;!-- /.article-details --&gt;
							&lt;div class=&quot;article-tools&quot;&gt;
								{{&gt; molecules-social-share }}
								{{&gt; molecules-content-utility }}
							&lt;/div&gt; &lt;!-- /.article-tools --&gt;
						&lt;/header&gt; &lt;!-- /.article-header --&gt;
					{{/ article-list-head }}

					&lt;div class=&quot;ad-block ad-300x250 block center hide-med hide-large hide-larger space-double-btm&quot;&gt;
					  &lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/4579100/300x250_Brand_Banner.jpg&quot;&gt;&lt;/a&gt;
					&lt;/div&gt; &lt;!-- /.ad-300x250 --&gt;

					&lt;section class=&quot;section article-body&quot; itemprop=&quot;articleBody&quot;&gt;
						&lt;div class=&quot;listicle vivid-red&quot;&gt;
							{{# listicle-items-1 }}
								{{&gt; molecules-block-listicle-item }}
							{{/ listicle-items-1 }}

							&lt;hr class=&quot;hr--s&quot;&gt;

							&lt;div class=&quot;ad-blocks ad-responsive ad-instream&quot;&gt;
							  &lt;div class=&quot;ad-block ad-300x250 hide-larger&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://dqckmuwjiytix.cloudfront.net/a/8933/img/300x250_Free%20Sample_static.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
							  &lt;div class=&quot;ad-block ad-728x90 hide-large hide-med hide-small&quot;&gt;&lt;a href=&quot;&quot;&gt;&lt;img src=&quot;http://s1.2mdn.net/viewad/3340030/clx_clb_e40024_value-oxi_rev_728x90.jpg&quot;&gt;&lt;/a&gt;&lt;/div&gt;
							&lt;/div&gt; &lt;!-- /.ad-responsive --&gt;

							&lt;hr class=&quot;hr--l&quot;&gt;

							{{# listicle-items-2 }}
								{{&gt; molecules-block-listicle-item }}
							{{/ listicle-items-2 }}

						&lt;/div&gt; &lt;!-- /.listicle --&gt;

						&lt;div class=&quot;more-links text&quot;&gt;
							&lt;span class=&quot;upper space-half-r&quot;&gt;More:&lt;/span&gt; &lt;a href=&quot;&quot;&gt;Health&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Nutrition&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Cooking&lt;/a&gt;
						&lt;/div&gt; &lt;!-- /.more-links --&gt;

					&lt;/section&gt; &lt;!-- /.article-body --&gt;

				&lt;/article&gt; &lt;!-- /.gallery --&gt;
				{{!&gt; organisms-follow-footer }}
			&lt;/section&gt; &lt;!-- /.primary-inner --&gt;
		&lt;/div&gt; &lt;!-- /.primary --&gt;

		&lt;div class=&quot;secondary&quot;&gt;
    	{{&gt; organisms-sidebar }}
    &lt;/div&gt; &lt;!-- /.secondary --&gt;

	&lt;/div&gt;&lt;!-- /role=main --&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.page --&gt;
