&lt;section class=&quot;section rs-apps&quot;&gt;
  &lt;h3 class=&quot;alt-heading center&quot;&gt;Real Simple Apps&lt;/h3&gt;
  &lt;ul class=&quot;app-list&quot;&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;http://d.pr/i/12lje+&quot; alt=&quot;App Image&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;No Time to Cool?&lt;/strong&gt;
          &lt;p&gt;Over 900 recipes updated monthly with instructions and timers.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;http://d.pr/i/BzWc+&quot; alt=&quot;App Image&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;Checklists&lt;/strong&gt;
          &lt;p&gt;Create to-do lists from scratch or choose from 100+ custom lists.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;http://d.pr/i/1a6gr+&quot; alt=&quot;App Image&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;Wedding Checklists&lt;/strong&gt;
          &lt;p&gt;Take the stress out of planning your special day.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;http://d.pr/i/1aG0k+&quot; alt=&quot;App Image&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;Gift Guide&lt;/strong&gt;
          &lt;p&gt;Find great gifts under $50, plus dozens of creative ideas.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
  &lt;/ul&gt; &lt;!-- /.app-list --&gt;
&lt;/section&gt; &lt;!-- /.rs-apps --&gt;
