&lt;section class=&quot;section rs-apps&quot;&gt;
  &lt;h3 class=&quot;alt-heading center&quot;&gt;Real Simple Apps&lt;/h3&gt;
  &lt;ul class=&quot;app-list&quot;&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;http://d.pr/i/12lje+&quot; alt=&quot;No Time to Cook? App&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;No Time to Cook? App&lt;/strong&gt;
          &lt;p&gt;A selection of 900 (and growing) delicious, easy recipes you can prepare in as little as 20 minutes.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;http://d.pr/i/BzWc+&quot; alt=&quot;Checklists App&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;Checklists App&lt;/strong&gt;
          &lt;p&gt;Create to-dos from scratch or choose from 100+ custom lists.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;http://d.pr/i/1a6gr+&quot; alt=&quot;Wedding Checklists App&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;Wedding Checklists App&lt;/strong&gt;
          &lt;p&gt;Take the stress out of planning your special day.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
    &lt;li class=&quot;app-item&quot;&gt;
      &lt;a href=&quot;&quot; class=&quot;app-link&quot;&gt;
        &lt;div class=&quot;img-wrap app-img&quot;&gt;&lt;img src=&quot;../../../source/images/meal-planner-promo-img.png&quot; height=&quot;100&quot; width=&quot;83&quot; alt=&quot;App Image&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;unify&quot;&gt;
          &lt;strong class=&quot;upper&quot;&gt;Weeknight Meal Planner&lt;/strong&gt;
          &lt;p&gt;Get five complete weeknight dinner plans emailed to you each week.&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.unify --&gt;
      &lt;/a&gt; &lt;!-- /.app-link --&gt;
    &lt;/li&gt; &lt;!-- /.app-item --&gt;
  &lt;/ul&gt; &lt;!-- /.app-list --&gt;
&lt;/section&gt; &lt;!-- /.rs-apps --&gt;
